<template>
  <q-item>
    <q-item-section>
      <div class="text-primary text-caption">
        {{ $t('label.question') }}: {{ _question.question }}
        <sup v-if="_question.question_type == 'required'" class="text-red">*</sup>
      </div>
      <div class="flex">
      <span style="max-width: 100px;">
      <q-btn-toggle
        v-model="_answer"
        no-caps
        spread
        push
        glossy
        unelevated
        :options="[
          { label: $t('btn.no'), value: 'no' },
          { label:  $t('btn.yes'), value: 'yes' }
        ]"
      />
      </span>
      <small v-if="$v._answer.$error" class="text-red q-pa-sm">{{ $t(String($v._answer.$errors?.[0]?.$message ?? null)) }}</small>
    </div>
    </q-item-section>
  </q-item>
</template>
<script setup lang="ts">
import { computed, onMounted } from 'vue';
import { helpers, requiredIf } from '@vuelidate/validators';
import useVuelidate from '@vuelidate/core';

const props = defineProps({
  question: {
    type: Object,
    required: true
  },
  answer: {
    type: Object,
    required: true
  }
});
const emit = defineEmits(['update:answer']);
const _question = computed(() => {
  return props.question.attributes;
});
const _answer = computed({
  get() {
    return props.answer?.answer;
  },
  set(value) {
    emit('update:answer', { ...props.answer, answer: value });
  }
});
const $v = useVuelidate(
  {
    _answer: {
      required: helpers.withMessage(
        'rules.required',
        requiredIf(() => {
          return _question.value.question_type == 'required';
        })
      )
    }
  },
  { _answer: _answer }
);

onMounted(async () => {
  await $v.value._answer.$validate();
});
</script>

<style scoped lang="scss"></style>
