<template>
  <q-item>
    <q-item-section>
      <div class="text-primary text-caption">
        {{ $t('label.question') }}: {{ _question.question }}
        <sup v-if="_question.question_type == 'required'" class="text-red">*</sup>
      </div>
      <q-input
        v-model="_answer"
        :placeholder="_placeholder"
        :mask="inputMask"
        :error="$v._answer.$error"
        :error-message="String($v._answer.$errors?.[0]?.$message ?? null)"
        outlined
        dense
      >
        <template #prepend>
          <q-icon name="event" class="cursor-pointer">
            <q-popup-proxy cover transition-show="scale" transition-hide="scale">
              <q-date v-model="_answer" :mask="dateMask">
                <div class="row items-center justify-end">
                  <q-btn v-close-popup label="Close" color="primary" flat />
                </div>
              </q-date>
            </q-popup-proxy>
          </q-icon>
        </template>
      </q-input>
    </q-item-section>
  </q-item>
</template>
<script setup lang="ts">
import { useI18n } from 'vue-i18n';
import { computed, onMounted } from 'vue';
import useVuelidate from '@vuelidate/core';
import { helpers, requiredIf } from '@vuelidate/validators';

const i18nLocale = useI18n();
const props = defineProps({
  question: {
    type: Object,
    required: true
  },
  answer: {
    type: Object,
    required: true
  }
});
const emit = defineEmits(['update:answer']);
const _question = computed(() => {
  return props.question.attributes;
});
const _answer = computed({
  get() {
    return props.answer?.answer;
  },
  set(value) {
    emit('update:answer', { ...props.answer, answer: value });
  }
});

const dateFormats = {
  'en-US': { date_mask: 'MM-DD-YYYY', input_mask: '##-##-####', placeholder: 'mm-dd-yyyy' },
  'de-DE': { date_mask: 'DD.MM.YYYY', input_mask: '##.##.####', placeholder: 'dd.mm.yyyy' },
  'fr-FR': { date_mask: 'DD/MM/YYYY', input_mask: '##/##/####', placeholder: 'yy/mm/aaaa' },
  default: { date_mask: 'MM-DD-YYYY', input_mask: '##-##-####', placeholder: 'mm-dd-yyyy' }
};

const dateMask = computed(() => {
  const format = dateFormats[i18nLocale.locale.value] || dateFormats.default;
  return format.date_mask;
});
const inputMask = computed(() => {
  const format = dateFormats[i18nLocale.locale.value] || dateFormats.default;
  return format.input_mask;
});

const _placeholder = computed(() => {
  const format = dateFormats[i18nLocale.locale.value] || dateFormats.default;
  return format.placeholder;
});

const $v = useVuelidate(
  {
    _answer: {
      required: helpers.withMessage(
        'This field is required',
        requiredIf(() => {
          return _question.value.question_type == 'required';
        })
      )
    }
  },
  { _answer: _answer }
);

onMounted(async () => {
  await $v.value._answer.$validate();
});
</script>

<style scoped lang="scss"></style>
