<template>
  <q-item>
    <q-item-section>
      <div class="text-primary text-caption">
        {{ $t('label.question') }}: {{ _question.question }}
        <sup v-if="_question.question_type == 'required'" class="text-red">*</sup>
      </div>
      <q-checkbox
        v-model="_answer"
        :options="_question.options"
        class="q-mt-sm q-ml-sm"
        outlined
        dense
        options-dense
        :val="option"
        :label="option"
      />
      <small v-if="$v._answer.$error" class="text-red">{{ String($v._answer.$errors?.[0]?.$message ?? null) }}</small>
    </q-item-section>
  </q-item>
</template>
<script setup lang="ts">
import { computed, onMounted } from 'vue';
import useVuelidate from '@vuelidate/core';
import { helpers, requiredIf } from '@vuelidate/validators';

const props = defineProps({
  question: {
    type: Object,
    required: true
  },
  answer: {
    type: Object,
    required: true
  }
});
const emit = defineEmits(['update:answer']);
const _question = computed(() => {
  return props.question.attributes;
});
const _answer = computed({
  get() {
    return props.answer?.answer ?? [];
  },
  set(value) {
    emit('update:answer', { ...props.answer, answer: value });
  }
});
const $v = useVuelidate(
  {
    _answer: {
      required: helpers.withMessage(
        'This field is required',
        requiredIf(() => {
          return _question.value.question_type == 'required';
        })
      )
    }
  },
  { _answer: _answer }
);

onMounted(async () => {
  await $v.value._answer.$validate();
});
</script>

<style scoped lang="scss"></style>
