<template>
  <q-table
    ref="tableRef"
    v-model:pagination="pagination"
    v-model:selected="selected"
    :title="$t('label.messages')"
    title-class="font-anton text-uppercase"
    :rows="data"
    :columns="columns"
    :loading="isLoading"
    :filter="filter"
    :rows-per-page-options="[0]"
    :visible-columns="visibleColumns"
    :style="`height: ${height - 90}px`"
    binary-state-sort
    row-key="id"
    selection="single"
    wrap-cells
    virtual-scroll
    @request="onRequest"
  >
    <template #body="props">
      <q-tr :class="selected[0]?.id == props.row.id ? 'selected cursor-pointer' : 'cursor-pointer'" @click="onRowClick(props.row)" >
        <q-td></q-td>
        <q-td key="date">
          <since-date :date="props.row.attributes?.createdAt" />
        </q-td>
        <q-td key="subject" align="left">
          {{ props.row.attributes?.subject }}
          <q-tooltip :delay="1500">
            {{ props.row.id }}
          </q-tooltip>
        </q-td>
        <q-td key="to">
          <div v-if="props.row.attributes?.candidateTo?.data">
            <thumbnail :photo="props.row.attributes?.candidateTo?.data.attributes.photo" :rounded="false" />
          </div>
          <div v-else>
            <span v-for="(e, i) in props.row.attributes?.to?.data" :key="i">
              <thumbnail :photo="e.attributes.photo" :rounded="false" />
            </span>
          </div>
        </q-td>
        <q-td key="from">
          <div v-if="props.row.attributes?.candidateFrom?.data">
            <thumbnail :photo="props.row.attributes?.candidateFrom?.data.attributes.photo" :rounded="false" />
          </div>
          <div v-else>
            <span v-for="(e, i) in props.row.attributes?.from?.data" :key="i">
              <thumbnail :photo="e.attributes.photo" :rounded="false" />
            </span>
          </div>
        </q-td>
      </q-tr>
    </template>
    <template #top-right>
      <q-btn-toggle
        v-model="filter.box"
        no-caps
        toggle-color="primary"
        class="q-mr-sm"
        :options="[
          { label: $t('btn.all'), value: 'all' },
          { label: $t('btn.inbox'), value: 'inbox' },
          { label: $t('btn.outbox'), value: 'outbox' }
        ]"
      />
      <q-input
        v-model="filter.q"
        class="q-mr-sm"
        outlined
        dense
        clearable
        debounce="500"
        :placeholder="$t('label.search')"
      >
        <template #append>
          <q-icon name="search" />
        </template>
      </q-input>
    </template>
  </q-table>
</template>

<script setup lang="ts">
import { ref, onMounted, watch } from 'vue';
// import { defaults } from 'components/default.ts';
import { thumbnail, sinceDate } from 'src/components';
import { useI18n } from 'vue-i18n';
import useTable from 'src/composables/table';

defineProps({
  height: {
    type: Number,
    default: null
  }
});

const emit = defineEmits(['row-click']);
defineExpose({
  refresh
});

const selected = ref([]);
const { t } = useI18n(),
  tableRef = ref(null),
  columns = [
    {
      name: 'createdAt',
      label: t('label.date'),
      align: 'left',
      sortable: true,
      headerClasses: 'text-capitalize'
    },
    {
      name: 'subject',
      label: t('label.subject'),
      align: 'left',
      sortable: true,
      headerClasses: 'text-capitalize'
    },
    {
      name: 'to.username',
      label: t('label.to'),
      align: 'left',
      sortable: true,
      headerClasses: 'text-capitalize'
    },
    {
      name: 'from.username',
      label: t('label.from'),
      align: 'left',
      sortable: true,
      headerClasses: 'text-capitalize'
    }
  ],
  visibleColumns = columns.map(e => e.name),
  { filter, onRequest, pagination, isLoading, data } = useTable('messages');

onMounted(() => {
  if(data.value.length){
    onRowClick(data.value[0])
  }
});

watch(()=>data.value, (currentVal)=>{
  if(currentVal?.length){
    onRowClick(currentVal[0])
  }
  if (!filter.value.box) {
    filter.value.box = 'all'
  }
})

function refresh() {
  tableRef.value.requestServerInteraction();
}
function onRowClick(row) {
  selected.value = [row];
  emit('row-click', row);
}
</script>
