<template>
  <div>
    <q-list class="full-width">
      <q-item dense>
        <q-item-section thumbnail>{{ $t('label.from') }}:</q-item-section>
        <q-item-section>
          {{
            message.attributes?.candidateFrom?.data
              ? message.attributes?.candidateFrom.data.attributes.email
              : message.attributes?.from?.data[0]?.attributes?.email
          }}
        </q-item-section>
        <q-item-section side>
          <span>
            <q-btn dense icon="reply" @click="() => (reply_message_prompt = true)">
              <q-tooltip>reply message</q-tooltip>
            </q-btn>
            <q-btn dense icon="forward">
              <q-tooltip>forward message</q-tooltip>
            </q-btn>
            <q-btn dense icon="delete" @click="() => (confirm_delete_message = true)">
              <q-tooltip>delete message</q-tooltip>
            </q-btn>
          </span>
        </q-item-section>
      </q-item>

      <q-separator />

      <q-item dense>
        <q-item-section thumbnail>{{ $t('label.to') }}:</q-item-section>
        <q-item-section>{{ message.attributes?.to?.data[0]?.attributes.email ?? message.attributes?.candidateTo?.data?.attributes?.email}}</q-item-section>
        <q-item-section side>{{ message.attributes?.createdAt }}</q-item-section>
      </q-item>

      <q-separator />

      <q-item dense>
        <q-item-section thumbnail>{{ $t('label.subject') }}:</q-item-section>
        <q-item-section> {{ message.attributes?.subject }}:</q-item-section>
      </q-item>
    </q-list>
    <q-card dense bordered :style="`height: ${height - 190}px; overflow-y: scroll`">
      <q-card-section>
        <q-item>
          <q-item-section>
            <q-markdown :src="message.attributes?.message" />
          </q-item-section>
        </q-item>
      </q-card-section>
    </q-card>
  </div>
  <q-dialog v-model="reply_message_prompt" persistent>
    <q-card flat style="min-width: 650px; max-width: 80%">
      <q-bar>{{ $t('dialog.replyEmail') }}</q-bar>
      <q-card-section class="q-pt-md">
        <q-input
          :model-value="replyTo ? `${replyTo.attributes.firstname} ${replyTo.attributes.lastname}` : ''"
          :label="$t('label.replyTo')"
          readonly
          outlined
          dense
        />
        <q-input v-model="replySubject" :label="$t('label.subject')" dense outlined class="q-mb-sm q-mt-sm" />
        <div id="edit-reply">
          <editor-field
            :model-value="replied_message"
            outlined
            placeholder="write message here"
            @update:model-value="value => (replied_message = value)"
          />
        </div>
      </q-card-section>

      <q-card-actions align="right" class="text-primary">
        <q-btn v-close-popup flat no-caps :label="$t('btn.cancel')" />
        <q-btn flat no-caps :label="$t('btn.send')" @click="onClickReply" />
      </q-card-actions>
    </q-card>
  </q-dialog>
  <confirm-delete
    :id="message.id"
    v-model="confirm_delete_message"
    type="message"
    icon="delete"
    :item-label="$t('dialog.confirmDeleteMessage', { message: message.attributes?.subject })"
    @deleted="onMessageDeleted"
  >
  </confirm-delete>
</template>

<script setup lang="ts">
import { ref, watch } from 'vue';
import { confirmDelete, editorField } from 'src/components';
import { notificationService } from '../../services/_singletons';
import { useHttp, useService } from 'src/core/composables';
import { useMessageService } from 'src/core/services';

const props = defineProps({
  message: {
    type: Object,
    default: null
  },
  height: {
    type: Number,
    default: null
  }
});
const emit = defineEmits(['refresh']);

const confirm_delete_message = ref(false);
const reply_message_prompt = ref(false);
const replied_message = ref(props.message.attributes?.message);
const replySubject = ref(props.message.attributes?.subject);
const replyTo = ref(props.message.attributes?.from?.data[0]);
const candidateTo = ref(props.message.attributes?.candidateFrom?.data);

const onMessageDeleted = () => {
  emit('refresh');
};

const { create } = useMessageService(useHttp());
const onClickReply = () =>
  useService(
    create,
    [{
       to: replyTo.value.id,
       candidateTo: candidateTo.value.id,
       subject: props.message.attributes.subject,
       message: replied_message.value
    }],
    {
      onSuccess: () => {
        notificationService.showSuccess('Message replied successfully.');
        reply_message_prompt.value = false;
        emit('refresh');
      },
      onError: () => {
        notificationService.showError('Unknown error occurred');
      }
    }
  );

watch(
  () => props.message,
  currentVal => {
    replyTo.value = currentVal.attributes?.candidateFrom?.data ?? currentVal.attributes?.from?.data;
  }
);
</script>

<style>
#edit-reply .q-field--outlined .q-field__inner .q-field__control {
  padding: 0;
}

#edit-reply .q-field--auto-height.q-field--labeled .q-field__control-container {
  padding-top: 0;
}
</style>
