<template>
  <div v-for="(image, i) in props.header" :key="i">
    <drop-zone
      :photo="image.attributes.url"
      :rounded="false"
      :square="false"
      icon="header"
      @change="v => onChangeImage(v, image.id)"
    />
  </div>
</template>

<script setup lang="ts">
import { dropZone } from 'src/components';
import { useCompanyStore } from 'src/stores';

import { format } from 'quasar';
import { notificationService } from 'src/services/_singletons';
import { useI18n } from 'vue-i18n';

const { humanStorageSize } = format;
const { t } = useI18n();
const companyStore = useCompanyStore();

const props = defineProps({
  header: {
    type: Object,
    default: null
  }
});

const onChangeImage = async (resource, id) => {
  const maxSize = companyStore.settings?.maxUploadSizePhoto as number;
  if (maxSize && resource.size > maxSize) {
    notificationService.showError(t('notify.photoSizeValidation', { size: humanStorageSize(maxSize) }));
    return;
  }

  const formData = new FormData();
  formData.append('files', resource.binary);

  await companyStore.saveHeader(id, formData).then(response => {
    console.log('header saved', response);
  });
};
</script>
