<template>
  <q-form v-if="c">
    <q-card flat>
      <q-card-section class="flex justify-center">
        <drop-zone
          :photo="c.logo?.data?.attributes?.url"
          :rounded="false"
          :square="true"
          icon="domain"
          @change="onChangeImage"
        />
      </q-card-section>
      <q-card-section>
        <InputField v-model="c.name" :label="$t('label.companyname')" class="q-pb-md" />
        <InputField v-model="c.homepage" :label="$t('label.companyWebsite')" class="q-pb-md" />
        <SelectField v-model="c.size" :options="sizeOptions" :label="$t('label.numberOfEmployees')" class="q-pb-md" />
        <IndustryField v-model="c.industry" :label="$t('label.industry')" class="q-pb-md" />
        <EditorField
          :model-value="c.description"
          :label="$t('label.companyDescription')"
          :toolbar="[
            ['left', 'justify', 'unordered'],
            ['bold', 'italic', 'underline', 'subscript', 'superscript'],
            ['undo', 'redo']
          ]"
          class="q-pb-md"
          @update:model-value="value => (c.description = value)"
        />
        <div class="row">
          <CountrySelect v-model="country" :label="$t('location.country')" class="col-6 q-pr-sm" />
          <CityInput
            v-model:location="c.location"
            :label="$t('label.companyLocation')"
            class="col-6 q-pl-sm"
            @update:location="value => (c.location = value)"
          />
        </div>
      </q-card-section>
      <cancel-or-save :loading="loading" @save="update" />
    </q-card>
  </q-form>
</template>

<script setup lang="ts">
import InputField from 'components/fields/InputField.vue';
import SelectField from 'components/fields/SelectField.vue';
import IndustryField from 'components/fields/IndustryField.vue';
import CountrySelect from 'components/fields/CountrySelect.vue';
import CityInput from 'components/fields/CityInput.vue';
import { cancelOrSave, dropZone } from 'src/components';
import { useCompanyStore } from 'src/stores';
import { Company } from 'src/types';
import { toRef, ref } from 'vue';
import { format } from 'quasar';
import { notificationService } from 'src/services/_singletons';
import { useI18n } from 'vue-i18n';
import EditorField from 'components/fields/EditorField.vue';

const { humanStorageSize } = format;
const { t } = useI18n();
const companyStore = useCompanyStore();
const emit = defineEmits<{
  (e: 'update', value: Company): void;
}>();

const props = defineProps({
  company: {
    type: Object,
    default: null
  },
  loading: {
    type: Boolean,
    default: false
  }
});

const country = ref('');
const c = toRef(props, 'company');
const sizeOptions = ['1', '2-5', '6-10', '11-50', '51-100', '101-250', '251-500', '501-1000', '>1001'];

function update() {
  emit('update', c);
}

const onChangeImage = async resource => {
  // TODO: fix double upload

  const maxSize = companyStore.settings?.maxUploadSizePhoto as number;
  if (maxSize && resource.size > maxSize) {
    notificationService.showError(t('notify.photoSizeValidation', { size: humanStorageSize(maxSize) }));
    return;
  }

  const formData = new FormData();
  formData.append('files', resource.binary);

  await companyStore.saveLogo(formData).then(response => {
    if (response.status == 200) {
      notificationService.showSuccess(t('notify.companyLogoUploadedSuccess'));
    }
  });
};
</script>
