<template>
  <q-table
    ref="tableRef"
    v-model:pagination="pagination"
    wrap-cells
    :title="$t('menu.companies')"
    title-class="text-uppercase font-anton"
    :rows="data"
    :rows-per-page-options="rowsPerPage"
    :columns="columns"
    :loading="isLoading"
    :filter="filter"
    hide-header
    binary-state-sort
    row-key="id"
    :visible-columns="visibleColumns"
    @request="onRequest"
  >
    <template #body="props">
      <q-tr>
        <q-td name="name" class="full-width">
          <q-item clickable :to="`/public/company/${props.row.id}`">
            <q-item-section avatar>
              <thumbnail :photo="props.row.attributes?.logo" size="50px" icon="domain" />
            </q-item-section>
            <q-item-section>{{ props.row.attributes.name }}</q-item-section>
            <q-item-section side> {{ props.row.attributes.jobs.data.length }} {{ $t('jobs') }} </q-item-section>
          </q-item>
        </q-td>
      </q-tr>
    </template>
  </q-table>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { useI18n } from 'vue-i18n';
import useTable from '../../composables/table';
import { thumbnail } from 'src/components';

const { t } = useI18n(),
  // columns can be hidden. Maybe this is getting usefull if we know the
  // role of a user in the frontend
  visibleColumns = ref(['createdAt']),
  { filter, onRequest, pagination, isLoading, rowsPerPage, data } = useTable('companies');
const columns = [
  {
    name: 'createdAt',
    align: 'left',
    label: t('label.company'),
    sortable: true,
    headerClasses: 'text-capitalize'
  }
];
</script>
