<template>
  <q-form v-if="c">
    <q-card flat>
      <q-card-section>
        {{ $t('help.privacyIntro') }}
      </q-card-section>
      <q-card-section>
        <input-field v-model="c.privacyUrl" :label="$t('label.privacyUrl')" class="q-pb-md" clearable/>
        <editor-field
          :model-value="c.privacyText"
          :label="$t('label.privacyText')"
          :toolbar="[
            ['left', 'justify', 'unordered'],
            ['bold', 'italic', 'underline', 'subscript', 'superscript'],
            ['undo', 'redo']
          ]"
          class="q-pb-md"
          @update:model-value="value => (c.privacyText = value)"
        />
      </q-card-section>
      <cancel-or-save :loading="loading" @save="update" />
    </q-card>
  </q-form>
</template>

<script setup lang="ts">
import { cancelOrSave, inputField, editorField } from 'src/components';
import { Company } from 'src/types';
import { toRef, watch } from 'vue';

const emit = defineEmits<{
  (e: 'update', value: Company): void;
}>();

const props = defineProps({
  company: {
    type: Object,
    default: null
  }
});

const c = toRef(props, 'company');

function update() {
  emit('update', c);
}

watch(()=>props.company, newValue=>{
  c.value=newValue;
})
</script>
