<template>
  <div class="flex justify-end">
    <q-select
      v-model="value"
      :options="forms"
      dense
      outlined
      style="min-width: 200px"
      map-options
      :disable="!enabled"
      :loading="isLoading"
      :label="$t('label.applicationForm')"
      emit-value
    />
    <q-toggle v-if="$props.switchable" v-model="formEnabled"></q-toggle>
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted, watch, computed } from 'vue';
import { useFormStore } from 'stores/form';
import { defaults } from 'components/default';

const props = defineProps({
  form: {
    type: Number,
    default: null
  },
  switchable: {
    type: Boolean,
    default: false
  },
  enabled: {
    type: Boolean,
    default: true
  }
});
const emit = defineEmits(['update:form', 'update:enabled']);

const forms = ref([]);
const value = ref(props.form);

const formStore = useFormStore(),
  isLoading = ref(formStore.isLoading);

onMounted(() => {
  fetchForms();
});

watch(
  () => value.value,
  currentValue => {
    emit('update:form', currentValue);
  }
);
watch(
  () => props.form,
  currentValue => {
    value.value = currentValue;
  }
);

const formEnabled = computed({
  get() {
    return props.enabled;
  },
  set(value) {
    emit('update:enabled', value)
  }
})
const fetchForms = async () => {
  await formStore.fetchForms({ filter: '', pagination: { ...defaults.pagination }});
  forms.value = formStore.forms.result.map(item => {
    return {
      value: item.id,
      label: item.attributes.name
    };
  });
};
</script>
