<template>
  <select-field
    :options="options"
    :option-label="careerLevelName"
    clearable
    :optional="props.optional"
    emit-value
    :i18n-prefix="careerLevelName"
  />
</template>

<script setup lang="ts">
import { selectField } from 'src/components';
import { careerLevelOptions, careerLevelName } from 'src/settings';

const props = defineProps({
  optional: {
    required: false,
    type: Boolean,
    default: false
  },
  label: {
    required: false,
    type: String,
    default: ''
  }
});

const options = careerLevelOptions;
</script>
