<template>
  <select-field
    :model-value="modelValue"
    :options="options"
    :optional="optional"
    :label="label ?? $t(categoryName)"
    clearable
    @update:model-value="v => $emit('update:model-value', v)"
  />
</template>

<script setup lang="ts">
import { selectField } from 'src/components';
import { categoryOptions, categoryName } from 'src/settings';

defineEmits(['update:model-value']);

defineProps({
  optional: {
    required: false,
    type: Boolean,
    default: false
  },
  label: {
    required: false,
    type: String,
    default: null
  },
  modelValue: {
    type: String,
    default: ''
  }
});

const options = categoryOptions;
</script>
