<template>
  <div class="col-8 q-mt-lg">
    <div class="input-label">
      {{ title }}
      <Chip />
    </div>
    <q-checkbox
      v-model="value"
      size="sm"
      :label="label"
    />
  </div>
</template>

<script setup lang="ts">
import Chip from './ChipField.vue';
import { computed } from 'vue';
const emit = defineEmits(['update:model-value']);

const props = defineProps({
  optional: {
    required: false,
    type: Boolean,
    default: false
  },
  label: {
    required: false,
    type: String,
    default: ''
  },
  title: {
    required: false,
    type: String,
    default: ''
  },
  modelValue: {
    type: Boolean,
    default: false
  }
});

const value = computed({
  get(){
    return props.modelValue ?? false;
  },
  set(value){
    emit('update:model-value', value);
  }
})
</script>
