<template>
  <q-input
    id="location"
    ref="locationRef"
    v-model.trim="locationDisplay"
    stack-label
    clearable
    :label="props.label"
    name="location"
    outlined
    dense
  >
  </q-input>
</template>

<script setup lang="ts">
import { ref, watch, onMounted } from 'vue';
import { useMeta } from 'quasar';

const place = ref(null);

const metaData = {
  // insert google api and set callback=mapsCallback
  script: {
    google: {
      src: `https://maps.googleapis.com/maps/api/js?key=${
        import.meta.env.VITE_GOOGLE_API_KEY
      }&callback=mapsCallback&libraries=places&language=de`,
      id: 'GoogleAPI'
    }
  }
};

window.mapsCallback = function () {
  const autocompleteInput = locationRef.value.getNativeElement();
  googleSearchBox.value = new window.google.maps.places.Autocomplete(autocompleteInput, {
    fields: ['formatted_address', 'address_components'],
    types: ['(cities)']
  });
  if (countries.value) {
    googleSearchBox.value.setComponentRestrictions({
      country: countries.value
    });
  }
  googleSearchBox.value.addListener('place_changed', () => {
    place.value = googleSearchBox.value.getPlace();
    locationChanged(place.value);
  });
};

useMeta(metaData);

const emit = defineEmits(['update:modelValue', 'update:location']);
const props = defineProps({
  modelValue: {
    type: Object,
    default: null
  },
  optional: {
    required: false,
    type: Boolean,
    default: false
  },
  label: {
    required: false,
    type: String,
    default: ''
  },
  country: {
    country: false,
    type: String,
    default: 'de'
  },
  location:{
    type:Object,
    default:null
  },
});

const googleSearchBox = ref(window.google);
const countries = ref(props.country);
const selectedLocation = ref(props.modelValue);
const locationDisplay = ref(selectedLocation?.value?.formatted_address);

const locationForm = ref(['location', 'locality', 'administrative_area_level_1', 'country', 'postal_code']);

const locationData = ref({
  streetAddress: '',
  addressLocality: '',
  addressRegion: '',
  postalCode: '',
  addressCountry: ''
});

const locationNameFormat = ref({
  street_number: 'short_name',
  route: 'long_name',
  locality: 'long_name',
  administrative_area_level_1: 'short_name',
  country: 'long_name',
  postal_code: 'short_name'
});

const locationRef = ref(null);

watch(
  () => place.value,
  currentValue => {
    emit('update:location', currentValue);
  }
);
watch(
  () => props.location,
  currentValue => {
    if(currentValue){
      locationDisplay.value=currentValue.formatted_address
    }
  }
);

function locationChanged() {
  const addressComponents = place.value.address_components;
  insertLocatationData(addressComponents);
  locationDisplay.value = place.value.formatted_address;
  emit('update:modelValue', locationDisplay.value);
}

function insertLocatationData(loc) {
  for (const component of locationForm.value) {
    switch (component) {
      case 'location':
        locationData.value.streetAddress = getLocationComp(loc, 'street_number') + ' ' + getLocationComp(loc, 'route');
        break;
      case 'locality':
        locationData.value.addressLocality = getLocationComp(loc, component);
        break;
      case 'administrative_area_level_1':
        locationData.value.addressRegion = getLocationComp(loc, component);
        break;
      case 'country':
        locationData.value.addressCountry = getLocationComp(loc, component);
        break;
      case 'postal_code':
        locationData.value.postalCode = getLocationComp(loc, component);
        break;
    }
  }
}

function getLocationComp(place, type) {
  console.log('getLocationComp', place, type);
  for (const component of place) {
    if (component.types[0] === type) {
      return component[locationNameFormat.value.type];
    }
  }
  return '';
}

onMounted(()=>{
    if(props.location){
      locationDisplay.value=props.location.formatted_address
    }
})
</script>
<style>
  .pac-container, .pac-item {
  z-index: 2147483647 !important;
}
</style>
