<template>
  <q-input v-model="value" outlined dense :rules="['anyColor']" class="my-input">
    <template #append>
      <q-icon name="colorize" class="cursor-pointer">
        <q-popup-proxy cover transition-show="scale" transition-hide="scale">
          <q-color v-model="value" />
        </q-popup-proxy>
      </q-icon>
    </template>
  </q-input>
</template>

<script setup lang="ts">
import { toRef } from 'vue';
const props = defineProps({
  color: {
    type: String,
    required: false,
    default: ''
  }
});

defineEmits(['changeColor']);

const value = toRef(props, 'color');
</script>
