<template>
  <q-dialog v-model="confirm" persistent>
    <q-card>
      <q-card-section class="row items-center">
        <q-avatar :icon="icon" color="primary" text-color="white" />
        <span class="q-ml-sm">{{ $t(itemLabel) }}</span>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn v-close-popup :label="$t('btn.cancel')" flat no-caps />
        <q-btn v-close-popup :label="$t('btn.delete')" no-caps color="primary" @click="onClickDelete" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script lang="ts" setup>
import { computed } from 'vue';

const props = defineProps<{
  modelValue: boolean;
  type: 'applicationForm' | 'employee' | 'event' | 'job' | 'message' | 'companyWorkflow';
  icon?: string;
  id: number | undefined;
  itemLabel?: string;
}>();

const emit = defineEmits(['update:modelValue', 'deleted']);
import { notificationService } from 'src/services/_singletons';
import { useI18n } from 'vue-i18n';
import { useDeleteService } from 'src/core/composables';

const { t } = useI18n();
const deleteService = useDeleteService(props.type);

const confirm = computed({
  get() {
    return props.modelValue;
  },
  set(value) {
    emit('update:modelValue', value);
  }
});

const onClickDelete = async () => {
  return deleteService.value
    ?.execute(props.id)
    .then(r => {
      if (!('error' in r) && r.status == 200) {
        notificationService.showSuccess(t('notify.deletedSuccessMessage', { name: t(`label.${props.type}`) }));
        emit('deleted');
      }
    })
    .catch(error => {
      console.log('Error ', error);
      notificationService.showError(t('notify.unknownError'));
    });
};
</script>
