<template>
  <select-field :options="options" clearable :label="label" :i18n-prefix="contractName" :optional="props.optional" />
</template>

<script setup lang="ts">
import { selectField } from 'src/components';
import { contractOptions, contractName } from 'src/settings';

const props = defineProps({
  optional: {
    required: false,
    type: Boolean,
    default: false
  },
  label: {
    required: false,
    type: String,
    default: null
  }
});

const options = contractOptions;
</script>
