<template>
  <select-field
    :model-value="value"
    :options="options"
    clearable
    :label="props.label"
    :optional="props.optional"
    map-options
    @update:model-value="v => $emit('update:model-value', v?.value)"
  />
</template>

<script setup lang="ts">
import { selectField } from 'src/components';
import { onMounted, ref, watch } from 'vue';
import countries from 'i18n-iso-countries';
import DE from 'i18n-iso-countries/langs/de.json';

const props = defineProps({
  optional: {
    required: false,
    type: Boolean,
    default: false
  },
  label: {
    required: false,
    type: String,
    default: null
  },
  modelValue: {
    type: String,
    default: null
  }
});

defineEmits(['update:model-value']);

const value = ref(props.modelValue);
const german = ref(''),
  french = ref(''),
  english = ref('');

const languages = [
  { value: 'de', label: german },
  { value: 'fr', label: french },
  { value: 'en', label: english }
  // { value: 'it', label: 'italic' },
  // { value: 'es', label: 'spanish' }
];
watch(
  () => props.modelValue,
  newValue => {
    if (typeof props.modelValue == 'string') {
      value.value = languages.find(item => item.value == newValue);
    } else {
      value.value = newValue;
    }
  }
);
onMounted(() => {
  countries.registerLocale(DE);
  german.value = countries.getName('DE', 'de');
  french.value = countries.getName('FR', 'de');
  english.value = countries.getName('GB', 'de');

  if (typeof props.modelValue == 'string') {
    value.value = languages.find(item => item.value == props.modelValue);
  }
  // countries.getName('ES', 'de');
  // countries.getName('IT', 'de');
});

const options = ref(languages);
</script>
