<template>
  <q-select v-model="currency" :options="currencies" outlined dense />
</template>

<script setup lang="ts">
import { ref } from 'vue';

const currencies = ['CHF', 'EUR', 'GBP', 'USD'],
  currency = ref('EUR');
</script>
