<template>
  <div class="flex justify-end">
    <q-input v-model="value" :disable="!enabled" clearable stack-label outlined dense mask="date" style="width: 200px;" :rules="dateRules">
      <template #append>
        <q-icon name="event" class="cursor-pointer">
          <q-popup-proxy cover transition-show="scale" transition-hide="scale">
            <q-date v-model="value" @update:model-value="v => emit('update:modelValue', v)">
              <div class="row items-center justify-end">
                <q-btn v-close-popup :label="$t('btn.close')" color="primary" flat />
              </div>
            </q-date>
          </q-popup-proxy>
        </q-icon>
      </template>
    </q-input>
    <q-toggle v-model="enabled" style="height: 100%;"></q-toggle>
  </div>
</template>

<script setup lang="ts">
import { computed } from 'vue';
const emit = defineEmits(['update:modelValue', 'update:required']);
const props = defineProps({
  modelValue: {
    type: String,
    default: new Date()
  },
  required: {
    type: Boolean,
    default: true
  }
})
const value = computed({
  get() {
    return props.modelValue
  },
  set(value) {
    emit('update:modelValue', value)
  }
})
const enabled = computed({
  get() {
    return props.required
  },
  set(value) {
    emit('update:required', value)
  }
})
const dateRules = computed(() => {
  return enabled.value ? ['date'] : [];
});
</script>
