<template>
  <q-select
    v-model="value"
    dense
    map-options
    :multiple="props.multiple"
    :loading="isLoading"

    emit-value
    outlined
    :options="departments"
    :label="uppercase($t('label.department'))"
    @update:model-value="v => $emit('update:model-value', v)"
  />
</template>

<script setup lang="ts">
import { ref, onMounted } from 'vue';
import { useDepartmentStore } from 'stores/department';
import { defaults } from 'components/default';
import { useEmployeeStore } from 'stores/employee';

const props = defineProps({
  department: {
    type: Object,
    default: function() {
      return null
    }
  },
  multiple: {
    type: Boolean,
    default: true
  }
});

defineEmits(['update:model-value'])

const departments = ref([]);
const value = ref(props.department?.map(item => {
    return {
      value: item.id,
      label: item.attributes?.name
    }
  }
));

const employee = useEmployeeStore(),
  isLoading = ref(employee.isLoading),
  departmentStore = useDepartmentStore();

onMounted(() => {
  fetchDepartments();
});

const fetchDepartments = async () => {
  await departmentStore.fetchDepartments({ filter: '', pagination: { ...defaults.pagination }});
  departments.value = departmentStore.departments.result.map(item => {
    return {
      value: item.id,
      label: item.attributes.name
    };
  });
};

function uppercase(str) {
  return str.charAt(0).toUpperCase() + str.slice(1);
}
</script>
