<template>
  <q-select
    v-model="darkmode"
    :options="options"
    :label="$t('display.label')"
    outlined
    dense
    emit-value
    map-options
    options-dense
    style="min-width: 150px"
    @update:model-value="value => setDarkmode(value)"
  >
    <template #option="scope">
      <q-item v-bind="scope.itemProps">
        <q-item-section avatar>
          <q-icon :name="'img:display/' + scope.opt.icon" />
        </q-item-section>
        <q-item-section>
          <q-item-label>{{ scope.opt.label }}</q-item-label>
        </q-item-section>
      </q-item>
    </template>
  </q-select>
</template>

<script setup lang="ts">
import { useQuasar } from 'quasar';
import { computed } from 'vue';
import { useI18n } from 'vue-i18n';
import { EDisplay } from 'src/enums/EDisplay';
const { t } = useI18n();

const props = defineProps({
  value: {
    type: String,
    default: 'auto'
  }
});

const emit = defineEmits(['display']);

const $q = useQuasar();

const options = [
  { label: t('display.bright'), value: 'bright', icon: 'light.png' },
  { label: t('display.dark'), value: 'dark', icon: 'dark.png' },
  { label: t('display.auto'), value: 'auto', icon: 'device_default.png' }
];

const darkmode = computed(() => options.find(item => item.value === props.value));

function setDarkmode(value: string) {
  emit('display', value);
  $q.dark.set(EDisplay[value]);
}
</script>
