<template>
  <div class="custom-field">
    <div class="flex">
      <q-item-label class="text-grey-6" style="font-size: 12px; font-weight: 400">{{ label }}</q-item-label>
      <optional-marker v-if="optional" size="sm" />
    </div>
    <q-editor
      ref="editorRef"
      :model-value="editor"
      :placeholder="placeholder"
      :height="$props.height"
      :min-height="$props.height"
      :toolbar="toolbar"
      class="full-width"
      @paste="onPaste"
      @update:model-value="value => emit('update:modelValue', value)"
    >
      <template #token>
        <q-btn-dropdown
          ref="tokenRef"
          dense
          no-caps
          no-wrap
          unelevated
          color="grey-4"
          text-color="primary"
          size="sm"
          :label="$t('label.fields')"
        >
          <q-list dense>
            <q-item
              v-for="(item, index) in placeholders"
              :key="index"
              tag="label"
              clickable
              @click="add(item.placeholder)"
            >
              <q-item-section side>
                <q-icon :name="item.icon" />
              </q-item-section>
              <q-item-section>{{ item.label }}</q-item-section>
            </q-item>
          </q-list>
        </q-btn-dropdown>
      </template>
    </q-editor>
  </div>
</template>

<script setup lang="ts">
import { optionalMarker } from 'src/components';
import { ref } from 'vue';

const props = defineProps({
  placeholder: {
    type: String,
    default: ''
  },
  label: {
    type: String,
    default: ''
  },
  value: {
    type: String,
    default: ''
  },
  optional: {
    type: Boolean,
    required: false,
    default: false
  },
  height: {
    type: String,
    default: '6rem'
  },
  toolbar: {
    type: Array,
    default: () => [['left', 'justify', 'unordered']]
  },
  modelValue: {
    type: String,
    default: ''
  },
  placeholders: {
    type: Array,
    default: () => []
  }
});

const editor = ref(props.modelValue);
const tokenRef = ref(null);
const editorRef = ref(null);
const emit = defineEmits(['update:modelValue']);

function add(name) {
  const edit = editorRef.value;
  tokenRef.value.hide();
  edit.caret.restore();
  edit.runCmd(
    'insertHTML',
    `&nbsp;<span class="editor_token" contenteditable="false"><span>[${name}]</span></span>&nbsp;`
  );
  edit.focus();
}

const onPaste = evt => {
  if (evt.target.nodeName === 'INPUT') return;
  let text, onPasteStripFormattingIEPaste;
  evt.preventDefault();
  evt.stopPropagation();
  if (evt.originalEvent && evt.originalEvent.clipboardData.getData) {
    text = evt.originalEvent.clipboardData.getData('text/plain');
    editorRef.value.runCmd('insertText', text);
  } else if (evt.clipboardData && evt.clipboardData.getData) {
    text = evt.clipboardData.getData('text/plain');
    editorRef.value.runCmd('insertText', text);
  } else if (window.clipboardData && window.clipboardData.getData) {
    if (!onPasteStripFormattingIEPaste) {
      onPasteStripFormattingIEPaste = true;
      editorRef.value.runCmd('ms-pasteTextOnly', text);
    }
    onPasteStripFormattingIEPaste = false;
  }
};
</script>

<style lang="sass" scoped>
.q-field--auto-height.q-field--labeled .q-field__control-container
  padding-top: 0px

.q-field__inner .q-field__label
  top: -10px
  left: -12px
  padding-bottom: 15px
  font-size: 1.5em
</style>
