<template>
  <select-field
    v-model="modelValue"
    :options="options"
    :label="educationName"
    emit-value
    clearable
    :i18n-prefix="educationName"
    dense
    @update:model-value="v => $emit('update:degreeValue', v)"
  />
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { selectField } from 'src/components';
import { educationOptions, educationName } from 'src/settings';

defineEmits<{
  (e: 'update:degreeValue', value: string): void;
}>();

const modelValue = ref('');

const options = educationOptions;
</script>
