<template>
  <div>
    <div>{{ template.description }}</div>
    <div class="q-mt-md">
      <input-field v-model="templateVal.subject" :label="$t('label.subject')" />
      <editor-field
        v-model="templateVal.text"
        class="col-md-6 col-sm-12 q-mt-md"
        height="9rem"
        :label="$t('label.message')"
        :placeholder="$t('job.introPlaceholder')"
        :placeholders="placeholders"
        :toolbar="props.toolbar"
      />
    </div>
  </div>
</template>
<script setup lang="ts">
import { useI18n } from 'vue-i18n';
import { computed } from 'vue';
import { editorField, inputField } from 'src/components';

const props = defineProps({
  template: {
    type: String,
    default: ''
  },
  toolbar: {
    type: Array,
    default: () => [['left', 'justify', 'unordered']]
  }
})
const emits = defineEmits(['update:template']);
const { t } = useI18n();

const templateVal = computed({
  get() {
    return props.template;
  },
  set(value) {
    emits('update:template', value);
  }
})
const placeholders = [
  { placeholder: 'title', label: t('label.title'), icon: 'title' },
  { placeholder: 'email', label: t('label.email'), icon: 'email' },
  { placeholder: 'username', label: t('label.username'), icon: 'title' },
  { placeholder: 'firstname', label: t('label.firstname'), icon: 'title' },
  { placeholder: 'lastname', label: t('label.lastname'), icon: 'title' },
  { placeholder: 'link', label: t('label.link'), icon: 'link' },
  { placeholder: 'date', label: t('label.date'), icon: 'date_range' }
];
</script>
<style scoped>

</style>
