<template>
  <select-field
    :options="options"
    :model-value="modelValue"
    clearable
    :label="employmentTypeName"
    :optional="optional"
    :i18n-prefix="employmentTypeName"
    @update:model-value="v => $emit('update:model-value', v)"
  />
</template>

<script setup lang="ts">
import { selectField } from 'src/components';
import { employmentTypeOptions, employmentTypeName } from 'src/settings';

defineEmits(['update:model-value']);
defineProps({
  optional: {
    required: false,
    type: Boolean,
    default: false
  },
  label: {
    required: false,
    type: String,
    default: ''
  },
  modelValue: {
    required: false,
    type: String,
    default: ''
  }
});

const options = employmentTypeOptions;
</script>
