<template><select-field :options="options" dense /></template>

<script setup lang="ts">
import { selectField } from 'src/components';

const options = [
  'Agrarwirtschaft',
  'Bau',
  'Chemie und Rohstoffe',
  'Dienstleistungen und Handwerk',
  'E-Commerce',
  'Energie und Umwelt',
  'Finanzen und Versicherungen',
  'Immobilien',
  'Freizeit',
  'Gesellschaft',
  'Handel',
  'Internet',
  'Konsum',
  'Leben',
  'Medien',
  'Metall und Elektronik',
  'Pharma und Gesundheit',
  'Sport und Fitness',
  'Technik und Telekommunikation',
  'Tourismus & Gastronimie',
  'Verkehr und Logistik',
  'Werbung und Marketing',
  'Wirtschaft und Politik'
];

/** not in use yet
const nsca = [
  { key: 'A', value: 'Land- und Forstwirtschaft, Fischerei' },
  { key: 'B', value: 'Bergbau und Gewinnung von Steinen und Erden' },
  { key: 'C', value: 'Verarbeitendes Gewerbe/Herstellung von Waren' },
  { key: 'D', value: 'Energieversorgung' },
  {
    key: 'E',
    value:
      'Wasserversorgung; Abwasser- und Abfallentsorgung und Beseitigung von Umweltverschmutzungen',
  },
  { key: 'F', value: 'Baugewerbe/Bau' },
  {
    key: 'G',
    value: 'Handel; Instandhaltung und Reparatur von Kraftfahrzeugen',
  },
  { key: 'H', value: 'Verkehr und Lagerei' },
  { key: 'I', value: 'FreizeGastgewerbe/Beherbergung und Gastronomieit' },
  { key: 'J', value: 'Information und Kommunikation' },
  {
    key: 'K',
    value: 'Erbringung von Finanz- und Versicherungsdienstleistungen',
  },
  { key: 'L', value: 'Grundstücks- und Wohnungswesen' },
  {
    key: 'M',
    value:
      'Erbringung von freiberuflichen, wissenschaftlichen und technischen Dienstleistungen',
  },
  {
    key: 'N',
    value: 'Erbringung von sonstigen wirtschaftlichen Dienstleistungen',
  },
  {
    key: 'O',
    value: 'Öffentliche Verwaltung, Verteidigung; Sozialversicherung',
  },
  { key: 'P', value: 'Erziehung und Unterricht' },
  { key: 'Q', value: 'Gesundheits- und Sozialwesen' },
  { key: 'R', value: 'Kunst, Unterhaltung und Erholung' },
  { key: 'S', value: 'Erbringung von sonstigen Dienstleistungen' },
  {
    key: 'T',
    value:
      'Private Haushalte mit Hauspersonal; Herstellung von Waren und Erbringung von Dienstleistungen durch private Haushalte für den Eigenbedarf ohne ausgeprägten Schwerpunkt',
  },
  { key: 'U', value: 'Exterritoriale Organisationen und Körperschaften' },
];
 */
</script>
