<template>
  <q-input
    :model-value="modelValue"
    :readonly="readonly"
    stack-label
    outlined
    dense
    @update:model-value="v => $emit('update:modelValue', v)"
  ></q-input>
</template>

<script setup lang="ts">
defineEmits(['update:modelValue']);
defineProps({
  readonly: {
    type: Boolean,
    required: false,
    default: false
  },
  modelValue: {
    type: String,
    default: null
  }
});
</script>
