<template>
  <div class="flex justify-end">
    <q-input :model-value="$props.email" dense readonly outlined class="self-end" style="min-width: 200px"></q-input>
    <q-toggle v-if="$props.switchable" v-model="emailEnabled"></q-toggle>
  </div>
</template>

<script setup lang="ts">
import { computed } from 'vue';

const props = defineProps({
  email: {
    type: String,
    default: ''
  },
  switchable: {
    type: Boolean,
    default: false
  },
  enabled: {
    type: Boolean,
    default: true
  },
})
const emit = defineEmits(['update:enabled']);
const emailEnabled = computed({
  get() {
    return props.enabled;
  },
  set(value) {
    emit('update:enabled', value)
  }
})
</script>
