<template>
  <q-select v-model="intervall" :options="intervallsObject" outlined dense>
  </q-select>
</template>

<script setup lang="ts">
import { ref, computed } from 'vue';
import { useI18n } from 'vue-i18n';

const { t } = useI18n();

const intervalls = ['hour', 'day', 'week', 'month', 'year'],
  intervallsObject = computed(() => {
    const el = [];
    intervalls.forEach((x) =>
      el.push({
        value: x,
        label: t(
          `applyForm.expectedSalary${x.charAt(0).toUpperCase() + x.slice(1)}`
        )
      })
    );
    return el;
  }),
  intervall = ref(intervallsObject.value[3]);
</script>
