<template>
  <q-select
    v-model="value"
    :options="jobs"
    dense
    outlined
    class="q-mr-sm"
    clearable
    style="min-width: 200px"
    :label="$t('label.job')"
    map-options
    :loading="isLoading"
    emit-value
  />
</template>

<script setup lang="ts">
import { ref, onMounted } from 'vue';
import { useJobStore } from 'stores/job';
import { defaults } from 'components/default';

const props = defineProps({
  job: {
    type: Number,
    default: null
  }
});
const jobs = ref([]);
const value = ref(props.job);

const jobStore = useJobStore(),
  isLoading = ref(jobStore.isLoading);

onMounted(() => {
  fetchJobs();
});

const fetchJobs = async () => {
  await jobStore.fetchJobs({ filter: '', pagination: { ...defaults.pagination }});
  jobs.value = jobStore.jobs.result.map(item => {
    return {
      value: item.id,
      label: item.attributes.title
    };
  });
};
</script>
