<template>
  <select-field
    :model-value="value"
    :options="options"
    :option-label="item => (item === null ? 'label missing' : item.label)"
    :label="props.label"
    :optional="props.optional"
    option-value="value"
    map-options
    @update:model-value="v => $emit('update:model-value', v.value)"
  />
</template>

<script setup lang="ts">
import { selectField } from 'src/components';
import { Quasar } from 'quasar';
import { onMounted, computed, ref, watch } from 'vue';
import locales from '@cospired/i18n-iso-languages';
import EN from '@cospired/i18n-iso-languages/langs/en.json';
import FR from '@cospired/i18n-iso-languages/langs/fr.json';
import IT from '@cospired/i18n-iso-languages/langs/it.json';
import ES from '@cospired/i18n-iso-languages/langs/es.json';
import DE from '@cospired/i18n-iso-languages/langs/de.json';

const locale = Quasar.lang.getLocale();
const props = defineProps({
  optional: {
    required: false,
    type: Boolean,
    default: false
  },
  label: {
    required: false,
    type: String,
    default: ''
  },
  languages: {
    require: false,
    type: Array,
    default: () => ['de', 'en', 'fr']
  },
  default: {
    require: false,
    type: String,
    default: ''
  },
  modelValue: {
    type: String,
    default: null
  }
});

defineEmits(['update:model-value']);

const value = ref(props.modelValue);
const options = computed(() => {
  let selected = [];
  props.languages.forEach(language => {
    selected.push({
      value: language,
      label: locales.getName(language, props.default || locale.split('-')[0])
    });
  });
  return selected;
});
watch(
  () => props.modelValue,
  newValue => {
    if (typeof props.modelValue == 'string') {
      value.value = options.value.find(item => item.value == newValue);
    } else {
      value.value = newValue;
    }
  }
);
onMounted(() => {
  locales.registerLocale(DE);
  locales.registerLocale(EN);
  locales.registerLocale(FR);
  locales.registerLocale(IT);
  locales.registerLocale(ES);

  if (typeof props.modelValue == 'string') {
    value.value = options.value.find(item => item.value == props.modelValue);
  }
});
</script>
