<template>
  <div>
    <div>
      {{ $t('salary.label') }}
      <optional-marker />
    </div>
    <div v-if="salaryObj" class="row">
      <div class="col-6">
        <div class="row">
          <input-field
            v-model="salaryObj.min"
            :label="$t('salary.label')"
            :placeholder="$t('salary.enterSalary')"
            style="max-width: 80px"
          />
          <select-field v-model="salaryObj.currency" style="max-width: 80px" :options="currencyOptions" />
          <select-field
            v-model="salaryObj.intervall"
            i18n-prefix="salary"
            :options="intervallOptions"
            map-options
            emit-value
          />
          <span class="q-pa-sm cursor-pointer text-primary underline" @click="onClickToggle">
            {{ salaryRange ? $t('salary.singleValue') : $t('salary.range') }}
          </span>
        </div>
      </div>
      <div class="col-6">
        <div v-if="salaryRange" class="row">
          <input-field
            v-model="salaryObj.max"
            :rules="[val => Number(val) > Number(salaryObj.min) || 'Invalid!']"
            style="max-width: 80px"
            :label="$t('salary.label')"
          />
          <select-field v-model="salaryObj.currency" dense style="max-width: 80px" :options="currencyOptions" />
          <select-field
            v-model="salaryObj.intervall"
            i18n-prefix="salary"
            :options="intervallOptions"
            map-options
            emit-value
          />
        </div>
      </div>
      <div class="col-2"></div>
    </div>

    <div v-if="salaryObj" class="col-12 q-mt-sm">
      <q-checkbox v-model="salaryObj.visible" size="xs" :label="$t('salary.visibility')" />
    </div>
    <div class="col-4 q-mt-sm"></div>
  </div>
</template>

<script setup lang="ts">
import { optionalMarker, selectField, inputField } from 'src/components';
import { salaryDefault, intervallOptions, currencyOptions } from 'src/settings';
import { ref, watch, onMounted, PropType } from 'vue';
import { Salary } from 'src/types';
const emit = defineEmits(['update:model-value']);

const props = defineProps({
  modelValue: {
    type: Object as PropType<Salary>,
    required: true
  }
});

const salaryObj = ref(props.modelValue);
const salaryRange = ref(false);

watch(
  () => props.modelValue,
  (newVal, oldVal) => {
    if (newVal != null) {
      if (JSON.stringify(newVal) != JSON.stringify(oldVal)) {
        salaryObj.value = newVal;
        salaryRange.value = newVal?.max > 0;
      }
    }
  }
);

watch(
  () => salaryObj.value,
  newVal => {
    if (newVal) {
      salaryRange.value = newVal?.max > 0;
      emit('update:model-value', {
        min: Number(newVal.min),
        max: Number(newVal.max),
        currency: newVal.currency,
        visible: newVal.visible,
        intervall: newVal.intervall
      });
      console.log('SalaryObj Watcher ', JSON.stringify(newVal));
    }
  },
  {
    deep: true
  }
);
const onClickToggle = () => {
  salaryRange.value = !salaryRange.value;
  if (!salaryRange.value) {
    salaryObj.value.max = 0;
  }
};
onMounted(() => {
  if (props.modelValue == null) {
    salaryObj.value = salaryDefault;
  }
  salaryRange.value = salaryObj.value?.max > 0;
  console.log('onMounted ', salaryObj.value);
});
</script>
