<template>
  <q-select
    :model-value="modelValue"
    :label="label"
    stack-label
    outlined
    dense
    @update:model-value="v => $emit('update:model-value', v)"
  >
    <template #label>
      {{ optionLabel(label, $t) }}
      <optional-marker v-if="optional" size="sm" />
    </template>
    <template #option="scope">
      <q-item v-bind="scope.itemProps">
        <q-item-section>
          <q-item-label>
            {{ optionValue(scope.opt, $t) }}
          </q-item-label>
        </q-item-section>
      </q-item>
    </template>
    <template #selected>
      {{ selected(modelValue, $t) }}
    </template>
  </q-select>
</template>

<script setup lang="ts">
import { optionalMarker } from 'src/components';

defineEmits(['update:model-value']);
const props = defineProps({
  optional: {
    required: false,
    type: Boolean,
    default: false
  },
  label: {
    required: false,
    type: String,
    default: ''
  },
  i18nPrefix: {
    type: String,
    default: null
  },
  modelValue: {
    type: String,
    default: ''
  }
});

function optionValue(opt, t) {
  if (opt && opt.label && props.i18nPrefix) {
    return t(props.i18nPrefix + '.' + opt.label);
  } else if (opt && opt.label) {
    return opt.label;
  } else if (opt && opt.value) {
    return opt.value;
  } else if ((typeof opt === 'string' || opt instanceof String) && props.i18nPrefix) {
    return t(props.i18nPrefix + '.' + opt);
  } else {
    return opt;
  }
}

function optionLabel(label, t) {
  return props.i18nPrefix ? t(`${props.i18nPrefix}.label`) : label;
}

function selected(v, t) {
  if (v && v.key && v.value) {
    return v.value;
  } else if (props.i18nPrefix && (typeof v === 'string' || v instanceof String) && v != '') {
    return t(props.i18nPrefix + '.' + v);
  } else if (v && v.label && props.i18nPrefix == null) {
    return v.label;
  }

  return v;
}
</script>
