<template>
  <div class="flex justify-end no-wrap">
    <q-select
      v-model="employee"
      :options="employees"
      :dense="dense"
      :label="$t('label.employee')"
      :disable="!enabled"
      multiple
      use-chips
      style="min-width: 200px; width: 200px"
      map-options
      emit-value
      outlined
    ></q-select>
    <q-toggle v-if="$props.switchable" v-model="enabled"></q-toggle>
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted, watch } from 'vue';
import { useEmployeeStore } from 'src/stores';

const props = defineProps({
  switchable: {
    type: Boolean,
    default: false
  },
  enabled: {
    type: Boolean,
    default: true
  },
  dense: {
    type: Boolean,
    default: true
  },
  entities: {
    type: Array
  }
});
const emit = defineEmits(['update:entities']);

const employeeStore = useEmployeeStore();

const employees = ref([]),
  employee = ref(props.entities),
  enabled = ref(props.enabled);

watch(
  () => props.enabled,
  currentValue => {
    enabled.value = currentValue;
  }
);
watch(
  () => employee.value,
  currentValue => {
    emit('update:entities', currentValue);
  }
);
watch(
  () => props.entities,
  currentValue => {
    employee.value = currentValue;
  }
);
onMounted(() => {
  employeeStore.isLoading = true;
  employeeStore
    .fetchEmployees({
      filter: {
        user: {
          confirmed: true
        }
      },
      pagination: {
        descending: true,
        page: 1,
        rowsPerPage: 50,
        sortBy: 'id'
      }
    })
    .then(r => {
      employees.value = employeeStore.employees.result.map(e => {
        const user = e.attributes.user.data;
        return {
          value: user.id,
          label: user.attributes.firstname + ' ' + user.attributes.lastname
        };
      });
      console.log('result', r);
    })
    .finally(() => {
      employeeStore.isLoading = false;
    });
});
</script>
