<template>
  <q-btn no-caps dense flat class="q-pa-none" align="left">
    <q-item v-if="status" dense>
      <q-item-section avatar>
        <q-icon :size="size" :color="status.color" :name="status.icon"/>
      </q-item-section>
      <q-item-section v-if="!iconOnly">{{ status.label ? $t(status.label) : '' }}</q-item-section>
    </q-item>
    <q-menu ref="qSelectMenu">
      <q-list>
        <div v-for="e in statusOptions" :key="e" @click="e.submenu ? '' : onMenuClick(e)">
          <q-separator v-if="e.separator"/>
          <q-item v-if="!e.submenu" :clickable="!e.disable">
            <q-item-section avatar>
              <q-icon :color="e.color" :name="e.icon"/>
            </q-item-section>
            <q-item-section>
              <q-item-label>{{ e.label ? $t(e.label) : '' }}</q-item-label>
            </q-item-section>
          </q-item>
          <q-item v-else :clickable="!e.disable">
            <q-item-section avatar>
              <q-icon :color="e.color" :name="e.icon"/>
            </q-item-section>
            <q-item-section>
              <q-item-label>{{ e.label ? $t(e.label) : '' }}</q-item-label>
            </q-item-section>
            <q-item-section side>
              <q-icon name="keyboard_arrow_right"/>
            </q-item-section>
            <q-menu anchor="top end" self="top start">
              <q-list>
                <div v-for="f in e.submenu" :key="f" class="cursor-pointer" @click="onMenuClick(e, f)">
                  <q-separator/>
                  <EssentialLink :title="$t(`status.${f.value}`)" :caption="$t(`status.${f.label ? f.label : ''}`)"/>
                </div>
              </q-list>
            </q-menu>
          </q-item>
        </div>
      </q-list>
    </q-menu>
  </q-btn>
</template>

<script setup lang="ts">
import EssentialLink from 'components/EssentialLink.vue';
import { candidateStatusOptions as defaultOptions } from 'src/settings';
import { WorkflowStates } from 'src/types';
import { computed, ref } from 'vue';

const emit = defineEmits(['statusChange']);
const props = defineProps({
  status: {
    type: String,
    default: null
  },
  size: {
    type: String,
    default: 'xl'
  },
  iconOnly: {
    required: false,
    type: Boolean,
    default: false
  },
  options: {
    required: false,
    default: null,
    type: Array<WorkflowStates>
  }
});

const qSelectMenu = ref(null);
const statusOptions = computed(() => {
  if (props.options && props.options.length > 0) {
    return props.options.filter((item) => item != null).map((option) => {
      if (option) {
        const defaultOption = defaultOptions.find((defaultOption) => defaultOption.value == option.value);
        return {
          ...option,
          label: defaultOption ? defaultOption.label : option.label,
          color: defaultOption ? defaultOption.color : option.color,
          icon: defaultOption ? defaultOption.icon : option.icon
        }
      }
    })
  } else {
    return defaultOptions;
  }
})
//ref(props.options?.length > 0 ? props.options : defaultOptions);
const status = computed({
  get() {
    return defaultOptions.find(item => item.value === props.status);
  },
  set(v) {
    emit('statusChange', v);
  }
});

const onMenuClick = menu => {
  emit('statusChange', menu.value);
  qSelectMenu.value.hide();
};
</script>
