<template>
  <q-select v-model="tax" :options="taxesObject" outlined dense />
</template>

<script setup lang="ts">
import { ref, computed } from 'vue';
import { useI18n } from 'vue-i18n';

const { t } = useI18n();

const taxes = ['taxNet', 'taxGross'],
  taxesObject = computed(() => {
    const list = [];
    taxes.forEach((key) =>
      list.push({
        value: key,
        label: t(
          `applyForm.expectedSalary${
            key.charAt(0).toUpperCase() + key.slice(1)
          }`
        )
      })
    );
    return list;
  }),
  tax = ref(taxesObject.value[1]);
</script>
