<template>
  <select-field
    :model-value="modelValue"
    :options="options"
    clearable
    :label="label ?? workExperienceName"
    :optional="optional"
    map-options
    emit-value
    :i18n-prefix="workExperienceName"
    @update:model-value="v => $emit('update:model-value', v)"
  >
  </select-field>
</template>

<script setup lang="ts">
import { selectField } from 'src/components';
import { workExperienceOptions, workExperienceName } from 'src/settings';

defineEmits(['update:model-value']);
defineProps({
  optional: {
    required: false,
    type: Boolean,
    default: false
  },
  label: {
    required: false,
    type: String,
    default: ''
  },
  modelValue: {
    type: String,
    default: ''
  }
});

const options = workExperienceOptions;
</script>
