<template>
  <div class="row">
    <q-list dense class="col-6">
      <q-item v-for="(_, i) in settings" :key="i">
        <q-toggle v-model="settings[i]" :label="$t(`applyForm.${i}`)" @update:model-value="save(form.id, i)"></q-toggle>
      </q-item>
    </q-list>
    <contact-card :readonly="true" class="col-6" :fields-enabled="settings"></contact-card>
  </div>
</template>

<script setup lang="ts">
import { PropType, ref } from 'vue';
import { useFormStore } from 'src/stores';
import { contactCard } from 'src/components';
import { ApplicationFormSettings, ApplicationFormTypeResponse } from 'src/core/types';

// TODO: sync form results with changes in dialog

const props = defineProps({
  form: {
    type: Object as PropType<ApplicationFormTypeResponse>,
    default: null
  }
});

const formStore = useFormStore();
const settings = ref<ApplicationFormSettings>({
  enableGender: props.form?.attributes?.enableGender ?? false,
  enableFirstname: props.form?.attributes?.enableFirstname ?? true,
  enableLastname: props.form?.attributes?.enableLastname ?? true,
  enableStreet: props.form?.attributes?.enableStreet ?? false,
  enablePostalcode: props.form?.attributes?.enablePostalcode ?? false,
  enableCity: props.form?.attributes?.enableCity ?? true,
  enableEmail: props.form?.attributes?.enableEmail ?? true,
  enablePhone: props.form?.attributes?.enablePhone ?? false
});

function save(id: number | string, item: keyof ApplicationFormSettings) {
  formStore.save({ [item]: settings.value[item] }, id);
}
</script>
