<template>
  <q-card flat>
    <q-card-section>
      <div class="text-h6">{{ $t('label.applicationDocuments') }}</div>
      {{ $t('label.documentsNeeded') }}
    </q-card-section>
    <q-card-section>
      <div v-if="form" class="row q-mt-md">
        <div class="col-4">
          <div class="input-label">{{ $t('label.cv') }}</div>
          <q-select v-model="form.cv" :options="options" class="q-mt-sm" emit-value dense outlined />
        </div>
        <div class="col-4 q-pl-sm">
          <div class="input-label">{{ $t('label.coverLetter') }}</div>
          <q-select v-model="form.coverletter" :options="options" class="q-mt-sm" emit-value dense outlined />
        </div>
        <div class="col-4 q-pl-sm flex items-end">
          <q-chip
            v-model:selected="otherItem.selected"
            clickable
            :outline="otherItem.outline"
            size="17px"
            :color="otherItem.color"
            :text-color="otherItem.textColor"
            icon="add"
            @update:selected="otherItemSelect"
          >
            {{ $t(otherItem.value) }}
          </q-chip>
        </div>
      </div>
      <div v-if="addAnotherItem" class="row q-mt-md">

        <div class="row">
          <div class="col-12 text-bold q-mb-md">
            <span class="gray-text q-mb-md">{{ $t('help.requestAdditionalDocuments') }}</span>
          </div>
        </div>
        <div v-for="(doc, index) in other_documents" :key="index" class="col-12">
          <OtherDocument :index="index" :other-documents="doc" class="q-mb-sm" @selected="onDocSelect" @remove="onRemoveDoc" />
        </div>
        <div v-if="other_documents.length < 4" class="col-9 q-mt-md" align="right">
          <span class="text-blue h6-heading cursor-pointer" @click="addOtherDocuments"> + Add another </span>
        </div>
      </div>

      <div class="row q-mt-lg">
        <div class="col-12 text-bold">
          {{ $t('applyForm.otherSettings') }}
        </div>
        <div class="col-12 q-mt-sm">
          <div>
            <span class="h7-heading gray-text">
              {{ $t('applyForm.jobConversionHint') }}
            </span>
          </div>
        </div>
      </div>

      <div v-if="form">
        <q-list bordered separator>
          <q-item>
            <q-item-section>
              {{ $t('applyForm.jobShareEnable') }}
              <q-icon name="error_outline" color="grey">
                <q-tooltip max-width="200px">
                  {{ $t('applyForm.jobShareHint') }}
                </q-tooltip>
              </q-icon>
            </q-item-section>
            <q-item-section side>
              <q-toggle v-model="form.enableJobSharing" size="lg" />
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section>
              {{ $t('applyForm.applyLaterEnable') }}
              <q-icon name="error_outline" color="grey">
                <q-tooltip max-width="200px">
                  {{ $t('applyForm.applyLaterHint') }}
                </q-tooltip>
              </q-icon>
            </q-item-section>
            <q-item-section side>
              <q-toggle v-model="form.enableApplyLater" size="lg" />
            </q-item-section>
          </q-item>
        </q-list>
      </div>
    </q-card-section>
  </q-card>
</template>

<script setup lang="ts">
import { computed, ref, watch } from 'vue';
import { useI18n } from 'vue-i18n';
import OtherDocument from 'components/categories/OtherDocument.vue';

const { t } = useI18n();
const props = defineProps({
  modelValue: {
    type: Object,
    default: null
  }
});
const emit = defineEmits(['update:modelValue']);
const selected_docs = ref([]),
  other_documents = ref([]),
  addAnotherItem = ref(false);

const form = computed({
  get() {
    return props.modelValue;
  },
  set(value) {
    emit('update:modelValue', value);
  }
});
const options = [
  {
    label: t('applyForm.required'),
    value: 'required'
  },
  {
    label: t('applyForm.hidden'),
    value: 'hidden'
  },
  {
    label: t('applyForm.optional'),
    value: 'optional'
  }
];

const otherItem = ref({
  value: 'applyForm.otherDocuments',
  selected: false
});

const docWithValues = [
  {
    label: t('documents.certificateOfEmployment'),
    value: 'workCertificate'
  },
  {
    label: t('documents.portfolio'),
    value: 'portfolio'
  },
  {
    label: t('documents.certificate'),
    value: 'certificate'
  },
  {
    label: t('documents.diploma'),
    value: 'diploma'
  }
];
console.log(docWithValues);
watch(
  () => selected_docs.value,
  currentVal => {
    // const required_doc = [];
    currentVal.forEach(val => {
      docWithValues.forEach(item => {
        if (item.label == val) {
          form.value[item.value] = 'required';
        }
      });
    });
  },
  {
    deep: true
  }
);
function addOtherDocuments(pushNew = true) {
  let options = ['Certificate of employment', 'Portfolio', 'Certificate', 'Diploma'];
  for (let i = 0; i < selected_docs.value.length; i++) {
    let doc = selected_docs.value[i];
    let index = options.indexOf(doc);
    if (index > -1) {
      options.splice(index, 1);
    }
  }
  selected_docs.value.push(options[0]);
  let newDoc = options[0];
  setOtherDocOptions(newDoc, other_documents.value.length);
  if (pushNew) {
    other_documents.value.push(options);
  }
  console.log(JSON.stringify(selected_docs.value));
}

function setOtherDocOptions(newDoc, indexOfDoc) {
  for (let i = 0; i < other_documents.value.length; i++) {
    let docs = other_documents.value[i];
    if (i !== indexOfDoc) {
      let selectedIndex = docs.indexOf(newDoc);
      console.log('index ', selectedIndex);
      if (selectedIndex > -1) {
        docs.splice(selectedIndex, 1);
      } else {
        docs.push(newDoc);
      }
      other_documents.value[i] = docs;
    }
  }
}

function otherItemSelect() {
  addAnotherItem.value = !addAnotherItem.value;
  if (!addAnotherItem.value) {
    other_documents.value = [];
    selected_docs.value = [];
  } else {
    addOtherDocuments();
  }
}

const onRemoveDoc = index => {
  other_documents.value.splice(index, 1);
};
const onDocSelect = document => {
  if (document.index > -1) {
    selected_docs.value[document.index] = document.new;
  }
};
</script>
