<template>
  <div class="q-pa-md bms-form-questions">
    <div class="full-width flex justify-end">
      <q-btn color="primary" no-caps @click="onClickAddQuestion">Add Question</q-btn>
    </div>
    <div class="full-width flex column">
      <div
          v-for="(question,index) in _questions"
          :key="`form_question_${index}`"
          class="bms-form-questions-question">
        <div class="full-width flex justify-end text-center gap-10">
          <q-select
              v-model="question.question_type"
              style="width: 140px"
              placeholder="Select question type"
              emit-value
              outlined
              map-options
              label="Question Type"
              :error="!!errorMessage('question_type',index)"
              :error-message="errorMessage('question_type',index)"
              dense
              :options="question_types">
          </q-select>
          <q-icon
              style="height: 35px;width:35px;border-radius: 5px; border: 1px solid #ccc; padding:5px;"
              name="delete"
              size="sm"
              color="red-9"
              class="cursor-pointer no-padding"
              @click="onClickRemoveQuestion(index,question)"></q-icon>
        </div>
        <div class="full-width flex gap-10 q-mt-sm">
          <q-input
              v-model="question.question"
              outlined
              dense
              style="flex:7"
              label="Question"
              :error="!!errorMessage('question',index)"
              :error-message="errorMessage('question',index)"
          >
          </q-input>
          <q-select
              v-model="question.type"
              style="flex:3"
              emit-value
              map-options
              outlined
              label="Type"
              dense
              :options="type_options">
          </q-select>
        </div>
        <div
            v-if="question.type=='singleOption' || question.type=='multipleOptions'"
            class="full-width flex column gap-10 q-mt-sm">
          <template
              v-for="(option,oIndex) in question.options"
              :key="`option_${oIndex}`">
            <div class="flex row items-center">
              <BmsInput
                  v-model="question.options[oIndex]"
                  :label="`Option ${oIndex+1}`"
                  style="flex: 9"
                  class="q-mt-sm">
              </BmsInput>
              <q-icon
                  name="delete"
                  size="sm"
                  color="red-3"
                  class="cursor-pointer"
                  @click="onClickRemoveOption(question,index,oIndex)"></q-icon>
            </div>
          </template>
          <div class="full-width q-mt-sm">
            <q-btn
                no-caps
                class="flex justify-end"
                color="primary"
                @click="onClickAddOption(question,index)">Add an option
            </q-btn>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
import { onBeforeMount, ref, watch } from 'vue';
import { ISelectOption } from 'src/types/data/commons';
import BmsInput from 'components/commons/BmsInput.vue';
import useVuelidate from '@vuelidate/core';
import { helpers, required } from '@vuelidate/validators';
import { useQuestionStore } from 'stores/question';

interface IQuestion {
  [key: string]: object | string | null | undefined
}

interface Props {
  questions: Array<IQuestion>
}

const props = defineProps<Props>();
const emit = defineEmits(['updateQuestions']);
const questionStore = useQuestionStore();
const _questions = ref<IQuestion[]>([]);
const question_types = ref<ISelectOption[]>([
  {
    label: 'Optional',
    value: 'optional',
  },
  {
    label: 'Required',
    value: 'required',
  },
])
const type_options = ref<ISelectOption[]>([
  {
    label: 'Date',
    value: 'date',
  },
  {
    label: 'Short Text',
    value: 'text',
  },
  {
    label: 'Single Choice',
    value: 'singleOption',
  },
  {
    label: 'Boolean',
    value: 'boolean',
  },
  {
    label: 'Multiple Choice',
    value: 'multipleOptions',
  },
  {
    label: 'Number',
    value: 'number',
  },
  {
    label: 'File',
    value: 'file',
  },
])
const validations = {
  _questions: {
    $each: helpers.forEach({
      question: {
        required: helpers.withMessage('This field is required.', required),
      },
      question_type: {
        required: helpers.withMessage('This field is required.', required),
      }
    })
  }
}
const $v = useVuelidate(validations, { _questions: _questions });
let timeout = ref<ReturnType<typeof setTimeout>>();
watch(() => _questions.value, newVal => {
  clearTimeout(timeout.value)
  timeout.value = setTimeout(() => {
    emit('updateQuestions', newVal);
  }, 1500)
}, {
  deep: true
})

const errorMessage = (field: string, index: number) => {
  return $v.value._questions?.$each.$response.$errors[index][field][0]?.$message
}

/*const onChangeQuestion = async (index) => {
  await $v.value._questions.$validate();
  console.log($v.value._questions?.$each.$message)
  console.log($v.value._questions?.$error)
  console.log($v.value._questions?.$each.$response.$errors[index].question[0]?.$message)
}*/


const onClickAddQuestion = () => {
  _questions.value.push({
    question: '',
    options: [],
    type: 'date',
    question_type: 'optional'//required,option,knockout
  })
}
const onClickRemoveQuestion = async (index: number, question) => {
  if (question.id) {
    await questionStore.delete(question.id);
  }
  _questions.value.splice(index, 1)
}
const onClickAddOption = (question: IQuestion, index: number) => {
  const options = question.options ?? [];
  options.push('');
  _questions.value[index] = {
    ...question,
    options: options
  };
}
const onClickRemoveOption = (question: IQuestion, index: number, oIndex: number) => {
  question.options?.splice(oIndex, 1);
  _questions.value[index] = question;
}
const hydrateQuestions = () => {
  _questions.value = props.questions?.map((question: IQuestion) => {
    return {
      ...question.attributes,
      id: question.id
    }
  }) ?? []
}
onBeforeMount(() => {
  hydrateQuestions()
})
</script>


<style scoped lang="scss">
.bms-form-questions {
  &-question {
    min-height: 100px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 15px;
    gap: 10px;
    margin: 10px;
  }

  .gap-10 {
    gap: 10px
  }
}
</style>
