<template>
  <q-card flat>
    <q-banner dense inline-actions class="bg-blue-2">
      {{ $t('applyForm.recommendationQuestions') }}
      <template #action>
        <q-btn flat color="white" label="OK" />
      </template>
    </q-banner>
    <q-card-section>
      <q-chip
        v-for="(e, i) in items"
        :key="i"
        v-model:selected="selected[i]"
        :outline="selected[i] ? false : true"
        :color="selected[i] ? 'secondary' : 'primary'"
        :text-color="selected ? 'primary' : 'secondary'"
        icon="add"
        size="md"
        clickable
        @click="$emit('section', { section: e.value, selected: selected[i] })"
      >
        {{ e.label }} a
      </q-chip>
    </q-card-section>
  </q-card>
</template>

<script setup>
import { ref, watch } from 'vue';

defineEmits('section');

const props = defineProps({
  items: {
    type: Array,
    default: v => v
  }
});
const selected = ref([]);

watch(
  () => props.items,
  newVal => {
    setSelected(newVal);
  },
  { deep: true }
);
const setSelected = items => {
  selected.value = [];
  items.forEach(item => {
    selected.value.push(item.selected);
  });
};
</script>
