<template>
  <q-form
    :autofocus="true"
    autocorrect="off"
    autocapitalize="off"
    autocomplete="off"
    spellcheck="false"
    class="q-pl-md"
  >
    <div class="row q-mb-md">
      <CheckboxField
        v-model="data.homeoffice"
        :title="$t('location.homeoffice')"
        class="col-8 q-pr-sm"
        :optional="true"
        :label="$t('location.homeofficeDescription')"
      />

      <select-country v-model="data.country" :label="$t('location.country')" class="col-6 q-pr-sm" />
      <input-city v-model:location="data.location" :label="$t('location.city')" class="col-6 q-pr-sm" />
    </div>
    <q-separator class="q-mb-md q-mr-sm" />

    <div class="row">
      <EducationSelect v-model="data.education" class="col-6 q-pr-sm" :label="$t('education.label')" :optional="true" />
      <WorkExperienceSelect
        v-model="data.experience"
        class="col-6 q-pr-sm q-pb-md"
        :label="$t('workExperience.label')"
        :optional="true"
      />
      <ContractSelect v-model="data.contract" class="col-6 q-pr-sm" :label="$t('contract.label')" :optional="true" />
      <CareerLevelSelect
        v-model="data.careerLevel"
        class="col-6 q-pr-sm q-pb-md"
        :label="$t('careerLevel.label')"
        :optional="true"
      />
      <CategorySelect v-model="data.category" class="col-6 q-pr-sm" :label="$t('label.category')" :optional="true" />
      <language-select
        v-model="data.applicationLanguage"
        :languages="['de', 'it', 'en', 'fr', 'es']"
        class="col-6 q-pr-sm q-pb-md"
        :label="$t('applyForm.language')"
        :optional="true"
      />
      <EmploymentTypeSelect v-model="data.employmentType" :label="$t('employmentType.label')" class="col-6 q-pr-sm" />
    </div>
    <div class="row q-mt-md">
      <SalaryField v-model="data.salary" class="col-8 q-pr-md" :label="$t('salary.label')" />
      <q-banner class="col-4">
        <div>{{ $t('salary.sectionHint') }}</div>
        {{ $t('salary.sectionDesc') }}
      </q-banner>
    </div>
  </q-form>
</template>

<script setup lang="ts">
import { PropType, ref, onMounted, watch } from 'vue';
import { useJobStore } from 'stores/job';
import { JobType } from 'src/types';
import SalaryField from 'components/fields/SalaryField.vue';
import ContractSelect from 'components/fields/ContractSelect.vue';
import { languageSelect, inputCity, selectCountry } from 'src/components';
// import DeadlineInput from 'components/fields/DeadlineInput.vue';
import EducationSelect from 'components/fields/EducationSelect.vue';
import EmploymentTypeSelect from 'components/fields/EmploymentTypeSelect.vue';
import CareerLevelSelect from 'components/fields/CareerLevelSelect.vue';
import CheckboxField from 'components/fields/CheckboxField.vue';
import CategorySelect from 'components/fields/CategorySelect.vue';
import WorkExperienceSelect from 'components/fields/WorkExperienceSelect.vue';
// import { notificationService } from 'src/services/_singletons';
// import { useI18n } from 'vue-i18n';

// const { t } = useI18n();

defineEmits(['update:location', 'update:model-value']);

const props = defineProps({
  job: {
    type: Object as PropType<JobType>,
    default: null
  }
});

const j = useJobStore(),
  data = ref(props.job);
watch(
  () => data.value,
  currentValue => {
    j.job = currentValue;
  },
  {
    deep: true
  }
);

watch(
  () => props.job,
  currentValue => {
    data.value = currentValue;
    /*if (currentValue.job?.id) {
    data.value = {
      id: currentValue.job.id,
      ...currentValue.job.attributes
    };
  } else {
    data.value = {
      ...currentValue.job.attributes
    };
  }*/
  }
);

onMounted(() => {
  /*if (props.job?.id) {
    data.value = {
      id: props.job.id,
      ...props.job.attributes
    };
  } else {
    data.value = {};
  }*/
  data.value = props.job;

  console.log('HomeOffice ', data.value.homeoffice);
});

// function save() {
//   j.save(data.value)
//     .then(() => {
//       notificationService.showSuccess(t('notify.jobSavedSuccess'));
//     })
//     .catch(e => {
//       console.log(e);
//     });
// }
</script>
