<template>
  <q-form :autofocus="true" autocorrect="off" autocapitalize="off" autocomplete="off" spellcheck="false">
    <div v-if="data" class="row">
      <input-field
        v-model="data.title"
        :placeholder="$t('job.titlePlaceholder')"
        :label="$t('job.titleLabel')"
        :rule="[val => !!val || 'Field is required']"
        class="col-md-12"
      />

      <editor-field
        :model-value="data.intro"
        :label="$t('job.introLabel')"
        :placeholder="$t('job.introPlaceholder')"
        :toolbar="[
          ['left', 'justify', 'unordered'],
          ['bold', 'italic', 'underline', 'subscript', 'superscript'],
          ['undo', 'redo']
        ]"
        class="col-md-6 col-sm-12"
        :height="height"
        @update:model-value="value => (data.intro = value)"
      />

      <editor-field
        v-model="data.tasks"
        :label="$t('job.tasksLabel')"
        :placeholder="$t('job.tasksPlaceholder')"
        class="col-md-6 col-sm-12"
        :height="height"
        @update:text="value => (data.tasks = value)"
      />
      <editor-field
        v-model="data.profile"
        :label="$t('job.requirementsLabel')"
        :placeholder="$t('job.requirementsPlaceholder')"
        :optional="true"
        :height="height"
        class="col-md-6 col-sm-12"
        @update:text="value => (data.profile = value)"
      />
      <editor-field
        v-model="data.benefits"
        :label="$t('job.benefitsLabel')"
        :placeholder="$t('job.benefitsPlaceholder')"
        :optional="true"
        :height="height"
        class="col-md-6 col-sm-12"
        @update:text="value => (data.benefits = value)"
      />
      <editor-field
        v-model="data.outro"
        :label="$t('job.outroLabel')"
        :placeholder="$t('job.outroPlaceholder')"
        :optional="true"
        :toolbar="[
          ['left', 'justify', 'unordered'],
          ['bold', 'italic', 'underline', 'subscript', 'superscript'],
          ['undo', 'redo']
        ]"
        :height="height"
        class="col-md-6 col-sm-12"
        @update:text="value => (data.outro = value)"
      />
    </div>
  </q-form>
</template>

<script setup lang="ts">
import { PropType, ref, onMounted, watch } from 'vue';
// import { useJobStore } from 'stores/job';
import { useAuthStore } from 'src/stores';
import { JobType } from 'src/types';
import { inputField, editorField } from 'src/components';
// import { notificationService } from 'src/services/_singletons';
// import { useI18n } from 'vue-i18n';

// // const { t } = useI18n();
const authStore = useAuthStore();

defineEmits(['update:location', 'update:model-value']);

const props = defineProps({
  job: {
    type: Object as PropType<JobType>,
    default: null
  }
});

const height = '7rem';

const //j = useJobStore(),
  data = ref(props.job);
if (authStore.user && authStore.user.company) {
  data.value.intro = authStore.user.company.description;
}

watch(
  () => props.job,
  currentValue => {
    data.value = currentValue;
  }
);

onMounted(() => {
  data.value = props.job;
});

// function save() {
//   j.save(data.value)
//     .then(() => {
//       notificationService.showSuccess(t('notify.jobSavedSuccess'));
//     })
//     .catch(e => {
//       console.log(e);
//     });
// }
</script>
