<template>
  <q-dialog ref="dialogRef" persistent @hide="onDialogHide">
    <q-card v-if="jobRef" style="width: 1200px; max-width: 80vw">
      <DialogBar>
        {{ $t('dialog.editJobPosting') }}
      </DialogBar>
      <q-stepper
        ref="stepper"
        v-model="step" class="bms-stepper" color="primary" header-nav animated>
        <q-step
          :name="1"
          :title="$t('job.stepDescription')"
          :caption="$t('job.stepDescriptionCaption')"
          icon="contact"
          :done="step > 1"
        >
          <job-description-form :job="jobRef" @cancel="onCancelClick" @success="onOKClick" />
        </q-step>

        <q-step
          :name="2"
          :title="$t('job.stepCategories')"
          :caption="$t('job.stepCategoriesCaption')"
          :icon="symRoundedCategory"
          :done="step > 3"
        >
          <job-category-form :job="jobRef" @update:model-value="val => onUpdateModel(val)" />
        </q-step>

        <q-step
          :name="3"
          :title="$t('job.stepApplications')"
          :caption="$t('job.stepApplicationsCaption')"
          :icon="vaadinAutomation"
          style="padding: 0px"
        >
          <job-workflow-form :job="jobRef" />
        </q-step>

        <q-step
          :name="4"
          :title="$t('job.stepProcess')"
          :caption="$t('job.stepProcessCaption')"
          :icon="vaadinAutomation"
          style="padding: 0"
        >
          <job-process-form :job="jobRef"  />
        </q-step>

        <template #navigation>
          <q-stepper-navigation class="row">
            <div>
              <q-btn no-caps color="primary" :label="$t('btn.preview')" @click="preview = true" />
              <q-btn :disabled="disabled_publish" no-caps color="black" class="q-ml-sm" :label="$t('btn.publish')" @click="onClickPublish" />
              <q-btn
                no-caps color="red" class="q-ml-sm"
                :disabled="jobRef.publishedAt==null"
                :label="$t('btn.unPublish')"
                @click="onClickUnpublish"
              />
            </div>
            <q-space></q-space>
            <q-btn
              v-if="step > 1"
              outline
              no-caps
              color="primary"
              :label="$t('btn.previous')"
              class="q-mr-sm"
              @click="$refs.stepper.previous()"
            />
            <q-btn
              color="primary"
              no-caps
              :label="step === 4 ? $t('btn.save') : $t('btn.next')"
              @click="step == 4 ? onClickSave() : $refs.stepper.next()"
            />
          </q-stepper-navigation>
        </template>
      </q-stepper>
    </q-card>
    <job-preview-dialog v-if="preview" :job="jobStore.job" :preview="preview" @close="preview = false" />
  </q-dialog>
</template>

<script setup lang="ts">
import { symRoundedCategory } from '@quasar/extras/material-symbols-rounded';
import { vaadinAutomation } from 'quasar-extras-svg-icons/vaadin-icons';
import { useDialogPluginComponent } from 'quasar';
import {
  jobDescriptionForm,
  jobCategoryForm,
  jobPreviewDialog,
  jobWorkflowForm,
  jobProcessForm
} from 'src/components';
import { ref, computed, onMounted } from 'vue';
import { useJobStore } from 'src/stores';
import { notificationService } from 'src/services/_singletons';
import { useI18n } from 'vue-i18n';
import DialogBar from 'components/commons/DialogBar.vue';

const { t } = useI18n();
const { dialogRef, onDialogHide, onDialogOK, onDialogCancel } = useDialogPluginComponent();
const step = ref(1);
const preview = ref(false);
const jobStore = useJobStore();

defineEmits(['close']);
const disabled_publish = computed(() => {
  return (jobRef.value?.tasks == null || jobRef.value?.tasks == '') || jobRef.value.publishedAt != null;
})

const jobRef = ref(null);
onMounted(() => {
  jobRef.value = jobStore.job;
});

const onClickUnpublish = () => {
  jobStore.job.publishedAt = null;
  onClickSave();
}
function onOKClick(data) {
  console.log('data', data);
  onDialogOK();
}

function onCancelClick() {
  onDialogCancel();
}
const onClickPublish=()=>{
  jobStore.job.publishedAt = new Date();
  onClickSave();
}
const onClickSave = async () => {
  await jobStore
    .update(jobStore.job)
    .then(response => {
      if (response.status == 200) {
        notificationService.showSuccess(t('notify.jobSavedSuccess'));
        onDialogOK();
      }
    })
    .catch(() => {
      notificationService.showError('Error while saving job.');
    });
};
</script>
