<template>
  <q-form
    :autofocus="true"
    autocorrect="off"
    autocapitalize="off"
    autocomplete="off"
    spellcheck="false"

  >
    <process-settings-table :job="job"/>
  </q-form>
</template>

<script setup lang="ts">
import { PropType, ref, onMounted, watch } from 'vue';
import { JobType } from 'src/types';
import { processSettingsTable } from 'src/components';

defineEmits(['update:location', 'update:model-value']);

const props = defineProps({
  job: {
    type: Object as PropType<JobType>,
    default: null
  }
});

const data = ref(props.job);

watch(props, currentValue => {
  if (currentValue.job?.id) {
    data.value = {
      id: currentValue.job.id,
      ...currentValue.job.attributes
    };
  } else {
    data.value = {
      ...currentValue.job.attributes
    };
  }
});

onMounted(() => {
  if (props.job?.id) {
    data.value = {
      id: props.job.id,
      ...props.job.attributes
    };
  } else {
    data.value = {};
  }
});
</script>
