<template>
  <q-dialog v-model="showDialog" full-height @hide="$emit('close', true)">
    <q-card style="width: 1200px; max-width: 80vw">
      <DialogBar>
        {{ $t('dialog.editJobPosting') }}
      </DialogBar>
      <q-card-section class="scroll dialog-card-content q-pa-none">
        <job-detail :job="props.job" />
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script setup lang="ts">
import { JobType } from 'src/types';
import { jobDetail } from 'src/components';
import { ref, watch, PropType } from 'vue';
import DialogBar from 'components/commons/DialogBar.vue';

const props = defineProps({
  job: {
    type: Object as PropType<JobType>,
    default: null
  },
  preview: {
    type: Boolean,
    default: false
  }
});

defineEmits(['close']);

const showDialog = ref(props.preview);

watch(
  () => props.preview,
  newVal => {
    showDialog.value = newVal;
  }
);
</script>
