<template>
  <q-form
    :autofocus="true"
    autocorrect="off"
    autocapitalize="off"
    autocomplete="off"
    spellcheck="false"

  >
    <workflow-settings-table :job="job"/>
  </q-form>
</template>

<script setup lang="ts">
import { PropType, ref, onMounted, watch } from 'vue';
import { JobType } from 'src/types';
import { workflowSettingsTable } from 'src/components';

defineEmits(['update:location', 'update:model-value']);

const props = defineProps({
  job: {
    type: Object as PropType<JobType>,
    default: null
  }
});

const data = ref(props.job);

watch(()=>props.job, currentValue => {
  data.value=currentValue;
});

onMounted(() => {
  data.value=props.job;
});

</script>
