<template>
  <q-page class="flex">
    <CandidatesTable class="full-width" />
  </q-page>
</template>

<script setup lang="ts">
import CandidatesTable from 'components/candidates/CandidatesTable.vue';
</script>
