<template>
  <q-page v-if="candidate" class="row">
    <CandidateInfoCard class="col-6" :candidate="candidate" @rate="forceRerender" />
    <CandidateMessagesCard class="col-6" :messages="candidate.messages" />
    <CandidateRatingsCard class="col-6" :reviews="candidate.reviews" />
    <CandidateEventsCard class="col-6" :events="candidate.events" :attendees="candidate.id" @refresh="onEventsRefresh" @update="forceRerender" />
    <CandidateAttachmentsCard class="col-6" :attachments="candidate.attachments" :answers="candidate.answered_questions" />
    <CandidateRecruitersCard class="col-6" :recruiters="candidate.recruiter_users" />
  </q-page>
</template>

<script setup lang="ts">
import { onMounted, computed } from 'vue';
import { useCandidateStore } from 'src/stores';
import CandidateInfoCard from 'components/candidates/detail/CandidateInfoCard.vue';
import CandidateMessagesCard from 'components/candidates/detail/CandidateMessagesCard.vue';
import CandidateRatingsCard from 'components/candidates/detail/CandidateRatingsCard.vue';
import CandidateEventsCard from 'components/candidates/detail/CandidateEventsCard.vue';
import CandidateRecruitersCard from 'components/candidates/detail/CandidateRecruitersCard.vue';
import CandidateAttachmentsCard from 'components/candidates/detail/CandidateAttachmentsCard.vue';

import { useRoute } from 'vue-router';

const route = useRoute(),
  id = parseInt(route.params.id),
  candidateStore = useCandidateStore(),
  candidate = computed(() => {
    return candidateStore.candidate;
  });

onMounted(() => {
  candidateStore.fetchCandidate(id);
});

const forceRerender = () => {
  candidateStore.fetchCandidate(id);
};

const onEventsRefresh=()=>{
  candidateStore.fetchCandidate(id)
}
</script>
