<template>
  <q-page class="row">
    <div class="col-8">
      <q-card>
        <q-tabs
          v-model="tab"
          dense
          no-caps
          class="text-grey"
          active-color="primary"
          indicator-color="primary"
          align="justify"
          narrow-indicator
        >
          <q-tab name="company" :label="$t('label.organization')" class="text-uppercase font-anton" />
          <q-tab name="gallery" :label="$t('label.gallery')" class="text-uppercase font-anton" />
          <q-tab name="privacy" :label="$t('label.privacyPolicy')" class="text-uppercase font-anton" />
        </q-tabs>

        <q-separator />

        <q-tab-panels v-model="tab" animated>
          <q-tab-panel name="company">
            <CompanyForm :company="company" :loading="store.isLoading" @update="update" />
          </q-tab-panel>

          <q-tab-panel name="gallery">
            <company-gallery-form :header="company.header.data" />
          </q-tab-panel>
          <q-tab-panel name="privacy"  >
            <privacy-form  :company="company" @update="update" />
          </q-tab-panel>
        </q-tab-panels>
      </q-card>
    </div>
    <q-card flat class="col-4">
      <q-card-section align="center">
        <div class="text-h4 text-uppercase font-anton">{{ $t('label.visibility') }}</div>
      </q-card-section>
      <q-card-section align="center">
        <q-toggle v-model="visibility" size="xl" :loading="store.isLoading" @click="enableCarrersite" />
      </q-card-section>
      <q-card-section>
        {{ $t('help.visibilityCarrerPage') }}
      </q-card-section>
      <q-card-section align="center">
        <q-btn
          :disable="!visibility"
          color="secondary"
          text-color="primary"
          :to="`/public/company/${company?.id}`"
          :label="$t('menu.careersite')"
        />
      </q-card-section>
    </q-card>
  </q-page>
</template>

<script setup lang="ts">
import { ref, computed, onMounted } from 'vue';
import { useCompanyStore } from 'stores/company';
import CompanyForm from 'components/careersite/CompanyForm.vue';
import PrivacyForm from 'components/careersite/PrivacyForm.vue';
import CompanyGalleryForm from 'components/careersite/CompanyGalleryForm.vue';
import { Company } from 'src/types';

const store = useCompanyStore();

const tab = ref('company');
const visibility = ref(false);
const company = computed(() => {
  return store.company;
});

onMounted(() =>
  store.fetchCompany().then(() => {
    visibility.value = (company.value as Company).careersiteEnabled;
  })
);

function enableCarrersite() {
  store.enableCareersite(visibility.value);
}

function update(v) {
  store.updateCareersite(v.value);
}
</script>
