<template>
  <q-dialog v-model="showDialog" persistent>
    <q-card style="min-width: 350px">
      <q-card-section>
        <div class="text-h6">Hallo {{ user.firstname }} {{ user.lastname }}</div>
      </q-card-section>
      <q-card-section>
        <div>
          {{ $t(context) }}
        </div>
      </q-card-section>
      <q-card-section class="q-pt-none">
        <q-input :model-value="user.username" :label="$t('label.username')" outlined readonly dense class="q-mb-md" />
        <q-input
          v-model="password"
          :label="$t('label.password')"
          :placeholder="$t('message.pleaseSetPassword')"
          outlined
          dense
          type="password"
          :rules="[val => val.length > (minPasswordLength-1)   || $t('rules.passwordLength', { minPasswordLength: minPasswordLength })]"
          autofocus
        />
        <PrivacyPolicy v-model:confirm-privacy-policy="isConfirmed"></PrivacyPolicy>
      </q-card-section>

      <q-card-actions align="right" class="text-primary">
        <q-btn v-close-popup :disable="!canProceed" flat :label="$t('btn.save')" @click="savePassword" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script setup lang="ts">
import { useRoute, useRouter } from 'vue-router';
import { routeName } from 'src/router/names'
import { notificationService } from 'src/services/_singletons';
import { useI18n } from 'vue-i18n';
import { useAuthStore, useCompanyStore } from 'src/stores';
import { ref, computed, onMounted } from 'vue';
import PrivacyPolicy from 'components/commons/PrivacyPolicy.vue';


const { t } = useI18n();
const showDialog = ref(false);
const password = ref('');
const isConfirmed = ref(false);

const canProceed = computed(() => {
  // @TODO: use minPasswordLength from company wide settings
  return password.value.length >= 8 && isConfirmed.value;
});

const context = computed(() => {
  // eg. company_owner => CompanyOwner oder candidate_invited => CandidateInvited
  console.log(JSON.stringify(authStore))
  return ('message.welcome_' + authStore.passwordlessLoginContext).replace(/_([a-z])/g, function (g) {
    return g[1].toUpperCase();
  });
});

const { params } = useRoute();
const router = useRouter();
const authStore = useAuthStore();
const companyStore = useCompanyStore();
const companySettings = ref(companyStore.settings);
const user = ref(null);

const minPasswordLength=computed(()=>{
  return companySettings.value.minPasswordLength ?? 8;
})
const savePassword = () => {
  authStore.updatePassword(password.value)
    .then(()=>{
      router.push({ name: companyStore.settings.redirectAfterLogin ?? routeName.dashboard })
    })
    .catch(error => {
    // @TODO: create a notifySetInitialPasswordFail
    console.log(error);
    showDialog.value = true;
  });
};
const fetchCompanySettings = () => {
  companyStore.fetchSettings({});
}
/**
 * Attempts a password-less login
 * @param token
 */
const loginUser = () => {
  const token = params.token;
  if (!token || Array.isArray(token)) return router.push({ name: routeName.error404 });
  if (authStore.isLoggedIn) return router.push({ name: routeName.dashboard });

  authStore
    .loginWithToken(token)
    .then(response => {
      console.log(response);
      user.value = authStore.user;

      showDialog.value = true;
      authStore.me();
      fetchCompanySettings();
    })
    .catch(data => {
      router
        .push({ name: 'login' })
        .then(() => notificationService.showError(t('notify.loginFailed', { error: data })));
    });
};

onMounted(() => {
  loginUser();
});
</script>

