<template>
  <q-page padding class="flex">
    <div style="max-width: 80vh; width: 800px; margin-left: auto; margin-right: auto">
      <application-form :form="form" preview />
    </div>
  </q-page>
</template>

<script setup lang="ts">
import { onMounted, computed } from 'vue';
import { useFormStore } from 'stores/form';
import { useRoute } from 'vue-router';
import { applicationForm } from 'src/components';

const route = useRoute(),
  id = parseInt(route.params.id as string),
  store = useFormStore(),
  form = computed(() => {
    return store.form;
  });

onMounted(() => {
  store.fetchForm(id);
});
</script>
