<template>
  <q-page class="flex">
    <MessageTemplatesTable />
  </q-page>
</template>

<script setup lang="ts">
import MessageTemplatesTable from 'components/message-templates/MessageTemplatesTable.vue';
</script>
