<template>
  <q-page class="row">
    <q-card class="col-8">
      <q-tabs
        v-model="tab"
        dense
        no-caps
        class="text-grey"
        active-color="primary"
        indicator-color="primary"
        align="justify"
        narrow-indicator
      >
        <q-tab name="settings" :label="$t('widget.settings')" class="text-uppercase font-anton" />
        <q-tab name="design" :label="$t('widget.design')" class="text-uppercase font-anton" />
        <q-tab name="selection" :label="$t('widget.jobSelection')" class="text-uppercase font-anton" />
      </q-tabs>

      <q-separator />

      <q-tab-panels v-model="tab" animated>
        <q-tab-panel name="settings">
          <settings-card></settings-card>
        </q-tab-panel>
        <q-tab-panel name="design">
          <design-card></design-card>
        </q-tab-panel>
        <q-tab-panel name="selection">
          <selection-card></selection-card>
        </q-tab-panel>
      </q-tab-panels>
    </q-card>

    <q-card flat class="col-4">
      <q-card-section align="center">
        <div class="text-h4 text-uppercase font-anton">{{ $t('label.widget') }}</div>
      </q-card-section>

      <q-card-section>
        {{ $t('help.explanationWidget') }}
      </q-card-section>
      <q-card-section align="center">
        <q-input v-model="widget" filled type="textarea" />
      </q-card-section>
      <q-card-section align="center">
        <q-btn
          :disable="!visibility"
          color="secondary"
          text-color="primary"
          :to="`/public/company/${company?.id}`"
          :label="$t('btn.download')"
        />
      </q-card-section>
    </q-card>
  </q-page>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import SettingsCard from 'components/widget/SettingsCard.vue';
import DesignCard from 'components/widget/DesignCard.vue';
import SelectionCard from 'components/widget/SelectionCard.vue';
const tab = ref('settings');
const widget = ref('');
</script>
