<template>
  <div class="q-pa-md">
    <div class="flex justify-end items-center">
      <BmsSelect
        v-model="workflow"
        label="Workflows"
        style="width: 200px"
        class="q-mr-md"
        :options="options"
      ></BmsSelect>
      <q-btn style="max-width: 10%" round icon="add">
        <popup-edit
          v-model="popupEditValue"
          :title="$t('label.addWorkflow')"
          :placeholder="$t('label.enterWorkflowName')"
          :label="$t('label.workflowName')"
          @save="onSaveWorkflow"/>
      </q-btn>
    </div>
    <workflow-settings v-if="workflow" class="q-mt-md" :workflow="workflow" @updated="getWorkflows"/>

  </div>
</template>

<script setup lang="ts">
import { ref, onMounted, computed } from 'vue';
import { useWorkflowStore } from 'src/stores';
import { workflowSettings, popupEdit } from 'components/index';
import BmsSelect from 'components/commons/BmsSelect.vue';

const workflowStore = useWorkflowStore();
const popupEditValue = ref(null);
const workflow = ref();
const savedWorkflow = ref(null);
const options = computed(() => {
  return workflowStore.workflows.result.map(item => ({
    ...item.attributes,
    label: item.attributes.name,
    value: item.id
  }));
});

const getWorkflows = async () => {
  await workflowStore.fetchWorkflows();
  if (savedWorkflow.value) {
    workflow.value = savedWorkflow.value;
    savedWorkflow.value=null;
  } else {
    workflow.value = options.value?.[0] ?? null;
  }
};

const onSaveWorkflow = async (value: string) => {
    await workflowStore.createWorkflow({ name: value }).then(response=>{
      if (response.status == 200) {
        popupEditValue.value = null;
        const workflow=response.data.data;
        savedWorkflow.value = {
          ...workflow.attributes,
          label: workflow.attributes.name,
          value: workflow.id
        };
        getWorkflows();
      }
    })
}

onMounted(() => {
  getWorkflows();
});
</script>
