<template>
  <div class="container">

    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-2">
            <label>Please upload</label>
          </div>

          <div class="col-6">
            <q-select
              v-model="document"
              :options="otherDocuments"
              dense
              outlined
              @update:model-value="docValueUpdated"
            />
          </div>

          <div class="col-2">
            <q-btn
              text-color="red"
              flat
              icon="delete"
              class="cursor-pointer"
              @click="remove"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'OtherDocument',
  props: {
    otherDocuments: {
      type: Array,
      required: true,
    },
    index: {
      type: Number,
      required: true,
    },
  },
  emits: ['remove', 'selected'],
  data() {
    return {
      document: null,
      previous_document:null
    };
  },
  mounted() {
    this.document = this.previous_document = this.otherDocuments[0];
  },
  methods: {
    remove() {
      this.$emit('remove', this.index);
    },
    docValueUpdated(value) {
      this.$emit('selected', {
        old: this.previous_document,
        new: value,
        index: this.index,
      });
      this.previous_document = value
    },
  },
};
</script>
