<template>
  <q-card draggable="true">
    <q-card-section class="text-uppercase font-anton">{{ $t('label.clerk') }}</q-card-section>
    <q-list>
      <q-item v-for="(e1, i1) in recruiters" :key="i1">
        <q-list>
          <q-item v-for="(e2, i2) in e1" :key="i2">
            <q-item-section avatar>
              <CandidatePhoto :photo="e2.attributes.photo" />
            </q-item-section>
            <q-item-section>
              <q-item-label> {{ e2.attributes?.firstname }} {{ e2.attributes?.lastname }} </q-item-label>
              <q-item-label caption> @{{ e2.attributes?.username }} </q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </q-item>
    </q-list>
  </q-card>
</template>

<script setup lang="ts">
import CandidatePhoto from 'components/candidates/CandidatePhoto.vue';
defineProps({
  recruiters: {
    type: Object,
    default: null
  }
});
</script>
