<template>
  <q-card>
    <q-card-section class="text-uppercase font-anton">{{ $t('label.reviews') }}</q-card-section>
    <q-card-section>
      <q-list>
        <q-item v-for="(e2, i2) in reviews?.data" :key="i2">
          <q-item-section>
            <q-chat-message
              :name="`@${e2.attributes.recruiter.data.attributes.username}`"
              :text="[e2.attributes?.note]"
            >
              <template #avatar>
                <CandidatePhoto
                  :photo="e2.attributes.recruiter.data.attributes.photo"
                  class="q-mr-sm q-mb-sm"
                  :rounded="false"
                />
              </template>
              <template #stamp>
                <SinceDate :date="e2.attributes.createdAt" />
              </template>
            </q-chat-message>
          </q-item-section>
        </q-item>
      </q-list>
    </q-card-section>
  </q-card>
</template>

<script setup lang="ts">
import CandidatePhoto from 'components/candidates/CandidatePhoto.vue';
import SinceDate from 'components/generic/SinceDate.vue';

defineProps({
  reviews: {
    type: Object,
    default: null
  }
});
</script>
