<template>
  <q-card draggable="true">
    <q-card-section class="text-uppercase font-anton">{{ $t('label.attachmentsAndAnswers') }}</q-card-section>
    <q-card-section>
      <q-item v-for="(e2, i2) in answers" :key="i2" class="q-mr-sm">
        <q-item-section>
          {{ e2.question }}
        </q-item-section>
        <q-item-section side>
          {{ e2.answer }}
        </q-item-section>
      </q-item>
    </q-card-section>
    <q-card-section>
      <q-badge v-for="(e2, i2) in attachments?.data" :key="i2" class="q-mr-sm">
        <q-item-section>
          {{ e2.attributes?.name }}
          <q-tooltip>
            <template #default>
              <pre>{{ e2.attributes }}</pre>
            </template>
          </q-tooltip>
        </q-item-section>
      </q-badge>
    </q-card-section>
  </q-card>
</template>

<script setup lang="ts">
defineProps({
  attachments: {
    type: Object,
    default: null
  },
  answers: {
    type: Array,
    default: null
  }
});
</script>
