<template>
  <q-card class="col-6" draggable="true">
    <AddressItem :candidate="candidate" />
    <q-card-section>
      <q-item>
        <q-item-section avatar>
          <StatusSelect :status="candidate.status" />
        </q-item-section>
        <q-item-section>
          <q-btn-group>
            <q-btn no-caps :label="$t('btn.rate')" class="full-width">
              <q-popup-edit
                v-slot="rating"
                auto-save
                :model-value="{ rating: ratingStars, note: ratingText }"
                transition-show="flip-up"
                transition-hide="flip-down"
                @save="rate"
              >
                <q-banner dense class="full-width text-center">
                  <q-rating
                    v-model="rating.value.rating"
                    size="md"
                    color="secondary"
                    icon="star_border"
                    icon-selected="star"
                  />
                  <q-input
                    v-model="rating.value.note"
                    :label="$t('label.note')"
                    outlined
                    autofocus
                    autogrow
                    dense
                    class="q-mt-md"
                  />
                </q-banner>
              </q-popup-edit>
            </q-btn>
            <q-separator inset dark />
            <q-btn
              v-if="!invited && !c.isLoading"
              :disable="c.isLoading || !candidate.email"
              :loading="c.isLoading"
              no-caps
              @click="inviteCandidate"
            >
              {{ $t('message.inviteCandidate') }}
            </q-btn>

            <q-btn v-else :loading="c.isLoading" no-caps> @{{ username }} </q-btn>
          </q-btn-group>
        </q-item-section>
      </q-item>
    </q-card-section>
  </q-card>
</template>

<script setup lang="ts">
import { ref, toRef, onBeforeMount } from 'vue';
import { useCandidateStore, useAuthStore } from 'src/stores';
import StatusSelect from 'components/fields/StatusSelect.vue';
import AddressItem from 'components/candidates/AddressItem.vue';

const props = defineProps({
  candidate: {
    type: Object,
    default: null
  }
});

const emit = defineEmits(['rate']);

const a = useAuthStore(),
  c = useCandidateStore(),
  candidate = toRef(props, 'candidate'),
  showReviewPopup = ref(false),
  ratingStars = ref(0),
  ratingText = ref(null),
  invited = ref(false),
  username = ref('');

onBeforeMount(() => {
  const id = a.user.id;
  invited.value = candidate.value?.applicant?.data?.attributes?.username ? true : false;
  username.value = candidate.value?.applicant?.data?.attributes?.username;

  ratingStars.value = candidate.value?.reviews?.data?.find(
    v => v.attributes?.recruiter?.data.id == id
  )?.attributes?.rating;
  ratingText.value = candidate.value?.reviews?.data?.find(
    v => v.attributes?.recruiter?.data.id == id
  )?.attributes?.note;
});

function inviteCandidate() {
  c.invite({ email: candidate.value?.email, id: candidate.value.id });
}

function rate(v) {
  c.review({ rating: v.rating, note: v.note, id: c.candidate?.id }).then(() => {
    showReviewPopup.value = false;
    ratingStars.value = v.rating;
    ratingText.value = v.note;
    emit('rate', v);
  });
}
</script>
