<template>
  <q-card>
    <q-card-section class="text-uppercase font-anton">{{ $t('label.messages') }}</q-card-section>
    <q-card-section>{{ messages }}</q-card-section>
    <!--
    <q-card-section>{{ refText }}</q-card-section>
    <q-card-section>{{ cursorPositionStart }}</q-card-section>
    <q-card-section>{{ cursorPositionEnd }}</q-card-section>
    -->
    <q-card-section>
      <q-input
        ref="refText"
        :model-value="text"
        autogrow
        outlined
        counter
        @keydown="isAtKey"
        @contextmenu="click"
        @update:model-value="v => update(v)"
      >
        <q-menu ref="menu" v-model="context" :target="true" touch-position context-menu>
          <q-select
            ref="refSelect"
            v-model="user"
            :options="['@cbleek', '@employee', '@demo', '@claudius']"
            @update="updateUser"
          ></q-select>
        </q-menu>
      </q-input>
    </q-card-section>
  </q-card>
</template>

<script setup lang="ts">
import { ref } from 'vue';
defineProps({
  messages: {
    type: Object,
    default: null
  }
});

const menu = ref(null);
const refText = ref(null);
const refSelect = ref(null);
const context = ref(null);
// const cursorPositionStart = ref(null);
// const cursorPositionEnd = ref(null);

const user = ref(null);

function isAtKey(e) {
  if (e.key === '@') {
    const currentText = text.value;
    const cursorPositionStart = refText.value.nativeEl.selectionStart;
    const cursorPositionEnd = refText.value.nativeEl.selectionEnd;
    text.value =
      currentText.slice(0, cursorPositionStart.value) +
      '<span class="xxx">@</span>' +
      currentText.slice(cursorPositionEnd.value, currentText.length);
    menu.value.show();
  }
  console.log(e, menu.value);
}

function click(e) {
  console.log('CONTEXT MENU', e);
  menu.value.show();
}

function update(e) {
  console.log('UPDATE', e);
  text.value = e;
}

function updateUser(e) {
  console.log('UPDATE', e);
  menu.value.hide();
  text.value = e;
}

const text = ref('');
</script>
