<template>
  <q-card>
    <q-card-section>
      <q-item>
        <q-item-section class="text-uppercase font-anton">{{ $t('label.events') }}</q-item-section>
        <q-item-section avatar>
          <q-btn round icon="add" @click="openDialog" />
        </q-item-section>
      </q-item>
    </q-card-section>

    <q-markup-table v-for="(e1, i1) in events" :key="i1">
      <thead>
        <tr>
          <th class="text-left">{{ $t('label.date') }}</th>
          <th class="text-left">{{ $t('event.title') }}</th>
          <th class="text-left">{{ $t('event.type') }}</th>
          <th class="text-right">{{ $t('label.actions') }}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(e2, i2) in e1" :key="i2">
          <td class="text-left">{{ new Date(e2.attributes?.date).toLocaleDateString($root?.$i18n?.locale) }}</td>
          <td class="text-left">{{ e2.attributes?.subject }}</td>
          <td class="text-left">{{ $t(`event.${e2.attributes?.type}`) }}</td>
          <td class="text-right">
            <q-icon name="edit" @click="openDialog"/>
            <q-icon name="delete" size="xs" color="red" @click="onClickDelete(e2)" />
          </td>
       </tr>
      </tbody>

    </q-markup-table>
    <confirm-delete
      v-if="selectedEvent"
      :id="selectedEvent.id"
      v-model="confirm_delete_dialog"
      type="event"
      icon="delete"
      :item-label="$t('dialog.confirmDeleteEvent')"
      @deleted="onEventDeleted"
    >
    </confirm-delete>
  </q-card>
</template>

<script setup lang="ts">
import { useQuasar } from 'quasar';
import { ref } from 'vue';
import EventDialog from 'components/candidates/detail/EventDialog.vue';
import { confirmDelete } from 'src/components';

const $q = useQuasar();

const props = defineProps({
  events: {
    type: Object,
    default: null
  },
  attendees: {
    type: Number,
    default: null
  },
});
const emit=defineEmits(['refresh']);
const selectedEvent=ref(null);
const confirm_delete_dialog=ref(false);

function onEventDeleted() {
  emit('refresh');
}
function onClickDelete(event) {
  selectedEvent.value=event;
  confirm_delete_dialog.value=true;
}

function openDialog() {
  $q.dialog({
    component: EventDialog,
    componentProps: {
      attendees: props.attendees,
      onUpdate: ()=>{
        emit('refresh');
      }
    },
  })
    .onOk(result => {
      console.log(result);
    })
    .onCancel(() => {
      console.log('Cancel');
    })
    .onDismiss(() => {
      emit('refresh');
    });
}
</script>
