<template>
  <q-dialog
    ref="dialogRef"
    transition-show="rotate"
    transition-hide="rotate"
    :maximized="false"
    @hide="onDialogHide"
    @update="$emit('update', 1)">
    <q-card class="dialog-card" >
      <DialogBar >
        {{ $t('dialog.createEvent') }}
      </DialogBar>
      <q-card-section class="scroll dialog-card-content" style="max-height: 85vh">
        <EventForm
        :attendees="props.attendees"
        @cancel="onCancelClick"
        @success="onOKClick"
        @update="onUpdateEvent"
      />
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script setup lang="ts">
import { useDialogPluginComponent } from 'quasar';
import EventForm from 'components/forms/EventForm.vue';
import DialogBar from 'components/commons/DialogBar.vue';

const { dialogRef, onDialogHide, onDialogCancel, onDialogOK } = useDialogPluginComponent();

const props = defineProps({
  attendees: {
    type: Number,
    default: 0
  },
  onUpdate: Function
});

defineEmits(['update', ...useDialogPluginComponent.emits]);

function onOKClick(r) {
  onDialogOK(r)
}

function onCancelClick() {
  onDialogCancel();
}

const onUpdateEvent=(value)=>{
 if(props.onUpdate){
   props.onUpdate(value)
 }
}
</script>
