<template>
  <q-page>
    <q-form>
      <q-card>
        <q-card-section class="flex justify-center">
          <drop-zone :photo="user.photo" :rounded="false" @change="onChangeImage" />
        </q-card-section>
        <q-card-section class="row">
          <input-field v-model="formData.firstname" class="col-md-6 q-pr-md" :label="$t('label.firstname')" />
          <input-field v-model="formData.lastname" class="col-md-6" :label="$t('label.lastname')" />
        </q-card-section>
        <q-card-section class="row">
          <input-field v-model="formData.email" class="col-md-6 q-pr-md" :label="$t('btn.email')" />
          <input-field :model-value="user.username" class="col-md-6" :readonly="true" :label="$t('label.username')" />
        </q-card-section>
        <q-card-section class="row">
          <input-field v-model="formData.ui_timezone" class="col-md-6 q-pr-md" :label="$t('label.timezone')" />
          <language-switch class="col-md-6" :selected-locale="formData.ui_language" @change-lang="onChangeLanguage" />
        </q-card-section>
        <q-card-section class="row">
          <display-mode class="col-md-6 q-pr-md" :value="formData.ui_display" @display="onChangeDisplay" />
          <startpage-select class="col-md-6" :value="formData.ui_startpage" @change-startpage="onChangeStartpage" />
        </q-card-section>
        <cancel-or-save no-caps @save="onSaveForm" />
      </q-card>
    </q-form>
  </q-page>
</template>

<script setup lang="ts">
import { computed, onMounted } from 'vue';
import { User } from 'src/types';

import StartpageSelect from 'components/generic/StartpageSelect.vue';
import { cancelOrSave, dropZone, languageSwitch } from 'src/components';
import DisplayMode from 'components/fields/DisplaySelect.vue';
import InputField from 'components/fields/InputField.vue';
import { useEmployeeStore, useAuthStore } from 'src/stores';
import { changeLocale, i18n } from 'boot/i18n';

const store = useAuthStore();
const employeeStore = useEmployeeStore();
const user = computed<User>(() => store.user as User);
//const formData = ref<UserProfileData>({});
const timezoneBrowser = Intl.DateTimeFormat().resolvedOptions().timeZone;

const formData = computed(
  {
    get() {
      return {
        firstname: user.value.firstname,
        lastname: user.value.lastname,
        email: user.value.email,
        ui_startpage: user.value?.ui_startpage ?? '',
        ui_display: user.value?.ui_display ?? '',
        ui_language: user.value?.ui_language ?? '',
        ui_timezone: user.value?.ui_timezone ?? timezoneBrowser
      }
    },
    set(value) {
      store.user.ui_display = value.ui_display;
      store.user.ui_language = value.ui_language;
      store.user.ui_startpage = value.ui_startpage;
    }
  }
);

onMounted(async () => {
  await store.me();
});

/**
 * Page Events
 */
const onChangeLanguage = (value: string) => {
  changeLocale(i18n, value)
  formData.value.ui_language = value
};

const onChangeDisplay = (value: string) => (formData.value = { ...formData.value, ui_display: value });

const onChangeStartpage = (value: string) => (formData.value = { ...formData.value, ui_startpage: value });

const onChangeImage = async resource => {
  await employeeStore
    .saveEmployeePhoto(resource.binary, user.value.photo?.id ? user.value.photo.id : null)
    .then(async response => {
      if (response.status == 200) {
        await store.me();;
      }
    });
};

const onSaveForm = async () => {
  await store.updateProfile(formData.value);
};
</script>
