<template>
  <q-card flat>
    <q-card-section class="text-uppercase font-anton">
      {{ $t('widget.configureWidgetDesign') }}
    </q-card-section>
    <q-card-section>
      <q-list>
        <q-item v-for="e in widget" :key="e">
          <q-item-section>
            <q-item-label class="text-bold">{{ $t(`widget.designWidget${e.label}Label`) }}</q-item-label>
          </q-item-section>
          <q-item-section side>
            <ColorPicker />
          </q-item-section>
        </q-item>
      </q-list>
    </q-card-section>
    <q-card-section  class="text-uppercase font-anton">
      {{ $t('widget.configureJobDesign') }}
    </q-card-section>
    <q-card-section>
      <q-list>
        <q-item v-for="e in job" :key="e">
          <q-item-section>
            <q-item-label class="text-bold">{{ $t(`widget.designJob${e.label}Label`) }}</q-item-label>
          </q-item-section>
          <q-item-section side> <ColorPicker /></q-item-section>
        </q-item>
      </q-list>
    </q-card-section>
  </q-card>
</template>

<script setup lang="ts">
import ColorPicker from 'components/fields/ColorPicker.vue';

const widget = [
  {
    label: 'Backgound',
    default: 'test'
  },
  {
    label: 'Border',
    default: 'test'
  },
  {
    label: 'Paginator',
    default: 'test'
  }
];

const job = [
  {
    label: 'Backgound',
    default: 'test'
  },
  {
    label: 'Border',
    default: 'test'
  },
  {
    label: 'Shadow',
    default: 'test'
  },
  {
    label: 'TextPrimary',
    default: 'test'
  },
  {
    label: 'TextSecondary',
    default: 'test'
  }
];
</script>
