<template>
  <q-card flat>
    <q-card-section>
      {{ $t('widget.selectCategory') }}
    </q-card-section>
    <q-card-section>
      <q-item v-for="e in items" :key="e">
        <q-item-section>
          <q-item-label class="text-bold">{{ $t(`widget.${e.label}Label`) }}</q-item-label>
          <q-item-label caption>{{ $t(`widget.${e.label}Description`) }}</q-item-label>
        </q-item-section>
      </q-item>
    </q-card-section>
  </q-card>
</template>

<script setup lang="ts">
const items = [{ label: 'category' }, { label: 'locations' }, { label: 'typeOfWork' }];
</script>
