<template>
  <q-card flat>
    <q-card-section  class="text-uppercase font-anton">
      {{ $t('widget.settingWidgetFeature') }}
    </q-card-section>
    <q-card-section>
      <q-list>
        <q-item v-for="e in widget" :key="e">
          <q-item-section>
            <q-item-label class="text-bold">{{ $t(`widget.settingWidget${e.label}Label`) }}</q-item-label>
            <q-item-label caption>{{ $t(`widget.settingWidget${e.label}Description`) }}</q-item-label>
          </q-item-section>
          <q-item-section side>
            <q-toggle v-if="typeof e.enabled === 'boolean'" v-model="e.enabled"></q-toggle>
            <LanguageSwitch v-else-if="e.label.toLowerCase() === 'language'" selected="de"></LanguageSwitch>
          </q-item-section>
        </q-item>
      </q-list>
    </q-card-section>
    <q-card-section  class="text-uppercase font-anton">
      {{ $t('widget.settingJobFeature') }}
    </q-card-section>
    <q-card-section>
      <q-list>
        <q-item v-for="e in job" :key="e">
          <q-item-section>
            <q-item-label class="text-bold">{{ $t(`widget.settingJob${e.label}Label`) }}</q-item-label>
            <q-item-label caption>{{ $t(`widget.settingJob${e.label}Description`) }}</q-item-label>
          </q-item-section>
          <q-item-section side>
            <q-toggle v-if="typeof e.enabled === 'boolean'" v-model="e.enabled"></q-toggle>
          </q-item-section>
        </q-item>
      </q-list>
    </q-card-section>
  </q-card>
</template>

<script setup lang="ts">
import LanguageSwitch from 'components/generic/LanguageSwitch.vue';

const widget = [
  {
    label: 'Category',
    enabled: false
  },
  {
    label: 'Location',
    enabled: false
  },
  {
    label: 'TypeOfWork',
    enabled: false
  },
  {
    label: 'Language',
    default: 'de-DE'
  },
  {
    label: 'RowsPerPage',
    default: 10
  }
];

const job = [
  {
    label: 'Logo',
    enabled: false
  },
  {
    label: 'Location',
    enabled: false
  },
  {
    label: 'TypeOfWork',
    enabled: false
  },
  {
    label: 'Category',
    enabled: false
  }
];
</script>
