<template>
  <q-dialog ref="dialogRef" persistent @hide="onDialogHide">
    <q-card class="q-dialog-plugin">
      <DialogBar>
        {{ uppercase($t('label.department')) }}
      </DialogBar>
        <q-card class="full-width">
          <q-card-section>
            <select-department :department="department" @update="save()"/>
          </q-card-section>
          <q-card-actions align="right">
            <q-btn
              type="submit"
              color="secondary"
              text-color="primary"
              no-caps
              outlined
              :label="$t('btn.save')"
              :loading="isLoading"
            />
          </q-card-actions>
        </q-card>

    </q-card>
  </q-dialog>
</template>

<script setup lang="ts">
import { ref, PropType, onMounted } from 'vue';
import { Employee } from 'src/types';
import { useDialogPluginComponent } from 'quasar';
import { useDepartmentStore } from 'stores/department';
import { defaults } from 'components/default';
import { selectDepartment } from 'src/components';
import { useEmployeeStore } from 'stores/employee';
import DialogBar from 'components/commons/DialogBar.vue';

const props = defineProps({
  employee: {
    type: Object as PropType<Employee>,
    default: null
  }
});

const departments = ref([]);

const employeeStore = useEmployeeStore(),
  isLoading = ref(employeeStore.isLoading),
  departmentStore = useDepartmentStore(),
  department = ref(props.employee?.attributes?.department?.data?.id);

defineEmits([...useDialogPluginComponent.emits]);

const { dialogRef, onDialogOK } = useDialogPluginComponent();

function save() {
  const obj = {
    id: props.employee.id,
    department: department.value
  };
  employeeStore
    .save(obj)
    .then(r => {
      console.log(r);
      dialogRef.value.hide();
      onDialogOK();
    })
    .catch(e => {
      console.log(e);
    });
}

const fetchDepartments = async () => {
  await departmentStore.fetchDepartments({ filter: '', pagination: { ...defaults.pagination }});
  departments.value = departmentStore.departments.result.map(item => {
    return {
      value: item.id,
      label: item.attributes.name
    };
  });
};

onMounted(() => {
  fetchDepartments();
});

function uppercase(str) {
  return str.charAt(0).toUpperCase() + str.slice(1);
}
</script>
