<template>
  <q-dialog ref="dialogRef" persistent @hide="onDialogHide">
    <q-card class="q-dialog-plugin">
      <DialogBar>
        {{ dialogTitle }}
      </DialogBar>
      <InviteForm :employee="props.employee" @cancel="onDialogCancel" @success="onSuccess"/>
    </q-card>
  </q-dialog>
</template>

<script setup lang="ts">
import { watch, PropType, computed } from 'vue';
import InviteForm from 'components/team/InviteForm.vue';
import { Employee } from 'src/types';
import { useDialogPluginComponent } from 'quasar';
import { useI18n } from 'vue-i18n';
import DialogBar from 'components/commons/DialogBar.vue';

const { t } = useI18n();
//const employee = ref<Employee>({});

const props = defineProps({
  employee: {
    type: Object as PropType<Employee>,
    default: null
  }
});

defineEmits([
  // REQUIRED; need to specify some events that your
  // component will emit through useDialogPluginComponent()
  ...useDialogPluginComponent.emits
]);
const { dialogRef, onDialogOK } = useDialogPluginComponent();

watch(
  () => [props.employee],
  newValue => {
    if (newValue) {
     // employee.value = props.employee;
    }
  }
);
const dialogTitle = computed(() => {
  let title = t('dialog.createInvitation');
  const employee=props.employee;
  if (employee) {
    if (!employee.attributes.user.data?.attributes.confirmed) {
      title = t('dialog.editInvitation')
    }else{
      title= t('dialog.editUser')
    }
  }
  return title;
})
const onSuccess = () => {
  dialogRef.value.hide();
  onDialogOK();
};
</script>
