<template>
  <q-form
    :autofocus="true"
    autocorrect="off"
    autocapitalize="off"
    autocomplete="off"
    spellcheck="false"
    @submit="save(Object.assign({},{ username, email, departments, firstname, lastname },{id: employeeId}))"
  >
    <q-card class="full-width">
      <q-card-section>
        <div class="row">
          <q-input
            v-model="firstname"
            :label="$t('label.firstname')"
            outlined
            dense
            label-stack
            class="col-6 q-pr-sm q-mb-md"
          />
          <q-input
            v-model="lastname"
            :label="$t('label.lastname')"
            outlined
            dense
            label-stack
            class="col-6 q-pl-sm"/>
        </div>

        <q-input
          v-model="username"
          :label="$t('label.username')"
          outlined
          dense
          label-stack
          lazy-rules
          :rules="[rules.required]"
        />
        <div class="row">
          <select-department
            :departments="departments" class="q-mb-md col-12"
            @update:model-value="val => (departments = val)"
          />
        </div>
        <q-input
          v-model="email"
          type="email"
          :label="$t('btn.email')"
          outlined
          label-stack
          dense
          clearable
          lazy-rules
          :rules="[rules.required, rules.validEmail]"
        />
      </q-card-section>
      <q-card-actions align="right">
        <q-btn v-close-popup no-caps flat :label="$t('btn.cancel')"/>
        <q-btn
          type="submit"
          color="secondary"
          text-color="primary"
          no-caps
          outlined
          :label="btnLabel"
          :loading="isLoading"
        />
      </q-card-actions>
    </q-card>
  </q-form>
</template>

<script setup lang="ts">
import { ref, PropType, computed } from 'vue';
import rules from '../../lib/validate';
import { Employee } from 'src/types';
import { selectDepartment } from 'src/components';
import { useEmployeeStore } from 'stores/employee';
import { useI18n } from 'vue-i18n';

const props = defineProps({
  employee: {
    type: Object as PropType<Employee>,
    default: null
  }
});

const emit = defineEmits(['success']);

const { t } = useI18n();
const email = ref(props.employee?.attributes?.user?.data?.attributes?.email),
  firstname = ref(props.employee?.attributes?.user?.data?.attributes?.firstname),
  username = ref(props.employee?.attributes?.user?.data?.attributes?.username),
  lastname = ref(props.employee?.attributes?.user?.data?.attributes?.lastname),
  departments = ref(props.employee?.attributes?.departments?.data),
  confirmed = ref(props.employee?.attributes?.user?.data?.attributes?.confirmed),
  employeeId = ref(props.employee?.id),
  employees = useEmployeeStore(),
  isLoading = ref(employees.isLoading);

function save(data) {
  employees.save(data).then(() => emit('success', true));
}

const btnLabel = computed(() => {
  let label = t('btn.inviteNewUser');//confirmed ? $ :
  if (props.employee) {
    if (confirmed.value) {
      label = t('btn.updateUser')
    } else {
      label = t('btn.reinviteUser')
    }
  }
  return label;
})
</script>
