<template>
  <q-table
    ref="tableRef"
    v-model:pagination="pagination"
    wrap-cells
    :title="$t('label.team')"
    title-class="text-uppercase font-anton"
    :rows="data"
    :columns="columns"
    :loading="isLoading"
    :filter="filter"
    class="full-width"
    :rows-per-page-options="rowsPerPage"
    binary-state-sort
    row-key="id"
    @request="onRequest"
  >
    <template #body="props">
      <q-tr>
        <q-td key="name">
          <q-item dense>
            <q-item-section avatar>
              <thumbnail :photo="props.row.attributes.user?.data?.attributes?.photo" />
            </q-item-section>
            <q-item-section>
              {{ props.row.attributes.user?.data?.attributes.firstname }}
              {{ props.row.attributes.user?.data?.attributes.lastname }}
              ({{ props.row.attributes.user?.data?.attributes.username }})<br />
              <span class="text-caption">
                {{ props.row.attributes.user?.data?.attributes.email }}<br />
                <q-badge
                  text-color="grey-10"
                  :color="
                    props.row.attributes.user?.data?.attributes.role.data.attributes.name === 'Employee'
                      ? 'green-2'
                      : 'blue-2'
                  "
                  :label="props.row.attributes.user?.data?.attributes.role.data.attributes.name"
                />
              </span>
            </q-item-section>
          </q-item>
        </q-td>
        <q-td key="invited" align="right">
          {{ new Date(props.row.attributes.user?.data?.attributes.createdAt).toLocaleString() }}
        </q-td>
        <q-td key="confirmed">
          {{ props.row.attributes.user.data?.attributes.confirmed === true ? $t('yes') : $t('no') }}
        </q-td>
        <q-td key="departments">
          <q-badge
            v-for="item in props.row.attributes.departments.data"
            :key="item"
            class="q-mr-sm bms-badge"
            outline
            >{{ item.attributes.name }}</q-badge
          >
        </q-td>
        <q-td v-if="role?.type == ROLES.COMPANY_OWNER" key="actions" align="right">
          <q-btn size="sm" dense flat icon="edit" @click="onClickEdit(props.row)" />
          <q-btn
            size="sm"
            dense
            flat
            icon="delete"
            color="red"
            :disabled="props.row.confirmed === true"
            @click="onClickDelete(props.row)"
          />
        </q-td>
      </q-tr>
    </template>
    <template #top-right>
      <q-input
        v-model="filter.q"
        class="q-mr-sm"
        outlined
        dense
        clearable
        debounce="500"
        :placeholder="$t('label.search')"
      >
        <template #append>
          <q-icon name="search" />
        </template>
      </q-input>
      <q-btn round icon="add" class="q-ml-sm" @click="onClickEdit()" />
    </template>
  </q-table>
  <confirm-delete
    v-if="selected_employee != null"
    :id="selected_employee.id"
    v-model="confirm_delete_dialog"
    :item-label="
      $t('dialog.confirmDeleteUser', {
        firstname: selected_employee.attributes.user.data?.attributes?.firstname,
        lastname: selected_employee.attributes.user.data?.attributes?.lastname,
        username: selected_employee.attributes.user.data?.attributes?.username
      })
    "
    type="employee"
    icon="delete"
    @deleted="onEmployeeDeleted"
  >
  </confirm-delete>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { useI18n } from 'vue-i18n';
import InviteFormDialog from 'components/team/InviteFormDialog.vue';
// import AssignDepartmentDialog from 'components/team/AssignDepartmentDialog.vue';
import { thumbnail } from 'src/components';
import { useQuasar } from 'quasar';
import { useAuthStore } from 'src/stores';
import useTable from 'src/composables/table';
import { ROLES } from 'src/settings';
import { confirmDelete } from 'src/components';

const $q = useQuasar(),
  { filter, onRequest, pagination, isLoading, rowsPerPage, data } = useTable('employees');
// e = useEmployeeStore();

const authStore = useAuthStore();
const role = ref(authStore.getRole);
const selected_employee = ref(null);
const confirm_delete_dialog = ref(false);
const { t } = useI18n();
const tableRef = ref(null);
let columns = [
  {
    name: 'user.username',
    align: 'left',
    label: t('label.name'),
    field: 'username',
    sortable: true,
    headerClasses: 'text-capitalize'
  },
  {
    name: 'createdAt',
    align: 'right',
    label: t('label.invitedAt'),
    field: 'createdAt',
    sortable: true,
    headerClasses: 'text-capitalize'
  },
  {
    name: 'user.confirmed',
    align: 'left',
    label: t('label.confirmedAt'),
    field: 'confirmed',
    sortable: true,
    headerClasses: 'text-capitalize'
  },
  {
    name: 'departments.name',
    align: 'left',
    label: t('label.department'),
    field: 'departments',
    sortable: true,
    headerClasses: 'text-capitalize'
  }
];
if (role.value?.type == ROLES.COMPANY_OWNER) {
  columns = [
    ...columns,
    {
      name: 'actions',
      align: 'right',
      label: t('label.actions'),
      field: 'partyOnly',
      sortable: false,
      headerClasses: 'text-capitalize'
    }
  ];
}
const onEmployeeDeleted = () => {
  tableRef.value.requestServerInteraction();
};
const showDialog = (component, data) => {
  $q.dialog({
    component: component,
    componentProps: {
      employee: data
    }
  }).onOk(() => {
    tableRef.value.requestServerInteraction();
  });
};

const onClickDelete = employee => {
  selected_employee.value = employee;
  confirm_delete_dialog.value = true;
};

function onClickEdit(data = null) {
  //const component = data.attributes?.user?.data?.attributes?.confirmed ? AssignDepartmentDialog : InviteFormDialog;
  showDialog(InviteFormDialog, data);
}
</script>
<style lang="scss">
.body--light {
  .bms-badge {
    color: $primary !important;
  }
}

.body--dark {
  .bms-badge {
    color: $yellow-7 !important;
  }
}

</style>
