<template>
  <q-card v-if="job && job.id" rounded>
    <q-card-section v-if="(job.company && job.company?.data?.attributes?.logo) && !(fontClass == 'font-anton')" align="center">
      <thumbnail :photo="job.company?.data?.attributes?.logo" size="200px" />
    </q-card-section>
    <JobHeaderCarousel :images="job.company?.data?.attributes?.header?.data" />
    <q-card-section align="left" :class="`${fontClass} text-subtitle1`">{{ isPremium ? job.job_template?.data?.attributes?.introLabel ?? $t('job.introLabel') : $t('job.introLabel') }}</q-card-section>
    <q-card-section align="left">
      <q-markdown :src="job?.intro" />
    </q-card-section>
    <q-card-section align="center" class="text-subtitle1">
       <h4 :class="fontClass">{{ job?.title }}</h4>
    </q-card-section>
    <q-card-section align="left" :class="`${fontClass} text-subtitle1`">{{ isPremium ? job.job_template?.data?.attributes?.tasksLabel ?? $t('job.tasksLabel') : $t('job.tasksLabel') }}</q-card-section>
    <q-card-section align="left">
      <q-markdown :src="job?.tasks" />
    </q-card-section>
    <q-card-section align="left" :class="`${fontClass} text-subtitle1`">{{ isPremium ? job.job_template?.data?.attributes?.profileLabel ?? $t('job.requirementsLabel') : $t('job.requirementsLabel') }}</q-card-section>
    <q-card-section align="left">
      <q-markdown :src="job?.profile" />
    </q-card-section>
    <q-card-section align="left" :class="`${fontClass} text-subtitle1`">{{ isPremium ? job.job_template?.data?.attributes?.benefitsLabel ?? $t('job.benefitsLabel') : $t('job.benefitsLabel') }}</q-card-section>
    <q-card-section align="left">
      <q-markdown :src="job?.benefits" />
    </q-card-section>
    <q-card-section align="left" :class="`${fontClass} text-subtitle1`">{{ $t('job.outroLabel') }}</q-card-section>
    <q-card-section align="left">
      <q-markdown :src="job?.outro" />
    </q-card-section>
    <q-card-section align="center">
      <apply-button v-if="job" :job="job" size="xl"/>
    </q-card-section>
  </q-card>
</template>

<script setup lang="ts">
import { PropType, computed, ref, watch } from 'vue';
import JobHeaderCarousel from 'components/job/detail/JobHeaderCarousel.vue';
import { thumbnail } from 'src/components';
import { QMarkdown } from '@quasar/quasar-ui-qmarkdown';
import '@quasar/quasar-ui-qmarkdown/dist/index.css';
import { routeName } from 'src/router/names';
import { useRoute } from 'vue-router';
import { JobType } from 'src/types';
import ApplyButton from 'components/commons/ApplyButton.vue';

const props = defineProps({
  job: {
    type: Object as PropType<JobType>,
    default: null
  },
});
const job = ref(props.job);

const isPremium = computed(() => {
  const route = useRoute();
  return route.name === routeName.jobPremium
})

const fontClass = computed(() => {
  let font;
  const route = useRoute();
  switch (route.name) {
    case routeName.jobPremium:
      font = 'font-anton'
      break;
    case routeName.jobIntern:
      font = 'font-anton'
      break;
    default:
      font = route.name
  }
  return font
})

watch(()=>props.job, newValue=>{
  job.value=newValue;
})


</script>

