<template>
  <q-carousel v-if="photos" v-model="slide" :infinite="true" :autoplay="autoplay" class="cursor-pointer" animated>
    <q-carousel-slide v-for="(e, i) in photos" :key="i" :name="'slide' + i">
      <q-img fit="contain" class="rounded-borders full-height" :src="strapi + e.attributes.url" />
    </q-carousel-slide>
  </q-carousel>
  <q-popup-edit class="hidden" auto-save>
    <q-uploader
      :factory="factoryFn"
      accept=".jpg, image/*"
      @uploaded="onUploaded"
    />
  </q-popup-edit>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { useCompanyStore } from 'src/stores';

const props = defineProps({
  images: {
    type: Array,
    default: null
  }
});

const companyStore = useCompanyStore();
const strapi = import.meta.env.VITE_AUTH_URL;
const autoplay = true;
const slide = ref('slide1');
const photos = ref(props.images);
const factoryFn = async files => {
  const formData = new FormData();
  formData.append('files', files[0]);

  return companyStore.saveLogo(formData);
};
const onUploaded = info => {
  console.log('Info ', info);
};
</script>
