<template>
  <q-table
    ref="tableRef" v-model:pagination="pagination" wrap-cells :title="$t('jobs')" :rows="data"
    title-class="font-anton text-uppercase"
    :rows-per-page-options="rowsPerPage" :columns="columns" :loading="isLoading" :filter="filter" binary-state-sort
    row-key="id" :visible-columns="visibleColumns" class="full-width" @request="onRequest">
    <template #body="props">
      <q-tr>
        <q-td name="createdAt">
          {{ new Date(props.row.attributes.updatedAt).toLocaleDateString($root?.$i18n?.locale) }}
          <q-tooltip :delay="1000">
            <template #default>
              <div>{{ $t('createdAt') }}: {{ props.row.attributes.createdAt }}</div>
              <div>{{ $t('updatedAt') }}: {{ props.row.attributes.updatedAt }}</div>
            </template>
          </q-tooltip>
        </q-td>
        <q-td v-if="companySettings.multilingualEnabled" name="locale">
          <country-icon :name="props.row.attributes?.locale"></country-icon>
          <country-icon
            v-for="(e, i) in props.row.attributes?.localizations?.data" :key="i" class="q-ml-xs"
            :name="e.attributes.locale" size="xs"/>
        </q-td>
        <q-td name="recruiters">
          <photo-list :people="props.row.attributes.recruiters?.data" />
          <q-space/>
        </q-td>

        <q-td name="form">
          {{ props.row.attributes.applicationForm?.data?.attributes?.name }}
          <q-tooltip :delay="2000">
            <template #default>
              <pre>{{ props.row.attributes.applicationForm.data.id }}</pre>
            </template>
          </q-tooltip>
        </q-td>
        <q-td name="title" class="full-width">
          <q-btn
            align="left"
            no-caps size="sm" flat :to="{ name: 'public-job', params: { id: props.row.id } }" style="width: 100%"
            @click="onClickPreview(props.row)">
            <div class="ellipsis">
              {{ props.row.attributes.title }}
            </div>
          </q-btn>
        </q-td>
        <q-td name="workflow">
          <div class="ellipsis">
            {{ props.row.attributes.workflow?.data?.attributes?.name }}
          </div>
        </q-td>
        <q-td name="state" class="text-no-wrap">
          {{ props.row.attributes.publishedAt ? $t('published') : $t('draft') }}
        </q-td>
        <q-td name="applications" align="center">
          <q-btn
            no-caps round flat size="sm" class="cursor-pointer" :label="props.row.attributes.candidates?.data.length"
            :disable="!props.row.attributes.candidates?.data" :to="'/candidates?job=' + props.row.id">
            <q-tooltip :delay="2000">
              <template #default>
                <pre>{{ props.row.attributes.candidates?.data }}</pre>
              </template>
            </q-tooltip>
          </q-btn>
        </q-td>
        <q-td name="actions" align="right" style="min-width: 110px">
          <q-btn size="sm" flat dense icon="edit" @click="prepareJob(props.row)"/>
          <q-btn size="sm" flat dense icon="visibility" @click="onClickPreview(props.row)">
            <q-tooltip :delay="1000">{{ $t('dialog.editJobPosting') }}</q-tooltip>
          </q-btn>
          <q-btn
            size="sm" flat dense icon="delete" color="red"
            @click="onClickDelete(props.row.id, props.row.attributes.title)">
            <q-tooltip :delay="1000">delete job</q-tooltip>
          </q-btn>
        </q-td>
      </q-tr>
    </template>
    <template #top-right>
      <q-input
        v-model="filter.q" class="q-mr-sm" outlined dense clearable debounce="500"
        :placeholder="$t('label.search')">
        <template #append>
          <q-icon name="search"/>
        </template>
      </q-input>
      <q-btn round icon="add">
        <popup-edit
          v-model="btnAdd"
          :title="$t('dialog.createJob')"
          :placeholder="$t('dialog.placeholderJob')"
          :label="$t('job.titleLabel')"
          @save="createJob"/>
      </q-btn>
    </template>
  </q-table>
  <confirm-delete
    v-if="selectedJob" :id="selectedJob.id" v-model="confirm_delete_dialog" type="job" icon="delete"
    :item-label="$t('dialog.confirmDeleteJob', { name: selectedJob.title })" @deleted="onJobDeleted">
  </confirm-delete>
  <job-preview-dialog v-if="selectedJob" :job="selectedJob" :preview="preview" @close="preview = false"/>
</template>

<script setup lang="ts">
import { countryIcon, jobFormStepper, confirmDelete, jobPreviewDialog, popupEdit } from 'src/components';
import { useQuasar } from 'quasar';
import { ref } from 'vue';
import { useI18n } from 'vue-i18n';
import useTable from '../../composables/table';
import PhotoList from 'components/generic/PhotoList.vue'
import { useCompanyStore, useJobStore } from 'src/stores';

const selectedJob = ref(null);
const confirm_delete_dialog = ref(false),
  preview = ref(false);
const companyStore = useCompanyStore(),
  companySettings = ref(companyStore.settings);

const jobStore = useJobStore();

const btnAdd = ref(null);
const tableRef = ref(null);
const $q = useQuasar(),
  { t } = useI18n(),
  // columns can be hidden. Maybe this is getting usefull if we know the
  // role of a user in the frontend
  visibleColumns = ref(
    companySettings.value.multilingualEnabled
      ? ['createdAt', 'locale', 'recruiters.firstname', 'form', 'title', 'workflow', 'updatedAt', 'application', 'actions']
      : ['createdAt', 'recruiters.firstname', 'form', 'title', 'workflow', 'updatedAt', 'application', 'actions']
  ),
  { filter, onRequest, pagination, isLoading, rowsPerPage, data } = useTable('companyjobs');

const columns = [
  {
    name: 'createdAt',
    align: 'left',
    label: t('label.date'),
    sortable: true,
    headerClasses: 'text-capitalize'
  },
  {
    name: 'locale',
    align: 'left',
    label: t('label.language'),
    sortable: true,
    headerClasses: 'text-capitalize'
  },
  {
    name: 'recruiters.firstname',
    align: 'left',
    label: t('label.clerk'),
    sortable: true,
    headerClasses: 'text-capitalize'
  },
  {
    name: 'form',
    align: 'left',
    label: t('label.applicationForm'),
    sortable: false,
    headerClasses: 'text-capitalize'
  },
  {
    name: 'title',
    align: 'left',
    label: t('label.job'),
    sortable: true,
    headerClasses: 'text-capitalize'
  },
  {
    name: 'workflow',
    align: 'left',
    label: t('dialog.workflow'),
    sortable: false,
    headerClasses: 'text-capitalize'
  },
  {
    name: 'updatedAt',
    align: 'left',
    label: t('label.state'),
    sortable: true,
    headerClasses: 'text-capitalize'
  },
  {
    name: 'application',
    align: 'center',
    label: t('label.applications'),
    sortable: false,
    headerClasses: 'text-capitalize'
  },
  {
    name: 'actions',
    align: 'right',
    label: t('label.actions'),
    sortable: false,
    headerClasses: 'text-capitalize'
  }
];

const onClickPreview=(job)=>{
  selectedJob.value = {
    ...job.attributes,
    id: job.id
  };
  preview.value = true;
}
const onJobDeleted = () => {
  tableRef.value.requestServerInteraction();
};

const onClickDelete = (id, title) => {
  selectedJob.value = { id: id, title: title };
  confirm_delete_dialog.value = true;
};

function createJob(title) {
  jobStore
    .save({ title: title })
    .then(() => {
      prepareJob(jobStore.job);
    })
    .catch(e => {
      console.log(e);
    });
}

const prepareJob = job => {
  jobStore.job.id = job.id;
  const attributes = job.attributes;
  jobStore.job = {
    id: job.id,
    ...attributes
  };
  if (attributes.applicationForm) {
    jobStore.job.applicationForm = attributes.applicationForm.data?.id;
  }
  if (attributes.recruiters) {
    jobStore.job.recruiters = attributes.recruiters.data?.map(row => row.id) ?? [];
  }
  if (attributes.workflow_recruiter_users) {
    jobStore.job.workflow_recruiter_users = attributes.workflow_recruiter_users.data?.map(row => row.id) ?? [];
  }
  if (attributes.workflow_department_users) {
    jobStore.job.workflow_department_users = attributes.workflow_department_users.data?.map(row => row.id) ?? [];
  }
  if (attributes.workflow_council_users) {
    jobStore.job.workflow_council_users = attributes.workflow_council_users.data?.map(row => row.id) ?? [];
  }
  if (attributes.departmentStaff) {
    jobStore.job.departmentStaff = attributes.departmentStaff.data?.map(row => row.id) ?? [];
  }
  if (attributes.departments) {
    jobStore.job.departments = attributes.departments.data?.map(row => row.id) >> [];
  }
  if (attributes.workflow) {
    jobStore.job.workflow = attributes.workflow?.data?.id;
  }
  openStepper();
};

function openStepper() {
  //console.log(JSON.stringify(jobStore.job))
  $q.dialog({
    component: jobFormStepper
    /* componentProps: {
       job: job
     }*/
  }).onOk(() => {
   // onRequest({ filter, pagination });
      tableRef.value.requestServerInteraction()
  });
}
</script>
