<template>
  <q-table
    ref="tableRef"
    v-model:pagination="pagination"
    wrap-cells
    :title="$t('menu.jobs')"
    :rows="data"
    :rows-per-page-options="rowsPerPage"
    :columns="columns"
    :loading="isLoading"
    :filter="filter"
    hide-header
    binary-state-sort
    row-key="id"
    separator="none"
    @request="onRequest"
  >
    <template #body="props">
      <q-tr no-hover>
        <q-td name="title" no-hover style="max-width: 80vh">
          <div class="job">
            <div class="border">
              <q-list dense>
                <q-item :to="{ name: 'jobView', params: { id: props.row.id } }">
                  <q-item-section>
                    <div class="text-h6 title">
                      {{ props.row.attributes.title }}
                    </div>
                    <div class="text-subtitle1">
                      {{ props.row.attributes.company.data.attributes.name }}
                    </div>
                    <div>
                      <span>{{ props.row.attributes.city }}</span>
                      <q-badge
                        v-if="props.row.attributes.homeoffice == 1"
                        color="blue-4"
                        class="q-ml-sm"
                        :label="`100% ${$t('label.homeoffice')}`"
                      />
                      <q-badge
                        v-if="props.row.attributes.homeoffice > 0 && props.row.attributes.homeoffice < 1"
                        color="blue-6"
                        outline
                        class="q-ml-sm"
                        :label="$t('label.homeofficePossible')"
                      />
                      <q-badge
                        v-if="props.row.attributes.contractType == 'parttime50'"
                        color="pink-4"
                        class="q-ml-sm"
                        :label="$t('label.parttime')"
                      />
                    </div>
                  </q-item-section>
                  <q-item-section side>
                    <q-item flat :to="`/public/company/${props.row.attributes?.company?.data?.id}`">
                      <CantidatePhoto :photo="props.row.attributes?.company?.data?.attributes?.logo" size="60px"/>
                    </q-item>
                  </q-item-section>
                </q-item>

                <q-expansion-item>
                  <template #header="p">
                    <q-card flat style="max-width: 100%">
                      <q-card-section v-if="p.expanded">
                        {{ html.decodeEntities(props.row.attributes?.tasks) }}
                      </q-card-section>
                      <q-card-section
                        v-else
                        style="
                          text-overflow: ellipsis;
                          overflow: hidden;
                          display: -webkit-box;
                          -webkit-line-clamp: 1; /* number of lines to show */
                          line-clamp: 1;
                          -webkit-box-orient: vertical;
                        "
                      >
                        {{ html.decodeEntities(props.row.attributes?.tasks) }}
                      </q-card-section>
                    </q-card>
                  </template>
                </q-expansion-item>

                <q-item align="left">
                  <q-item-section avatar>
                    <SinceDate :date="props.row.attributes.updatedAt"/>
                  </q-item-section>
                </q-item>
              </q-list>
            </div>
          </div>
        </q-td>
      </q-tr>
    </template>
    <template #top-right>
      <q-input
        v-model="filter.q"
        class="q-mr-sm"
        outlined
        dense
        clearable
        debounce="500"
        :placeholder="$t('label.search')"
      >
        <template #append>
          <q-icon name="search"/>
        </template>
      </q-input>
    </template>
  </q-table>
</template>

<script setup lang="ts">
import CantidatePhoto from 'components/candidates/CandidatePhoto.vue';
import SinceDate from 'components/generic/SinceDate.vue';
import useTable from '../../composables/table';
import html from 'src/lib/decode-entities'
import { useI18n } from 'vue-i18n';


const { t } = useI18n(),
  { filter, onRequest, pagination, isLoading, rowsPerPage, data } = useTable('jobs');

const columns = [
  {
    name: 'title',
    align: 'left',
    label: t('label.job'),
    sortable: true,
    headerClasses: 'text-capitalize'
  }
];
</script>

<style lang="scss" scoped>
@mixin job-styles($border-color, $title-color, $hover-border-color) {
  .job {
    border-style: solid;
    border-width: 3px;
    border-color: transparent;
    border-radius: 6px;
    border-spacing: 2px;

    .title {
      color: $title-color;
    }

    .border {
      border: solid 1px $border-color;
      border-radius: 6px;
    }

    &:hover {
      border-style: solid;
      border-color: $hover-border-color;
      border-radius: 5px;

      .title {
        text-decoration: underline;
      }
    }
  }
}

.body--light {
  @include job-styles($grey-5, $primary, $primary);
}

.body--dark {
  @include job-styles($secondary, $secondary, $secondary);
}

</style>
