<template>
  <q-item :dense="props.dense">
    <q-item-section avatar>
      <thumbnail :photo="data.photo" :size="props.dense ? 'md' : '60px'" :rounded="false"/>
    </q-item-section>
    <q-item-section>
      <RouterLink :to="`/candidate/${props.candidate.id}`"> {{ data.firstname }} {{ data.lastname }} </RouterLink>
      <div v-if="!props.dense && data.street">{{ data.street }}</div>
      <div v-if="data.city">
        <span v-if="!props.dense">{{data.postalcode? `${data.postalcode} ` : '' }}</span>{{data.city }}
        <q-tooltip v-if="props.dense">
          <template #default>
           <div>{{ data.firstname }} {{ data.lastname }}</div>
           <div>{{ data.street }}</div>
           <div>{{ data.postalcode }} {{ data.city }}</div>

          </template>
        </q-tooltip>
      </div>
      <div class="row inline items-center">
        {{ data.phone }}
        <q-icon v-if="data.email" name="email" class="on-left on-right" />
        <q-icon v-if="data.applicant?.data" name="checked" :color="color" class="on-letf on-right" />
      </div>
    </q-item-section>
    <q-item-section v-if="data.reviews" side top>
      <q-item-label caption>
        {{ data.reviews.data?.length ?? 0 }}
        {{ $t('label.ratings') }}
      </q-item-label>
      <q-rating
        v-if="data.reviews"
        color="secondary"
        :size="props.dense ? '' : 'md'"
        :model-value="average(data.reviews.data?.map(v => v.attributes.rating))"
        :max="average(data.reviews.data?.map(v => v.attributes.rating)).toFixed(0)"
        readonly
        icon-half="star_half"
      />
      <q-tooltip v-if="data.reviews && data.reviews.data?.length > 0" :delay="1000">
        <template #default>
          <q-card dark>
            <q-card-section>
              Rating:
              {{ average(data.reviews.data?.map(v => v.attributes.rating)) }}
            </q-card-section>

            <q-card-section v-for="(e, i) in data.reviews.data" :key="i">
              <q-item :dense="props.dense">
                <q-item-section avatar>
                  {{ e.attributes.rating }}
                </q-item-section>
                <q-item-section>
                  {{ e.attributes.note }}
                </q-item-section>
              </q-item>
            </q-card-section>
          </q-card>
        </template>
      </q-tooltip>
    </q-item-section>
  </q-item>
</template>

<script setup lang="ts">
import { onMounted, onUpdated, ref, computed } from 'vue';
import { thumbnail } from 'components/index';

const props = defineProps({
  candidate: {
    type: Object,
    default: null
  },
  dense: {
    type: Boolean,
    default: false
  }
});

const data = ref({});

const color = computed(() => {
  return data.value.applicant?.data?.attributes?.confirmed ? 'green' : 'orange';
});

const average = arr => arr.reduce((p, c) => p + c, 0) / arr.length;

onMounted(() => {
  if (props.candidate.attributes) {
    data.value = {
      id: props.candidate.id,
      ...props.candidate.attributes
    };
  } else if (props.candidate) {
    data.value = { ...props.candidate };
  } else {
    data.value = props;
  }
});

onUpdated(() => {
  if (props.candidate.attributes) {
    data.value = {
      id: props.candidate.id,
      ...props.candidate.attributes
    };
  } else if (props.candidate) {
    data.value = { ...props.candidate };
  } else {
    data.value = props;
  }
});
</script>
