<template>
  <span :class="icon == 'header' ? 'block full-width' : ''">
    <q-avatar
      v-if="props.icon !== 'header' && imageUrl && imageUrl != strapi"
      :size="size"
      :rounded="rounded"
      :square="square"
    >
      <q-img :src="imageUrl" class="full-width" />
    </q-avatar>
    <q-img v-else-if="props.icon === 'header' && imageUrl" :src="imageUrl" class="full-width" />
    <q-icon v-else color="grey" :name="props.icon" :size="size" />
  </span>
</template>

<script setup lang="ts">
import { Photo, Message } from 'components/models';
import { computed, PropType } from 'vue';

const props = defineProps({
  photo: {
    type: [Object, String] as PropType<Photo | string>,
    default: null
  },
  messages: {
    type: Object as PropType<Message>,
    default: null
  },
  size: {
    type: String,
    default: 'md'
  },
  icon: {
    type: String,
    default: 'person'
  },
  rounded: {
    type: Boolean,
    default: true
  },
  square: {
    type: Boolean,
    default: false
  }
});

const strapi = import.meta.env.VITE_AUTH_URL;

const imageUrl = computed(() => {
  if (!props.photo?.data && !props.photo) {
    return null;
  }

  let url = strapi;
  if (props.photo.data?.attributes.formats?.xsmall) {
    url += props.photo.data.attributes.formats.xsmall?.url;
  } else if (props.photo.data?.attributes.url) {
    url += props.photo.data?.attributes.url;
  } else if (props.photo.url) {
    url += props.photo.url;
  } else if (typeof props.photo == 'string') {
    url += props.photo;
  }
  return url;
});
</script>
