<template>
  <q-dialog ref="dialogRef" @hide="onDialogHide">
    <q-card style="width: 1200px; max-width: 80vw">
      <DialogBar>
        {{ step === 1 ? $t('dialog.createCandidate') : $t('dialog.editCandidate') }}
      </DialogBar>
      <CandidateForm v-if="step == '1'" :candidate="candidate" @cancel="onCancelClick" @success="onOKClick" />
    </q-card>
  </q-dialog>
</template>

<script setup lang="ts">
import { useDialogPluginComponent } from 'quasar';
import CandidateForm from 'components/candidates/CandidateForm.vue';
import { ref } from 'vue';
import DialogBar from 'components/commons/DialogBar.vue';

const { dialogRef, onDialogHide, onDialogCancel } = useDialogPluginComponent();
const step = ref(1);
const candidate = ref({});

function onOKClick() {
  step.value = 2;
}

function onCancelClick() {
  onDialogCancel();
}
</script>
