<template>
  <q-form :autofocus="true" autocorrect="off" autocapitalize="off" autocomplete="off" spellcheck="false">
    <contact-card :candidate="data" :fields-enabled="fieldsEnabled" />
    <div class="row">
      <JobSelect :job="job" class="col-6 q-ml-md q-pr-lg" @update:model-value="v => (data.job = v)" />
    </div>
    <cancel-or-save @save="v => save(v)" />
  </q-form>
</template>

<script setup lang="ts">
import { ref, onMounted, watch } from 'vue';
import { useCandidateStore } from 'stores/candidate';
import JobSelect from 'components/fields/JobSelect.vue';
import { cancelOrSave, contactCard } from 'src/components';
import { fieldsEnabled } from 'src/settings';

const props = defineProps({
  candidate: {
    type: Object,
    default: () => ({})
  }
});

const candidateStore = useCandidateStore(),
  data = ref({}),
  job = ref(null);

watch(props, currentValue => {
  if (currentValue.candidate) {
    data.value = currentValue.candidate;
  }
});

onMounted(() => {
  if (props.candidate) {
    data.value = props.candidate;
  }
});

function save() {
  const candidate = data.value;
  candidateStore.save(candidate);
}
</script>
