<template>
  <div class="row online">
    <q-btn
      v-for="(e, n) in props.attachments"
      :key="n"
      flat
      no-caps
      dense
      size="md"
      round
      type="a"
      :href="strapi + e.attributes.url"
    >
      <q-icon size="sm" :name="iconName(e.attributes.mime)" />

      <q-tooltip :delay="1000">
        <template #default>
          {{ e.attributes.name }}
          <pre>
            {{ e.attributes }}
            {{ iconName(e.attributes.mime) }}
          </pre>
        </template>
      </q-tooltip>
    </q-btn>
  </div>
</template>

<script setup lang="ts">
import { Attachment } from 'components/models';
import { PropType } from 'vue';
import { defaults } from 'components/default.ts';

const props = defineProps({
  attachments: {
    type: Object as PropType<Attachment>,
    default: null
  }
});
const strapi = import.meta.env.VITE_AUTH_URL;

function iconName(mime) {
  let result = defaults.icons.fileGeneral;
  switch (mime) {
    case 'application/msword':
      result = defaults.icons.fileDocx;
      break;
    case 'text/plain':
      result = defaults.icons.fileTxt;
      break;
    case 'application/pdf':
      result = defaults.icons.filePdf;
      break;
    case 'application/vnd.oasis.opendocument.text':
      result = defaults.icons.fileOpenoffice;
      break;
    default:
  }
  return result;
}
</script>
