<template>
  <q-table
    ref="tableRef"
    v-model:pagination="pagination"
    wrap-cells
    :title="`${$t('label.candidates')} ${filter.group ?? ''}`"
    title-class="font-anton text-uppercase"
    :rows="data"
    :rows-per-page-options="rowsPerPage"
    :columns="columns"
    :visible-columns="visibleColumns"
    :loading="isLoading"
    :filter="filter"
    binary-state-sort
    row-key="id"
    class="full-width"
    @request="onRequest"
  >
    <template #body="props">
      <q-tr>
        <q-td name="createdAt">
          {{ new Date(props.row.attributes.updatedAt).toLocaleDateString($root?.$i18n?.locale) }}
          <q-tooltip :delay="1000">
            <template #default>
              <div>{{ $t('createdAt') }}: {{ props.row.attributes.createdAt }}</div>
              <div>{{ $t('updatedAt') }}: {{ props.row.attributes.updatedAt }}</div>
            </template>
          </q-tooltip>
        </q-td>
        <q-td name="name">
          <AddressItem :candidate="props.row" :dense="true" />
        </q-td>
        <q-td name="attachments">
          <CandidateAttachments :attachments="props.row.attributes.attachments.data" />
        </q-td>
        <q-td name="job">
          <q-btn
            no-caps
            align="left"
            size="sm"
            flat
            style="width: 100%; max-width: 200px"
            :to="{ name: 'public-job', params: { id: props.row.attributes.job.data?.id } }"
            @click="onClickPreview(props.row.attributes.job.data)"
          >
            <div class="ellipsis">
              {{ props.row.attributes.job.data?.attributes.title }}
            </div>
          </q-btn>
        </q-td>

        <q-td v-if="group != 'department' && group != 'clerk'" name="departmentStaff" width="50px">
          <photo-list :people="props.row.attributes.job?.data?.attributes?.departmentStaff?.data"></photo-list>
          <q-space />
          <q-space />
        </q-td>
        <q-td v-if="group != 'department' && group != 'clerk'" name="recruiter_users" width="50px">
          <photo-list :people="props.row.attributes.job?.data?.attributes?.recruiters?.data"></photo-list>
          <q-space />
        </q-td>
        <q-td name="state" class="no-wrap">
          <StatusSelect
            style="width: 80%"
            :status="props.row.attributes.status"
            size="md"
            :options="statusOptions(props.row.attributes?.job?.data?.attributes)"
            @status-change="updateStatus(props.row, $event)"
          >
          </StatusSelect>
          {{ props.row.attributes.job.data?.attributes.workflow?.data?.attributes?.name }}
        </q-td>
      </q-tr>
    </template>
    <template #top-right>
      <BmsSelect
        :model-value="filter.status"
        outlined
        :options="filterStatusOptions"
        dense
        class="q-mr-sm"
        stack-label
        clearable
        style="min-width: 200px"
        :label="$t('label.state')"
        @update:model-value="val => (filter.status = val?.value)"
      >
      </BmsSelect>
      <select-department
        class="q-mr-sm"
        stack-label
        style="min-width: 200px"
        @update:model-value="val => (filter.department = val)"
      />
      <JobSelect style="min-width: 200px" stack-label @update:model-value="val => (filter.job = val)"></JobSelect>

      <q-btn-toggle
        v-model="filter.recruiter"
        no-caps
        toggle-color="primary"
        class="q-mr-sm"
        :options="recruiterOptions"
      />
      <q-input
        v-model="filter.q"
        class="q-mr-sm"
        outlined
        dense
        clearable
        debounce="500"
        :placeholder="$t('label.search')"
      >
        <template #append>
          <q-icon name="search" />
        </template>
      </q-input>
      <q-btn round icon="add" @click="openDialog" />
    </template>
  </q-table>
  <job-preview-dialog v-if="selectedJob" :job="selectedJob" :preview="previewJob" @close="previewJob = false" />
  <CandidateInterviewInvitationDialog
    v-if="selectedCandidate"
    v-model="interviewInvitationDialog"
    :candidate="selectedCandidate"
    @submit="onSubmitInterviewInvitation"
  ></CandidateInterviewInvitationDialog>
</template>

<script setup lang="ts">
import CandidateFormDialog from 'components/candidates/CandidateFormDialog.vue';
import AddressItem from 'components/candidates/AddressItem.vue';
import CandidateAttachments from 'components/candidates/CandidateAttachments.vue';
import StatusSelect from 'components/fields/StatusSelect.vue';
import { selectDepartment } from 'src/components';
import JobSelect from 'components/fields/JobSelect.vue';
import { useQuasar } from 'quasar';
import { useRoute } from 'vue-router';
import { computed, onBeforeMount, onMounted, ref, watch } from 'vue';
import { candidateStatusOptions as defaultOptions, ROLES } from 'src/settings';
import { useAuthStore, useCandidateStore } from 'src/stores';
import { useI18n } from 'vue-i18n';
import useTable from 'src/composables/table';
import BmsSelect from 'components/commons/BmsSelect.vue';
import JobPreviewDialog from 'components/job/JobPreviewDialog.vue';
import PhotoList from 'components/generic/PhotoList.vue'
import CandidateInterviewInvitationDialog from 'components/dialogs/CandidateInterviewInvitation.vue';
import { notificationService } from 'src/services/_singletons';
import { useMessageService } from 'src/core/services';
import { useHttp, useService } from 'src/core/composables';
const route = useRoute();
const group = ref(route.query.group);

const $q = useQuasar(),
  tableRef = ref(null),
  c = useCandidateStore(),
  auth = useAuthStore(),
  { t } = useI18n(),
  { filter, onRequest, pagination, isLoading, rowsPerPage, data } = useTable('candidates');

const viewable = auth.user.role.type != ROLES.EMPLOYEE;
const selectedJob = ref(null);
const previewJob = ref(false);
const interviewInvitationDialog = ref(false);
const opts = [
  { label: t('btn.all'), value: 'all', viewable: viewable },
  { label: t('btn.my'), value: 'own', viewable: true },
  { label: t('btn.new'), value: 'new', viewable: true }
];

const recruiterOptions = computed(() => {
  return opts.filter(item => item.viewable);
});

const columns = [
  {
    name: 'updatedAt',
    align: 'left',
    label: t('label.date'),
    sortable: true,
    headerClasses: 'text-capitalize'
  },
  {
    name: 'firstname',
    align: 'left',
    label: t('label.name'),
    sortable: true,
    headerClasses: 'text-capitalize'
  },
  {
    name: 'attachments',
    align: 'left',
    label: t('label.attachments'),
    sortable: false,
    headerClasses: 'text-capitalize'
  },
  {
    name: 'title',
    align: 'left',
    label: t('label.job'),
    sortable: true,
    headerClasses: 'text-capitalize'
  },
  {
    name: 'departmentStaff',
    align: 'center',
    label: t('label.department'),
    sortable: true,
    headerClasses: 'text-capitalize'
  },
  {
    name: 'recruiter_users.firstname',
    align: 'center',
    label: t('label.clerk'),
    sortable: true,
    headerClasses: 'text-capitalize'
  },
  {
    name: 'state',
    align: 'left',
    label: t('label.state'),
    sortable: true,
    headerClasses: 'text-capitalize'
  }
];
const visibleColumns = computed(() => {
  if (group.value == 'department' || group.value == 'clerk') {
    return ['updatedAt', 'firstname', 'attachments', 'title', 'state'];
  } else
    return ['updatedAt', 'firstname', 'attachments', 'title', 'departmentStaff', 'recruiter_users.firstname', 'state'];
});
const filterStatusOptions = computed(() => {
  return defaultOptions.map(item => {
    return {
      label: t(item.label),
      value: item.value
    };
  });
});

const selectedCandidateId = ref(null);
const selectedCandidate = ref(null);
watch(
  () => route.query,
  currentVal => {
    group.value = currentVal.group;
    filter.value.group = currentVal.group;
    tableRef.value.requestServerInteraction();
  }
);
const onClickPreview = job => {
  selectedJob.value = {
    ...job.attributes,
    id: job.id
  };
  previewJob.value = true;
};

onBeforeMount(() => {
  filter.value.recruiter = viewable ? 'all' : 'own';
  if (route.query.group) {
    filter.value.group = route.query.group;
  }
});
onMounted(async () => {
  if (route.query.job) {
    filter.value.job = route.query.job;
  }
});

const saveStatus = value => {
  if (!selectedCandidateId.value) return;
  c.save({ status: value }, selectedCandidateId.value).then(() => {
    tableRef.value.requestServerInteraction();
  });
};
const updateStatus = (candidate, value: string) => {
  selectedCandidateId.value = candidate.id;
  selectedCandidate.value = candidate;
  if (value != 'interviews') {
    saveStatus(value);
  } else {
    interviewInvitationDialog.value = true;
  }
};
const statusOptions = options => {
  const settings = options?.workflow?.data?.attributes?.settings;
  let statusOptions = options?.workflow?.data?.attributes?.states ?? [];
  if (settings) {
    const dialogPersonalDepartment = settings.underExamination.find(
      item => item.person == 'dialog.personnelDepartment'
    );
    if (dialogPersonalDepartment) {
      statusOptions = dialogPersonalDepartment.rights.execute.map(val => {
        return defaultOptions.find(row => {
          return row.value == val;
        });
      });
    }
  }
  return statusOptions;
};

function openDialog() {
  $q.dialog({
    component: CandidateFormDialog,
    componentProps: {
      candidate: {}
    }
  })
    .onOk(() => {
      onRequest({ filter, pagination, status: true });
    })
    .onCancel(() => {
      console.log('Cancel');
    })
    .onDismiss(() => {
      console.log('Called on OK or Cancel');
    });
}

const { create } = useMessageService(useHttp());
const { execute } = useService(create, { immediate: false });

const onSubmitInterviewInvitation = data => {
  const { message, appointment } = data;

  return execute({
    from: auth.user?.id,
    subject: message.subject,
    candidateTo: selectedCandidateId.value,
    message: message.text,
    appointment
  })
    .then(r => {
      if (!('error' in r) && r.status === 200) {
        saveStatus('interviews');
        interviewInvitationDialog.value = false;

        notificationService.showSuccess('Invitation email has been sent successfully.');
      }
    })
    .catch(() => {
      notificationService.showError('Unknown error occurred');
    });
};
</script>
