<template>
  <q-page class="flex  items-stretch">
    <ApplicationFormsTable />
  </q-page>
</template>

<script setup lang="ts">
import ApplicationFormsTable from 'components/forms/ApplicationFormsTable.vue';
</script>
