<template>
  <q-page class="row">
    <DashboardJobCard :data="data.jobs" class="col-4" />
    <DashboardCandidateCard :data="data.candidates" class="col-4" />
    <DashboardMessageCard :data="data.messagesReceived" class="col-4" />
  </q-page>
</template>

<script setup lang="ts">
import { onMounted, computed } from 'vue';
import { useAuthStore } from 'stores/auth';
import DashboardCandidateCard from 'components/dashboard/DashboardCandidateCard.vue';
import DashboardJobCard from 'components/dashboard/DashboardJobCard.vue';
import DashboardMessageCard from 'components/dashboard/DashboardMessageCard.vue';

const store = useAuthStore(),
  data = computed(() => {
    return store.user;
  });

onMounted(() => {
  store.me({
    populate: ['company', 'jobs.candidates', 'candidates.photo', 'messagesReceived'],
    fields: ['jobs', 'candidates', 'messagesReceived', 'company']
  });
});
</script>
