<template>
  <div class="row">
    <q-resize-observer @resize="onResize" />
    <div class="col-6">
      <q-page class="flex">
        <MessagesTable ref="messageTable" :height="innerHeight" class="full-width" @row-click="setMessage"/>
      </q-page>
    </div>
    <div class="col-6 q-pl-sm">
      <MessagesDetail
        :message="message"
        :height="innerHeight"
        @refresh="() => messageTable.refresh()"
      />
    </div>
  </div>
</template>

<script setup lang="ts">
import MessagesTable from 'components/messages/MessagesTable.vue';
import MessagesDetail from 'components/messages/MessageDetail.vue';
import { ref, onMounted, onBeforeUnmount } from 'vue';

const message = ref({});
const messageTable = ref(null);
const innerHeight = ref(window.innerHeight);

onMounted(() => {
  setOverflowStyle('hidden');
});

onBeforeUnmount(() => {
  setOverflowStyle('auto');
});

function setOverflowStyle(value) {
  document.getElementsByTagName('body')[0].style.overflow = value;
}

function setMessage(props) {
  if (props) {
    message.value = props;
  }
}

function onResize() {
  innerHeight.value = window.innerHeight;
}
</script>
