<template>
  <div v-for="(e, i) in menu" :key="i">
    <q-separator v-if="e.separate" />
    <EssentialLink v-close-popup :title="$t(e.value)" :icon="e.icon" :link="e.to" :class="e.class ?? ''" />
  </div>
</template>

<script setup lang="ts">
import { matPerson, matQuestionMark } from '@quasar/extras/material-icons';
import { teenyOutlineContract } from 'quasar-extras-svg-icons/teeny-icons';
import { mdiNewspaperVariantMultipleOutline, mdiTimelineTextOutline } from '@quasar/extras/mdi-v6';
import EssentialLink from 'components/EssentialLink.vue';

const menu = [
  {
    value: 'menu.myApplications',
    icon: teenyOutlineContract,
    to: '/my/applications',
    class: ''
  },
  {
    value: 'menu.mySavedJobs',
    icon: mdiNewspaperVariantMultipleOutline,
    to: '/my/jobs'
  },
  {
    value: 'menu.myCv',
    icon: mdiTimelineTextOutline,
    to: '/my/cv'
  },
  {
    value: 'menu.help',
    icon: matQuestionMark
  },
  {
    value: 'menu.profile',
    icon: matPerson,
    to: '/profile',
    separate: true
  }
];
</script>
