<template>
  <div v-for="(e, i) in menu" :key="i">
    <q-separator v-if="e.separate" />
    <EssentialLink
      v-if="!e.menu"
      v-close-popup
      :title="$t(e.value)"
      :icon="e.icon"
      :link="e.to"
    />
  </div>
</template>

<script setup lang="ts">
import {
  matDomain,
  matPeople,
  matPerson,
  matQuestionMark
} from '@quasar/extras/material-icons';
import EssentialLink from 'components/EssentialLink.vue';

const menu = [
  {
    value: 'menu.careersite',
    icon: matDomain,
    to: '/company'
  },
  {
    value: 'menu.team',
    icon: matPeople,
    to: '/team'
  },
  {
    value: 'menu.help',
    icon: matQuestionMark
  },
  {
    value: 'menu.profile',
    icon: matPerson,
    to: '/profile',
    separate: true
  }
];
</script>
