<template>
  <q-item :clickable="link ? true : false" :to="link">
    <q-item-section v-if="icon" avatar>
      <q-icon :color="color" :name="icon"/>
    </q-item-section>

    <q-item-section>
      <q-item-label class="text-capitalize">{{ $t(title) }}</q-item-label>
      <q-item-label v-if="caption" caption>{{ $t(caption) }}</q-item-label>
    </q-item-section>
  </q-item>
</template>

<script setup lang="ts">
defineProps({
  title: {
    type: String,
    required: true
  },

  caption: {
    type: String,
    default: ''
  },

  link: {
    type: String,
    default: ''
  },

  icon: {
    type: String,
    default: ''
  },

  color: {
    type: String,
    default: 'secondary'
  },

  upper: {
    type: Boolean,
    default: true
  }
});
</script>
<style lang="scss">
.body--dark {
  .q-item.q-router-link--active {
    color: darkorange !important;
  }
}
</style>
