<template>
  <q-list>
    <span v-if="section === 'settings'">
      <q-item-label header>{{ $t('menu.companySettings') }}</q-item-label>
      <EssentialLink v-for="link in companySettingsLinks" :key="link.title" v-bind="link" />
      <q-item-label header>{{ $t('menu.userSettings') }}</q-item-label>
      <EssentialLink v-for="link in userSettingsLinks" :key="link.title" v-bind="link" />
    </span>
  </q-list>
</template>

<script setup lang="ts">
import EssentialLink from 'components/EssentialLink.vue';
import { vaadinAutomation } from 'quasar-extras-svg-icons/vaadin-icons';
import { gitlabBuilding } from 'quasar-extras-svg-icons/gitlab-icons-v3';

defineProps({
  section: {
    type: String,
    required: false,
    default: 'default'
  }
});

const companySettingsLinks = [
  {
    title: 'menu.careersite',
    caption: 'menu.careersiteCaption',
    icon: gitlabBuilding,
    link: '/company'
  },
  {
    title: 'menu.messages',
    caption: 'menu.messagesCaption',
    icon: 'mail',
    link: '/messages'
  },
  {
    title: 'menu.team',
    caption: 'menu.teamCaption',
    icon: 'group',
    link: '/team'
  },
  {
    title: 'menu.widget',
    caption: 'menu.widgetCaption',
    icon: 'widgets',
    link: '/company/widget'
  },
  {
    title: 'menu.settings',
    caption: 'menu.settingsCaption',
    icon: 'settings',
    link: '/company/settings'
  },
  {
    title: 'menu.workflows',
    caption: 'menu.workflowsCaption',
    icon: vaadinAutomation,
    link: '/company/workflows'
  }
];

const userSettingsLinks = [
  {
    title: 'menu.profile',
    caption: 'menu.profileCaption',
    icon: 'person',
    link: '/profile'
  },
  {
    title: 'menu.notifications',
    caption: 'menu.notificationsCaption',
    icon: 'notifications',
    link: '/private/notifications'
  },
  {
    title: 'menu.api',
    caption: 'menu.apiCaption',
    icon: 'webhook',
    link: '/api'
  }
];
</script>
