<template>
  <div>
    <q-btn
        no-caps
        color="primary"
        :label="$t('btn.preview')"
        @click="onClickPreview"/>
    <FormPreviewDialog
        v-if="type=='form'"
        v-model="show_form_preview"
        :form="data"
    ></FormPreviewDialog>
  </div>
</template>
<script setup lang="ts">
import FormPreviewDialog from 'components/forms/FormPreviewDialog.vue';
import { ref } from 'vue';

interface Props {
  data: object,
  type: string
}

defineProps<Props>();
//const emit = defineEmits(['click'])
const show_form_preview = ref(false);
const onClickPreview = () => {
  show_form_preview.value = true;
}
</script>

<style scoped lang="scss">

</style>
