<template>
  <!-- notice dialogRef here -->
  <q-dialog ref="dialogRef" flex @hide="onDialogHide">
    <q-card style="width: 900px; max-width: 80vw">
      <DialogBar>
        {{ title }} ({{ data.attributes.locale }})
      </DialogBar>
      <q-card-section>
        {{ text }}
      </q-card-section>

      <MessageTemplateForm
        :data="data"
        @success="onOKClick"
        @cancel="onDialogCancel"
      />
    </q-card>
  </q-dialog>
</template>

<script setup lang="ts">
import { useDialogPluginComponent } from 'quasar';
import MessageTemplateForm from 'components/message-templates/MessageTemplateForm.vue';
import DialogBar from 'components/commons/DialogBar.vue';

defineProps({
  text: {
    type: String,
    default: 'please_confirm'
  },
  title: {
    type: String,
    default: ''
  },
  type: {
    type: String,
    default: 'info'
  },
  data: {
    type: Object,
    default: null
  },
  id: {
    type: Number,
    default: null
  }
});

defineEmits([...useDialogPluginComponent.emits]);

const { dialogRef, onDialogHide, onDialogOK, onDialogCancel } =
  useDialogPluginComponent();

console.log('HIDE', onDialogHide);

function onOKClick(a) {
  console.log('DARA', a);
  // on OK, it is REQUIRED to
  // call onDialogOK (with optional payload)
  onDialogOK();
  onDialogHide();
  // or with payload: onDialogOK({ ... })
  // ...and it will also hide the dialog automatically
}
</script>
