<template>
  <q-card flat>
    <q-card-section class="q-pt-none">
      <input-field v-model="dataRef.attributes.subject" :label="$t('label.subject')" />
      <editor-field
        v-model="dataRef.attributes.text"
        class="col-md-6 col-sm-12 q-mt-md"
        height="9rem"
        :label="$t('label.content')"
        :placeholder="$t('job.introPlaceholder')"
        :placeholders="placeholders"
        :toolbar="[['left', 'justify', 'unordered'],['token']]"
       />
    </q-card-section>
    <cancel-or-save @cancel="() => $emit('cancel')" @save="onSave" />
  </q-card>
</template>

<script setup lang="ts">
import { toRef } from 'vue';
import { useCompanyStore } from 'stores/company';
import { cancelOrSave, editorField, inputField } from 'src/components';
import { useI18n } from 'vue-i18n';

const emit = defineEmits(['success', 'cancel']);

const props = defineProps({
  data: {
    type: Object,
    required: true,
    default: null
  }
});
const { t } = useI18n();
const companyStore = useCompanyStore();
const dataRef = toRef(props, 'data');
const placeholders = [
  { placeholder: 'title', label: t('label.title'), icon: 'title' },
  { placeholder: 'email', label: t('label.email'), icon: 'email' },
  { placeholder: 'username', label: t('label.username'), icon: 'title' },
  { placeholder: 'firstname', label: t('label.firstname'), icon: 'title' },
  { placeholder: 'lastname', label: t('label.lastname'), icon: 'title' },
  { placeholder: 'link', label: t('label.link'), icon: 'link' },
  { placeholder: 'date', label: t('label.date'), icon: 'date_range' }
];
const onSave = () => {
  const { subject, text } = props.data.attributes;
  companyStore.updateMailTemplate(props.data.id, { subject, text }).then(() => emit('success', 1));
};
</script>
