<template>
  <q-banner v-if="show_banner" dense inline-actions class="bg-info" style="max-height: 100px; overflow-y: scroll">
    <div class="text-body1">{{ $t('mail.help') }}</div>
    <div>{{ $t('mail.help_caption') }}</div>
    <template #action>
      <q-btn flat label="OK" @click="hideBanner" />
    </template>
  </q-banner>

  <q-table
    ref="tableRef"
    v-model:pagination="pagination"
    wrap-cells
    :title="$t('menu.messages')"
    title-class="text-uppercase font-anton"
    :rows="data"
    :columns="columns"
    :loading="isLoading"
    :filter="filter"
    class="full-width items-stretch"
    :rows-per-page-options="rowsPerPage"
    binary-state-sort
    row-key="id"
    @request="onRequest"
  >
    <template #body="props">
      <q-tr>
        <q-td key="subject" align="left">
          {{ $t(`message.${props.row.attributes?.name}`) }}
        </q-td>
        <q-td key="subject" align="left">
          {{ props.row.attributes?.subject }}
        </q-td>
        <q-td key="subject" align="left">
          <country-icon :name="props.row.attributes?.locale"></country-icon>
          <country-icon
            v-for="(e, i) in props.row.attributes?.localizations?.data"
            :key="i"
            class="q-ml-xs"
            :name="e.attributes.locale"
            size="xs"
          />
        </q-td>
        <q-td key="actions" align="right">
          <q-btn size="sm" flat icon="edit" @click="openDialog(props.row)" />
          <q-toggle
            v-model="props.row.attributes.enabled"
            @update:model-value="value => companyStore.updateMailTemplate(props.row.id, { enabled: value })"
          />
        </q-td>
      </q-tr>
    </template>
    <template #top-right>
      <div class="inline-block">
        <language-switch :selected-locale="filter.locale" class="q-pr-sm" @change-lang="localeChanged" />
      </div>
      <div class="inline-block">
        <q-input
          v-model="filter.q"
          class="q-mr-sm"
          outlined
          dense
          clearable
          debounce="500"
          :placeholder="$t('label.search')"
        >
          <template #append>
            <q-icon name="search" />
          </template>
        </q-input>
      </div>
    </template>
  </q-table>
</template>

<script setup lang="ts">
import { ref, onMounted } from 'vue';
import { useCompanyStore } from 'stores/company';
import MessageFormDialog from 'components/message-templates/MessageFormDialog.vue';
import { countryIcon, languageSwitch } from 'src/components';
import { useI18n } from 'vue-i18n';
import { useQuasar } from 'quasar';
import useTable from '../../composables/table';

const show_banner = ref<boolean>(false);

const companyStore = useCompanyStore(),
  { t } = useI18n(),
  $q = useQuasar(),
  columns = [
    {
      name: 'mailTemplate.name',
      label: t('label.name'),
      align: 'left',
      sortable: true,
      headerClasses: 'text-capitalize'
    },
    {
      name: 'subject',
      label: t('label.subject'),
      align: 'left',
      sortable: true,
      headerClasses: 'text-capitalize'
    },
    {
      name: 'locale',
      label: t('label.language'),
      align: 'left',
      sortable: true,
      headerClasses: 'text-capitalize'
    },
    {
      label: t('label.actions'),
      align: 'right'
    }
  ],
  { filter, onRequest, pagination, isLoading, rowsPerPage, data } = useTable('mailTemplates');

onMounted(() => {
  show_banner.value = localStorage.getItem('banner') == 'hide' ? false : true;
  onRequest({ filter, pagination });
});

function hideBanner() {
  localStorage.setItem('banner', 'hide');
  show_banner.value = false;
}
function localeChanged(value) {
  filter.value.locale = value.substring(0, 2);
}

function openDialog(data) {
  $q.dialog({
    component: MessageFormDialog,

    // props forwarded to your custom component
    componentProps: {
      data: data,
      text: data.attributes.description,
      title: t('dialog.editAutomatedMessage', {
        name: t(`message.${data.attributes.name}`)
      })
    }
  }).onOk(() => {
    onRequest({ filter, pagination });
  });
}
</script>
