#admin {
  font-family: 'Times New Roman', Times, serif;
}

.body--dark {
  #admin {
    .toolbar {
      background-color: red;
      color: black;
    }
  }
  .toolbar {
    background-color: darken($primary, $amount: 75%);
    color: lightgray;
  }

  .footer {
    background-color: darken(grey, $amount: 50%);
  }

  a {
    color: $secondary;
  }

  .bms-stepper .q-stepper__tab--active,
  .bms-stepper .q-stepper__tab--done {
    .q-stepper__title,
    .q-stepper__dot {
      color: $yellow-7;
    }

    .q-stepper__caption {
      color: $yellow-5;
    }
  }
}

.body--light {
  #admin {
    .toolbar {
      background-color: red;
      color: black;
    }

    .footer {
      background-color: lighten(grey, $amount: 40%);
      color: $primary;
    }
  }
  .toolbar {
    background-color: lighten($primary, $amount: 75%);
    color: $primary;
  }

  .footer {
    background-color: lighten(grey, $amount: 40%);
    color: $primary;
  }
}

.editor_token {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 3px;

  &,
  .q-icon {
    border-radius: 3px;
  }

  .q-icon {
    background: rgba(0, 0, 0, 0.2);
  }
}
.dialog-card {
  max-width: 1200px !important;
  width: 90vh;
  &-content {
    height: 100hv;
  }
}

.font-anton {
  font-family: 'Anton', sans-serif;
}
