<template>
  <q-card>
    <q-card-section>
      <q-list dense>
        <q-item>
          <h6 class="text-uppercase font-anton">
            {{ $t('menu.jobs') }}
          </h6>
        </q-item>
        <q-item v-for="(e, i) in data" :key="i" clickable :to="{ name: 'jobView', params: { id: e.id } }">
          <q-item-section avatar>
            <q-item-label>
              <q-icon
                :name="e.publishedAt ? matCheckCircle : matBuildCircle"
                :color="e.publishedAt ? 'green' : 'red'"
              />
            </q-item-label>
          </q-item-section>
          <q-item-section>
            <q-item-label>{{ e.title }}</q-item-label>
          </q-item-section>
          <q-item-section side>
            <q-item-label>{{ e.candidates?.length }}</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-card-section>
  </q-card>
</template>

<script setup lang="ts">
import { matCheckCircle, matBuildCircle } from '@quasar/extras/material-icons';

defineProps({
  data: {
    type: Object,
    default: null
  }
});
</script>
