<template>
  <q-card>
    <q-card-section>
      <q-list dense>
        <q-item>
          <h6 class="text-uppercase font-anton">
            {{ $t('menu.news') }}
          </h6>
        </q-item>
        <q-item v-for="(e, i) in data" :key="i">
          <q-item-section>
            <q-item-label>{{ e.subject }}</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-card-section>
  </q-card>
</template>

<script setup lang="ts">
defineProps({
  data: {
    type: Object,
    default: null
  }
});
</script>
