<template>
  <q-card>
    <q-card-section>
      <q-list dense>
        <q-item>
          <h6 class="text-uppercase font-anton">
            {{ $t('label.candidates') }}
          </h6>
        </q-item>
        <q-item
          v-for="(e, i) in data"
          :key="i"
          clickable
          :to="`/candidate/${e.id}`"
        >
          <q-item-section avatar>
            <thumbnail :photo="e.photo" :rounded="false"/>
          </q-item-section>
          <q-item-section>
            <q-item-label>{{ e.firstname }} {{ e.lastname }}</q-item-label>
            <q-item-label>{{ e.email }} </q-item-label>
          </q-item-section>
          <q-item-section side>
            <StatusSelect :status="e.status" :icon-only="true" />
          </q-item-section>
        </q-item>
      </q-list>
    </q-card-section>
  </q-card>
</template>

<script setup lang="ts">
import { thumbnail } from 'src/components';
import StatusSelect from 'components/fields/StatusSelect.vue';
defineProps({
  data: {
    type: Object,
    default: null
  }
});
</script>
