<template>
  <q-btn
    :glossy="isPremium ? job.applicationForm?.data?.attributes?.applyButton?.glossy ?? true : true"
    :rounded="isPremium ? job.applicationForm?.data?.attributes?.applyButton?.rounded ?? false : false"
    push
    :label="isPremium ? (job.applicationForm?.data?.attributes?.textApply ?? $t('btn.applyText')) : $t('btn.applyText')"
    :color="isPremium ? job.applicationForm?.data?.attributes?.applyButton?.background_color ?? 'secondary' : 'secondary'"
    :text-color="isPremium ? job.applicationForm?.data?.attributes?.applyButton?.color ?? 'primary' : 'primary'"
    :to="{ name: target, params: { id: job.id } }"
    v-bind="$attrs"
  />
</template>
<script setup lang="ts">
import { computed, PropType, ref } from 'vue';
import { JobType } from 'src/types';
import { useRoute } from 'vue-router';
import { routeName } from 'src/router/names';

const props = defineProps({
  job: {
    type: Object as PropType<JobType>,
    default: null
  },
});

const job = ref(props.job);

const isPremium = computed(() => {
  const route = useRoute();
  return route.name === routeName.jobPremium || route.name === routeName.applyPremium
})

const target = computed(() => {
  let target;
  const route = useRoute();
  switch (route.name) {
    case routeName.jobHeadless:
      target = routeName.applyHeadless
      break;
    case routeName.jobPremium:
      target = routeName.applyPremium
      break;
    case routeName.applyPremium:
      target = routeName.applyPremium
      break;
    default:
      target = routeName.apply
  }
  return target
})
</script>

<style scoped lang="scss">

</style>
