<template>
  <q-checkbox
    v-model="checkedValue"
    class="ui_kit-bms_checkbox"
    dense
    v-bind="$attrs">
    <template v-for="(_index, name) in $slots" #[name]>
      <slot :name="name"/>
    </template>
  </q-checkbox>
</template>

<script setup lang="ts">
import { computed, WritableComputedRef } from 'vue';
import { QCheckbox, QCheckboxProps } from 'quasar';

interface Props extends QCheckboxProps {
  modelValue: boolean;
}

const props = defineProps<Props>();

const emit = defineEmits(['update:modelValue']);

const checkedValue: WritableComputedRef<boolean> = computed({
  get: () => props.modelValue,
  set: (value: boolean) => {
    emit('update:modelValue', value);
  },
});

/*const onClick = (e: MouseEvent) => {
  e.stopPropagation();
};*/
</script>

<style lang="scss">
@mixin bms-checkbox-styles($border-color,$bg-color) {

  .ui_kit-bms_checkbox {
    .q-checkbox__label {
      margin-top: 2px;
      text-align: center !important;
      color: #212121 !important;
      font-family: Helvetica, sans-serif !important;
      font-size: 13px !important;
      font-style: normal !important;
      font-weight: 400 !important;
      line-height: normal !important;
    }

    .q-checkbox__inner--truthy .q-checkbox__bg {
      background: $bg-color !important;
      border-radius: 5px !important;
      border: 4px solid #243E90 !important;
    }

    .q-checkbox__bg {
      border: 1px solid $border-color !important;
      border-radius: 6px !important;
    }

    &.disabled {
      opacity: 1 !important;

      .q-checkbox__inner--truthy .q-checkbox__bg {
        background-color: #7D8398 !important;
        border-radius: 5px !important;
        border: 4px solid #7D8398 !important;
      }
    }
  }
}

.body--light {
  @include bms-checkbox-styles(#212121, #243E90);
}

.body--dark {
  @include bms-checkbox-styles($yellow-7, #243E90);
}
</style>
