<template>
  <q-input
    ref="bmsInput"
    v-model="value"
    dense
    outlined
    hide-bottom-space
    no-error-icon
    :stack-label="stackLabel"
    :readonly="readonly"
    :placeholder="_placeholder"
    :label="required ? `${label}*` : label"
    class="bms-input-ui"
    :type="type"
    :rules="rules"
    v-bind="$attrs"
  >
    <template v-for="(_index, name) in $slots" #[name]>
      <slot :name="name" />
    </template>
  </q-input>
</template>

<script setup lang="ts">
import { QInput, QInputProps } from 'quasar';
import { computed, ref } from 'vue';

interface Props extends QInputProps {
  placeholder?: string;
  required?: boolean;
  label?: string;
  type?:
    | 'number'
    | 'text'
    | 'password'
    | 'textarea'
    | 'email'
    | 'search'
    | 'tel'
    | 'file'
    | 'url'
    | 'time'
    | 'date'
    | 'datetime-local';
  //modelValue: string | number | null | undefined
}

const props = withDefaults(defineProps<Props>(), {
  placeholder: '',
  label: '',
  required: false,
  stackLabel: false,
  readonly: false,
  type: 'text',
});
const emit = defineEmits(['update:modelValue']);
// eslint-disable-next-line @typescript-eslint/naming-convention, no-underscore-dangle
const _placeholder = computed<string>(() => {
  if (!props.placeholder && props.placeholder === '' && props.label && props.label !== '') {
    return `${props.label}...`;
  }

  return props.placeholder;
});
const value = computed({
  get() {
    return props.modelValue;
  },
  set(value) {
    emit('update:modelValue', value);
  }
});
const bmsInput = ref(null);
const hasError = computed(() => {
    return bmsInput.value?.hasError ?? false;
})
defineExpose({ hasError })
</script>

<style lang="scss">
@mixin bms-input-styles($active-color) {
  .bms-input-ui {
    &.q-field--outlined .q-field__control {
      padding: 0 4px 0 12px !important;
      border-radius: 5px !important;

      &:hover,
      &:focus-within {
        &::before,
        &::after {
          border: 1px solid $active-color !important;
        }
      }

      .q-field__label {
        color: $active-color !important;
      }
    }
  }
}

.body--light {
  @include bms-input-styles($primary);
}

.body--dark {
  @include bms-input-styles($yellow-7);
}
</style>
