<template>
  <q-select
      v-model="modelValue"
      dense
      outlined
      hide-bottom-space
      stack-label
      no-error-icon
      :label="label"
      v-bind="$attrs"
      :placeholder="placeholder ?? ''"
  >
    <template #prepend>
      <slot name="prepend"/>
    </template>

    <template v-for="(_index, name) in slots" #[name]="scope">
      <slot :name="name" v-bind="scope"/>
    </template>
  </q-select>
</template>

<script setup lang="ts">
import * as _ from 'lodash-es';
import { QSelect, QSelectProps } from 'quasar';
import { useSlots } from 'vue';

interface Props extends /* @vue-ignore */ QSelectProps {
  required?: boolean;
  label?: string;
  placeholder?: string;
}

const slots = _.omit(useSlots(), ['prepend']);

defineProps<Props>();
</script>
