<template>
  <q-bar>
    <slot></slot>
    <q-space />
    <q-btn v-close-popup dense flat icon="close">
      <q-tooltip>{{ $t('btn.close') }}</q-tooltip>
    </q-btn>
  </q-bar>
</template>
<script setup lang="ts">

</script>

<style scoped>

</style>
