<template>
  <q-popup-edit
    v-model="popupValue"
    style="width: 300px !important;"
    @save="onClickSave">
    <template #default="scope">
      <q-card flat>
        <q-bar>{{ title }}</q-bar>
        <q-card-section></q-card-section>
        <q-input
          v-model="scope.value"
          dense
          outlined
          autofocus
          :placeholder="placeholder"
          :label="label"
          @keyup.enter="scope.set"
        />
        <cancel-or-save no-caps class="q-pt-sm" @save="scope.set" @cancel="scope.cancel"/>
      </q-card>
    </template>
  </q-popup-edit>

</template>
<script setup lang="ts">
import { cancelOrSave } from 'src/components';
import { ref } from 'vue';

interface Props {
  placeholder: string,
  label: string,
  title: string
}

defineProps<Props>();
const emit = defineEmits(['save']);
const popupValue = ref(null);
const onClickSave = (value: string) => {
  emit('save', value);
}
</script>
