<template>
  <BmsCheckbox v-model="policy">
    <i18n-t
      class="bms-privacy-policy-text"
      keypath="label.acceptPrivacyPolicy" tag="label" for="privacyPolicy">
      <BmsHyperlink
        :label="$t('label.privacyPolicy') "
        type="button"
        @click.stop="onClickDataProtectionLink()">
      </BmsHyperlink>
    </i18n-t>
  </BmsCheckbox>
  <privacy-policy-dialog v-model="showDataProtectionDialog"/>
</template>
<script setup lang="ts">
import BmsCheckbox from 'components/commons/BmsCheckbox.vue';
import PrivacyPolicyDialog from 'components/dialogs/PrivacyPolicyDialog.vue';
import BmsHyperlink from 'components/commons/BmsHyperlink.vue';
import { ref, computed } from 'vue';


const showDataProtectionDialog = ref(false);

interface Props {
  confirmPrivacyPolicy: boolean
}

const props = defineProps<Props>();
const emit = defineEmits(['update:confirm-privacy-policy']);
const policy = computed({
  get() {
    return props.confirmPrivacyPolicy;
  },
  set(value) {
    emit('update:confirm-privacy-policy', value);
  }
})

const onClickDataProtectionLink = () => {
  showDataProtectionDialog.value = !showDataProtectionDialog.value;
}
</script>
<style lang="scss">
.body--dark {
  .bms-privacy-policy-text {
    color: white !important;
  }
}
</style>
