<template>
  <q-page class="flex">
    <companies-table class="full-width" />
  </q-page>
</template>

<script setup lang="ts">
import CompaniesTable from 'components/careersite/CompaniesTable.vue';
</script>
