<template>
  <q-page padding>
    <q-card v-if="company" style="max-width: 80vh; width: 800px; margin-left: auto; margin-right: auto">
      <q-card-section>
        <q-item>
          <q-item-section avatar square>
            <thumbnail :photo="company.logo" size="150px" icon="domain" />
          </q-item-section>
          <q-item-section>
            <h3>{{ company.name }}</h3>
            <q-badge>{{ company.industry }}</q-badge>
          </q-item-section>
        </q-item>
      </q-card-section>
      <q-card-section>
        <JobHeaderCarousel :images="company.header?.data" />
      </q-card-section>
      <!-- eslint-disable-next-line vue/vue/no-v-html -->
      <q-card-section ><span v-html="company.description"></span></q-card-section>
      <q-card-section>
        <q-list>
          <q-item v-for="(e, i) in company.jobs?.data" :key="i">
            <q-item-section>
              <q-btn :to="{ name: 'jobView', params: { id: e.id } }">{{ e.attributes?.title }}</q-btn>
            </q-item-section>
          </q-item>
        </q-list>
      </q-card-section>
    </q-card>
  </q-page>
</template>

<script setup lang="ts">
import JobHeaderCarousel from 'components/job/detail/JobHeaderCarousel.vue';
import { thumbnail } from 'src/components';
import { computed, onMounted } from 'vue';
import { useCompanyStore } from 'stores/company';
import { useRoute } from 'vue-router';

const route = useRoute(),
  id = parseInt(route.params.id as string);

const store = useCompanyStore();

const company = computed(() => {
  return store.company;
});

onMounted(() => store.fetchCompany(id));
</script>
