<template>
  <q-page padding class="flex">
    <div style="width: 800px; margin-left: auto; margin-right: auto">
      <ApplicationForm v-if="job" :candidate="candidate" :job="job" />
      <Teleport v-if="job && isLoaded && isPremium" to="#premiumFooter">
        <apply-button :job="job" size="md"/>
      </Teleport>
    </div>
  </q-page>
</template>

<script setup lang="ts">
import { onMounted, computed, ref } from 'vue';
import { useJobStore } from 'stores/job';
import { useRoute } from 'vue-router';
import ApplicationForm from 'components/forms/ApplicationForm.vue';

import { useCandidateStore } from 'stores/candidate';
import ApplyButton from 'components/commons/ApplyButton.vue';
import { routeName } from 'src/router/names';

const route = useRoute(),
  id = parseInt(route.params.id as string),
  jobStore = useJobStore(),
  candidateStore = useCandidateStore(),
  job = computed(() => {
    return jobStore.job;
  }),
  isPremium = computed(() => {
    const route = useRoute();
    return route.name === routeName.applyPremium
  }),
  isLoaded = ref(false),
  candidate = ref({});

const getJob = async () => {
  await jobStore.fetchJob(id, {
    fields: ['title'],
    populate: ['applicationForm.questions', 'company.logo', 'company.companySettings']
  });
  isLoaded.value = true;
}
onMounted(() => {
  getJob()
  if (candidateStore.candidate) candidate.value = candidateStore.candidate;
});
</script>
