<template>
  <q-page padding class="flex">
    <div style="max-width=80vh; width:800px; margin-left: auto; margin-right: auto;">
      <job-detail :job="job" />
      <Teleport v-if="job && isLoaded && isPremium" to="#premiumFooter">
        <apply-button :job="job" size="md"/>
      </Teleport>
    </div>
  </q-page>
</template>

<script setup lang="ts">
import { jobDetail } from 'src/components';
import { onMounted, computed, ref } from 'vue';
import { useJobStore } from 'stores/job';

import { useRoute } from 'vue-router';
import ApplyButton from 'components/commons/ApplyButton.vue';
import { routeName } from 'src/router/names';

const route = useRoute(),
  id = parseInt(route.params.id),
  j = useJobStore(),
  isPremium = computed(() => {
    const route = useRoute();
    return route.name === routeName.jobPremium
  }),
  job = computed(() => {
    return { id: j.job.id, ...j.job.attributes };
  }),
    isLoaded = ref(false);

const getJob = async () => {
  await j.fetchJob(id);
  isLoaded.value = true;
}

onMounted(() => {
  getJob();
});
</script>
