<template>
  <q-page class="row items-center justify-evenly">
    <q-card>
      <q-card-section
        ><h3>{{ $t('login.admin') }}</h3></q-card-section
      >
      <q-card-section>
        <q-input v-model="email" :label="$t('btn.email')"></q-input>
      </q-card-section>
      <q-card-section>
        <q-input
          v-model="password"
          type="password"
          :label="$t('label.password')"
        ></q-input>
      </q-card-section>
      <q-card-section align="right">
        <q-btn :label="$t('btn.login')" @click="onLogin" />
      </q-card-section>
    </q-card>
  </q-page>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { useAuthStore } from 'stores/auth';

const store = useAuthStore();

const email = ref(''),
  password = ref('');

function onLogin() {
  store.loginAdmin(email.value, password.value);
}
</script>
