<template>
  <q-page padding>
    <h1>{{ $t('label.privacyPolicy') }}</h1>
    <q-markdown :plugins="plugins" :src="privacyPolicy" show-copy></q-markdown>
  </q-page>
</template>

<script setup lang="ts">
import { QMarkdown } from '@quasar/quasar-ui-qmarkdown';
import privacyPolicy from 'src/settings/texts/de/privacy-policy.md'
import footnote from 'markdown-it-footnote'
const  plugins = [footnote]
</script>
