<template>
  <q-page class="row">
    <q-card>
      <q-card-section>
        <h3>{{ $t('btn.forCompanies') }}</h3>
      </q-card-section>
      <q-card-section class="row">
        <q-input v-model="firstname" class="col-6" :label="$t('label.firstname')"></q-input>
        <q-input v-model="lastname" class="col-6" :label="$t('label.lastname')"></q-input>
      </q-card-section>
      <q-card-section>
        <q-input v-model="email" :label="$t('btn.email')"></q-input>
      </q-card-section>
      <q-card-section>
        <PrivacyPolicy v-model:confirm-privacy-policy="policy"></PrivacyPolicy>
      </q-card-section>
      <q-card-section align="right">
        <q-btn :loading="isLoading" :disabled="!policy" :label="$t('btn.register')" @click="onRegister"/>
      </q-card-section>
    </q-card>
  </q-page>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { useCompanyStore } from 'stores/company';
import PrivacyPolicy from 'components/commons/PrivacyPolicy.vue';
import { notificationService } from 'src/services/_singletons';
import { useI18n } from 'vue-i18n';
//import BmsCheckbox from 'components/commons/BmsCheckbox.vue';


const store = useCompanyStore();
const { t } = useI18n();
const email = ref(''),
  firstname = ref(''),
  lastname = ref(''),
  policy = ref(false),
  isLoading = ref(store.isLoading);


function onRegister() {
  store.register({
    email: email.value,
    firstname: firstname.value,
    lastname: lastname.value
  }).then(response=>{
    if(response.status==200){
      notificationService.showSuccess(t('notify.companyRegisteredSuccess'))
    }
  }).catch(error => {
    let message=t('notify.companyRegisteredFailed');
    if (error.response?.data?.error?.message) {
      message = `${message} ${error.response?.data?.error?.message}`
    }
    notificationService.showError(message)
  });
}
</script>
