<template>
  <router-view />
</template>

<script setup lang="ts">
import { onMounted } from 'vue';
import { EDisplay } from 'src/enums/EDisplay';
import { useCompanyStore } from 'src/stores';
import { useQuasar } from 'quasar';

const companyStore = useCompanyStore(),
  $q = useQuasar();

onMounted(() => {
  const companySettings = companyStore.getSettings;
  if (companySettings) {
    $q.dark.set(EDisplay[companySettings.darkmode]);
  }
});
</script>
