<template>
  <q-layout id="admin" view="lHh Lpr lFf" class="flex">
    <q-header>
      <q-toolbar class="full-width toolbar">
        <q-toolbar-title>
          <q-btn flat to="/admin">BMS Admin</q-btn>
        </q-toolbar-title>
        <btn-nav :link-options="linkOptions"/>
        <q-space />
        <q-btn :label="$t('btn.logout')" @click="logout()" />
      </q-toolbar>
    </q-header>
    <q-page-container class="full-width">
      <router-view />
    </q-page-container>
    <layout-footer />
  </q-layout>
</template>

<script lang="ts" setup>
import { useAuthStore } from 'stores/auth';
import { reactive, ref, watch } from 'vue';
import { btnNav } from 'src/components';
import { useI18n } from 'vue-i18n';
import { useRouter } from 'vue-router';
import LayoutFooter from './LayoutFooter.vue';

const { t } = useI18n();
const link = ref('/customers');
const store = useAuthStore();
const router = useRouter();
const linkOptions = reactive([
  { label: t('admin_menu.customers'), value: '/admin/customers' },
  { label: t('admin_menu.applicants'), value: '/admin/applicants' },
  { label: t('admin_menu.messages'), value: '/admin/messages' }
]);

watch(link, currentValue => {
  router.push(currentValue);
});

function logout() {
  store.logout();
}
</script>
