<template>
  <q-layout view="lHh Lpr lFf">
    <q-header :bordered="$q.dark.isActive">
      <q-toolbar class="full-width toolbar">
        <q-toolbar-title style="min-width: 48px; max-width: 48px">
          <q-btn v-if="appLogo == null" flat to="/">{{ appTitle }}</q-btn>
          <q-img
            v-else
            dense
            height="35px"
            width="35px"
            class="cursor-pointer"
            :src="appLogo"
            :alt="appTitle"
            @click="$router.push('/')"
          />
        </q-toolbar-title>
        <btn-nav :link-options="linkOptions"/>
        <q-space />
        <login-strapi />
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view/>
    </q-page-container>

    <layout-footer />
  </q-layout>
</template>

<script setup lang="ts">
import { ref, onMounted } from 'vue';
import { btnNav, loginStrapi } from 'src/components';
import { useI18n } from 'vue-i18n';
import LayoutFooter from './LayoutFooter.vue';
import { useAdminService } from 'src/core/services';
import { useHttp, useService } from 'src/core/composables';

const { t } = useI18n();
const appLogo = ref<string | null>(null);
const appTitle = import.meta.env.VITE_APP_TITlE;

const linkOptions = ref([
  { label: t('menu.jobs'), value: '/' },
  { label: t('menu.companies'), value: '/public/companies' }
]);

const { init } = useAdminService(useHttp());
const { execute } = useService(init, { immediate: false });
onMounted(() => {
  execute().then(({ data }) => {
    if (data) appLogo.value = import.meta.env.VITE_AUTH_URL + data.data.menuLogo;
  });
});
</script>
