<template>
  <q-layout view="lHh Lpr lFf">
    <q-header>
      <q-toolbar class="full-width toolbar">
        <q-toolbar-title>
          <q-btn flat to="/admin">BMS Candidate</q-btn>
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>

    <layout-footer />
  </q-layout>
</template>

<script setup lang="ts">
import LayoutFooter from './LayoutFooter.vue';
</script>
