<template>
  <q-layout view="lHh Lpr lFf">
    <q-header>
      <q-toolbar class="full-width toolbar">
        <q-btn v-if="show_drawer($route)" flat dense round icon="menu" aria-label="Menu" @click="toggleLeftDrawer" />

        <q-toolbar-title class="flex">
          <q-btn v-if="appLogo == null" flat to="/">{{ appTitle }}</q-btn>
          <q-img
            v-else
            dense
            height="30px"
            width="30px"
            class="cursor-pointer"
            :src="appLogo"
            :alt="appTitle"
            @click="$router.push('/')"
          />
          <btn-nav :link-options="linkOptions" />
        </q-toolbar-title>
        <q-btn-toggle
          v-if="role && role.type == ROLES.EMPLOYEE"
          v-model="groupLink"
          no-caps
          toggle-color="primary"
          :options="groupLinkOptions"
        />
        <login-strapi :show="showDialog" class="q-mr-md" />
      </q-toolbar>
    </q-header>
    <q-drawer v-if="show_drawer($route)" v-model="leftDrawerOpen" show-if-above bordered>
      <menu-left :section="settingsSections.includes($route.path) ? 'settings' : 'default'" />
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>

    <layout-footer />
    <reset-password v-if="resetPasswordCode" v-model="resetPasswordDialog" :code="resetPasswordCode" />
  </q-layout>
</template>

<script setup lang="ts">
import { ref, watch, onMounted, computed, onBeforeMount } from 'vue';
import { btnNav, loginStrapi } from 'src/components';
import MenuLeft from 'components/MenuLeft.vue';
import { useI18n } from 'vue-i18n';
import { useRouter, useRoute } from 'vue-router';
import LayoutFooter from './LayoutFooter.vue';
import { useAuthStore } from 'src/stores';
import { ROLES } from 'src/settings';
import ResetPassword from 'components/dialogs/ResetPassword.vue';
import { useAdminService } from 'src/core/services';
import { useHttp, useService } from 'src/core/composables';

const router = useRouter();
const route = useRoute();
let { t, locale } = useI18n();
const showDialog = 'login';
const authStore = useAuthStore();
const role = ref(authStore.getRole);
const defaultLinkOptions = computed(() => {
  return [
    { label: t('menu.dashboard'), value: '/dashboard' },
    { label: t('menu.jobs'), value: '/company/jobs' },
    { label: t('menu.candidates'), value: '/candidates' },
    { label: t('menu.news'), value: '/private/messages' }
  ];
});
const groupLink = ref('/candidates'),
  groupLinkOptions = [
    { label: t('label.department'), value: '/candidates?group=department' },
    { label: t('label.clerk'), value: '/candidates?group=clerk' }
  ];
const linkOptions = ref(defaultLinkOptions.value);
const resetPasswordDialog = ref<boolean>(false);
const resetPasswordCode = ref<string | null>(null);
const setApplicationFormInLinkOption = () => {
  if (role.value?.type == ROLES.COMPANY_OWNER) {
    linkOptions.value = [...linkOptions.value, { label: t('menu.applicationForms'), value: '/public/forms' }];
  }
};

const leftDrawerOpen = ref(true);
const appLogo = ref<string | null>(null);
const appTitle = import.meta.env.VITE_APP_TITlE;

const settingsSections = [
  '/company',
  '/team',
  '/profile',
  '/invoice',
  '/company/settings',
  '/company/widget',
  '/private/notifications',
  '/messages',
  '/api',
  '/company/workflows'
];

watch(
  () => locale,
  () => {
    hydrateLinkOptions();
  },
  {
    deep: true
  }
);

watch(
  () => groupLink.value,
  currentValue => {
    router.push(currentValue);
  }
);

watch(
  () => route.query,
  () => {
    hydrateLinkOptions();
  }
);

const hydrateLinkOptions = () => {
  if (route.query && route.query.group == 'department') {
    linkOptions.value = defaultLinkOptions.value.filter((_, index) => index !== 1);
  } else {
    linkOptions.value = defaultLinkOptions.value;
  }
  if (route.path == '/candidates' && route.query.group && route.query.group == 'clerk') {
    groupLink.value = '/candidates?group=clerk';
  }
  setApplicationFormInLinkOption();
};

function toggleLeftDrawer() {
  leftDrawerOpen.value = !leftDrawerOpen.value;
}

function show_drawer(route) {
  return (
    [
      'profile',
      'company',
      'team',
      'api',
      'settings',
      'invoice',
      'workflow',
      'notifications',
      'messages',
      'widget'
    ].includes(route.name) && role.value?.type == ROLES.COMPANY_OWNER
  );
}

const extractUrlPath = () => {
  const parts = route.path.split('/');
  const lastPart = parts[parts.length - 1];
  resetPasswordCode.value = route.query.code as string;
  if (lastPart == 'reset-password' && resetPasswordCode.value) {
    resetPasswordDialog.value = true;
  }
};

const { init } = useAdminService(useHttp());
const { execute } = useService(init, { immediate: false });
onMounted(() => {
  execute().then(({ data }) => {
    if (data) appLogo.value = import.meta.env.VITE_AUTH_URL + data.data.menuLogo;
  });

  hydrateLinkOptions();
});

onBeforeMount(() => {
  extractUrlPath();
});
</script>
