<template>
  <q-layout view="lHh Lpr lFf">
    <q-header>
      <q-toolbar class="bg-primary text-white full-width toolbar">
        <q-toolbar-title class="flex">
         <q-img src="Logo_PW_DigitalProducts_weiss.svg" fit="contain" width="110px" height="50px"></q-img>
        </q-toolbar-title>
      </q-toolbar>
    </q-header>
    <q-page-container>
      <router-view/>
    </q-page-container>
    <q-footer class="bg-primary text-white full-width footer " :bordered="!$q.dark.isActive">
<!--        <div class="row flex justify-center q-mt-sm"><apply-button v-if="job" :job="job" size="md"/></div>-->
        <div id="premiumFooter" class="row flex justify-center q-mt-sm"></div>
        <div class="row flex justify-center">
            <q-btn :label="$t('menu.imprint')" no-caps flat size="md" @click="showImprintDialog=true"/>
            <q-btn :label="$t('label.privacyPolicy')" no-caps flat size="md" @click="showDataProtectionDialog=true"/>
        </div>
    </q-footer>
    <privacy-policy-dialog v-model="showDataProtectionDialog"/>
    <imprint-dialog v-model="showImprintDialog"/>
  </q-layout>
</template>

<script setup lang="ts">
import PrivacyPolicyDialog from 'components/dialogs/PrivacyPolicyDialog.vue';
import ImprintDialog from 'components/dialogs/ImprintDialog.vue';
import { ref } from 'vue';
/*import ApplyButton from 'components/commons/ApplyButton.vue';
import { useRoute } from 'vue-router';
import { useJobStore } from 'src/stores';*/

const showDataProtectionDialog = ref(false)
const showImprintDialog = ref(false)
/*const route = useRoute(),
    id = parseInt(route.params.id),
    j = useJobStore(),
    job = computed(() => {
        return { id: j.job.id, ...j.job.attributes };
    });

onBeforeMount(() => {
    j.fetchJob(id);
});*/
</script>
