<template>
  <q-footer :bordered="!$q.dark.isActive" class="footer">
    <div class="row">
      <q-btn size="sm" flat stretch no-caps href="https://quasar.dev">Quasar v{{ $q.version }}</q-btn>
      <language-switch icon-only :selected-locale="user?.ui_language" @change-lang="v => changeLocale(i18n, v)"/>
      <q-btn  @click="$q.dark.toggle()">
        <q-icon :name="$q.dark.isActive ? symSharpSunny : symSharpDarkMode" />
      </q-btn>
      <div class="col-md-6"></div>
      <q-space />
      <q-btn :to="{name: 'imprint'}" :label="$t('menu.imprint')" no-caps flat size="sm"/>
      <q-btn :to="{name: 'privacyPolicy'}" :label="$t('label.privacyPolicy')" no-caps flat size="sm"/>
    </div>
  </q-footer>
</template>

<script lang="ts" setup>
import { symSharpDarkMode, symSharpSunny } from '@quasar/extras/material-symbols-sharp'
import { languageSwitch } from 'src/components';
import { i18n, changeLocale } from 'src/boot/i18n';
import { computed } from 'vue';
import { User } from 'src/types';
import { useAuthStore } from 'src/stores';
const store = useAuthStore();

const user = computed<User>(() => store.user as User);
</script>


