<template>
  <q-dialog ref="dialogRef" @hide="onDialogHide">
    <q-card v-if="formRef" style="width: 1200px; max-width: 80vw">
      <DialogBar>
        {{ formRef ? $t('dialog.editApplicationForm') : $t('dialog.createApplicationForm') }}
      </DialogBar>
      <q-stepper ref="stepper" v-model="step" color="primary" header-nav animated class="applyform-stepper bms-stepper">
        <q-step
            :name="1"
            :title="$t('applyForm.contactData')"
            :caption="$t('applyForm.contactDataCaption')"
            icon="contact"
            :done="step > 1">
          <apply-contact-settings
              :form="props.form"
              class="q-pt-md q-pb-md"
              @cancel="onCancelClick"
              @success="onOKClick"/>
        </q-step>

        <q-step
            :name="2"
            :title="$t('applyForm.applicationDocuments')"
            :caption="$t('applyForm.applicationDocumentsCaption')"
            icon="create_new_folder"
            :done="step > 2"
        >
          <apply-document-settings
              v-model="formRef"
              class="q-pt-md q-pb-md"
              @cancel="onCancelClick"
              @success="onOKClick"/>
        </q-step>

        <q-step
            :name="3"
            :title="$t('applyForm.questions')"
            :caption="$t('applyForm.questionsCaption')"
            icon="assignment"
        >
          <FormQuestions
              :questions="formRef?.questions?.data"
              @update-questions="onUpdateQuestions"/>
        </q-step>

        <template #navigation>
          <q-stepper-navigation class="row q-mt-md">
            <PreviewButton
                type="form"
                :data="formRef"
            />
            <q-space></q-space>
            <q-btn
                v-if="step > 1"
                outline
                color="primary"
                :label="$t('btn.previous')"
                class="q-mr-sm"
                @click="$refs.stepper.previous()"
            />
            <q-btn
              :loading="isLoading"
              color="primary"
              :label="step === 3 ? $t('btn.save') : $t('btn.next')"
              @click="step == 3 ? saveForm() : $refs.stepper.next()"
            />
          </q-stepper-navigation>
        </template>
      </q-stepper>
    </q-card>
  </q-dialog>
</template>

<script setup lang="ts">
import { useDialogPluginComponent } from 'quasar';
import { applyContactSettings, applyDocumentSettings } from 'src/components';
import { computed, ref, watch } from 'vue';
import DialogBar from 'components/commons/DialogBar.vue';
import { useFormStore } from 'src/stores';
import PreviewButton from 'components/PreviewButton.vue';
import FormQuestions from 'components/forms/apply/FormQuestions.vue';
import { useQuestionStore } from 'stores/question';
import { notificationService } from 'src/services/_singletons';

const { dialogRef, onDialogHide } = useDialogPluginComponent();
const step = ref(1);
const formStore = useFormStore();

const props = defineProps({
  form: {
    type: Object,
    default: null
  }
});
const questionStore = useQuestionStore();
const formRef = computed(() => {
  return {
    ...props.form?.attributes,
    id: props.form?.id
  };
})
//const formRef = toRef(props, 'form')
watch(() => formRef.value, () => {
  saveForm();
}, {
  deep: true
})
const questions = ref([]);
const isLoading = ref(false);
const saveForm = async () => {
  isLoading.value = true
  if (props.form && questions.value.length) {
    questions.value.map(async question => {
      await questionStore.save(
        {
          ...question,
          application_forms: [props.form.id]
        }, question.id)
    })
  }
  await formStore.save(formRef.value, props.form.id).then(() => {
    notificationService.showSuccess('Form saved successfully.')
  });
  isLoading.value = false;
}

function onOKClick(r) {
  console.log('oK', r);
  // step.value = 2;
}

const onUpdateQuestions = (value) => {
  questions.value = value;
}
</script>

<style lang="scss">
.applyform-stepper {
  .q-stepper__step-inner {
    padding: 0px;
  }
}
</style>
