<template>
  <q-dialog>
    <q-card flat bordered class="dialog-card">
      <dialog-bar>
        <q-icon name="login"></q-icon>
        <div>{{ $t('label.invite') }} {{ candidateName }}</div>
      </dialog-bar>
      <q-card-section class="scroll dialog-card-content q-pa-none" style="max-height: 70vh">
        <q-stepper
          ref="stepper"
          v-model="step"
          color="primary"
          animated
          class="invite-stepper"
        >
          <q-step
            :name="1"
            :title="$t('label.date')"
            icon="date"
            :done="step > 1"
          >
            <EventForm
              :attendees="candidate.id"
              :title="candidateName"
              type="once"
              @update="onUpdateEvent"
            />
          </q-step>

          <q-step
            :name="2"
            :title="$t('label.invitationMail')"
            icon="email"
            :done="step > 2"
          >
            <email-form
              v-if="template"
              v-model:template="template"
              class="q-ml-md q-mr-md q-mt-md"
            />
          </q-step>
        </q-stepper>
      </q-card-section>

      <q-card-section class="flex justify-end">
        <q-btn
          v-if="step==2"
          :label="$t('btn.back')"
          class="q-mr-sm"
          @click="$refs.stepper.previous()">
        </q-btn>
        <q-btn
          color="primary"
          :disable="event==null"
          no-caps
          :label="step == 2 ? $t('btn.save') : $t('btn.next')"
          @click="step == 2 ? onClickSave() : $refs.stepper.next()"
        />
      </q-card-section>
    </q-card>
  </q-dialog>
</template>
<script setup lang="ts">
import { ref, onBeforeMount, computed, watch } from 'vue';
import EventForm from 'components/forms/EventForm.vue';
import { dialogBar, emailForm } from 'src/components';
import { useCompanyStore } from 'stores/company';
import { useAuthStore } from 'stores/auth';

const props=defineProps(['candidate']);
const emit = defineEmits(['submit'])
const step = ref(1);
const companyStore = useCompanyStore();
const authStore = useAuthStore();
const event = ref(null);
const interview_types = {
  'phone': 'inviteCandidatePhonecall',
  'videocall': 'inviteCandidateVideocall',
  'onSite': 'inviteCandidateOnsite'
}
watch(() => props.candidate, () => {
  step.value = 1;
})
const firstName = computed(() => {
  return props.candidate.attributes.firstname
})
const lastName = computed(() => {
  return props.candidate.attributes.lastname
})
const candidateName = computed(() => {
  return `${firstName.value ?? ''} ${lastName.value ?? ''}`
})
const jobTitle = computed(() => {
  return props.candidate.attributes.job.data.attributes.title;
})

const interviewTemplate = computed(() => {
  return companyStore.mailTemplates?.result?.find((item) => item.attributes?.name == interview_types[event.value?.type]) ??
      companyStore.mailTemplates?.result?.find((item) => item.attributes?.name == 'inviteCandidatePhonecall');
})
const template = computed(() => {
  return {
    id: interviewTemplate.value?.id,
    subject: interviewTemplate.value?.attributes?.subject,
    text: interviewTemplate.value?.attributes?.text
      ?.replace('<span class="editor_token" contenteditable="false"><span>[firstname]</span></span>', firstName.value)
      .replace('<span class="editor_token" contenteditable="false"><span>[lastname]</span></span>', lastName.value)
      .replace('<span class="editor_token" contenteditable="false"><span>[title]</span></span>', jobTitle.value)
      .replace('<span class="editor_token" contenteditable="false"><span>[date]</span></span>', event.value?.time ? `${event.value?.date} ${event.value?.time}` : event.value?.date),
    description: interviewTemplate.value?.attributes?.description,
  }
})
const onClickSave = () => {
  console.log(template.value)
  emit('submit', { message: template.value, appointment: event.value })
}

const onUpdateEvent = (value) => {
  event.value = value;
}
const getCompanyMessageTemplates = async () => {
  const locale = authStore.user?.ui_language?.substring(0, 2) ?? '';
  const filter = { q: '', locale: locale }
  await companyStore.fetchMailTemplates({ pagination: { page: 1, rowsPerPage: 1000 }, filter: filter })
}
onBeforeMount(()=>{
  getCompanyMessageTemplates();
})
</script>

<style lang="scss">
.invite-stepper {
  .q-stepper__step-inner {
    padding: 0px;
  }
}
</style>

