<template>
  <q-dialog v-model="value" persistent transition-show="scale" transition-hide="scale">
    <q-card style="min-width: 800px">
      <dialog-bar>{{$t('menu.imprint')}}</dialog-bar>
      <q-card-section style="max-height: 60vh" class="scroll">

      </q-card-section>
      <q-card-actions align="right" class="text-primary">
        <q-btn v-close-popup no-caps :label="$t('label.close')" class="text-capitalize"/>
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script setup lang="ts">
import DialogBar from 'components/commons/DialogBar.vue'
import { computed } from 'vue'

const props = defineProps({
  modelValue: {
    type: Boolean,
    default: false
  },
});
const emit = defineEmits(['update:modelValue']);
const value = computed({
  get() {
    return props.modelValue
  },
  set(value) {
    emit('update:modelValue', value)
  }
})

</script>
