<template>
  <q-dialog v-model="value" :hide="$emit('close')" persistent transition-show="scale" transition-hide="scale">
    <q-card style="min-width: 800px">
      <dialog-bar>{{$t('label.privacyPolicy')}}</dialog-bar>
      <q-card-section style="max-height: 60vh" class="scroll">
        <q-markdown :src="privacyPolicy" :plugins="plugins"></q-markdown>
      </q-card-section>
      <q-card-actions align="right" class="text-primary">
        <q-btn v-close-popup no-caps :label="$t('label.close')" class="text-capitalize"/>
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script setup lang="ts">

import { QMarkdown } from '@quasar/quasar-ui-qmarkdown';
import DialogBar from 'components/commons/DialogBar.vue'
import privacyPolicy from 'src/settings/texts/de/privacy-policy.md'
import footnote from 'markdown-it-footnote'
import { computed } from 'vue'
import { QDialogProps } from 'quasar';

interface Props extends QDialogProps {

}
const props=defineProps<Props>()
/*const props = defineProps({
  show: {
    type: Boolean,
    default: false
  },
});*/

const emit = defineEmits(['update:modelValue'])

const plugins = [footnote]

const value = computed({
  get() {
    return props.modelValue;
  },
  set(value) {
    emit('update:modelValue', value)
  }
})
/*const showDataProtectionDialog=ref(props.show)

watch(props, currentValue => {
  if (currentValue.show) {
    showDataProtectionDialog.value = currentValue.show;
  }
});*/

</script>
