<template>
  <q-dialog persistent>
    <q-card style="width: 400px; max-width: 60vw">
      <q-bar>
        <q-icon name="password" />
        <div>{{ $t('label.resetPassword') }}</div>
      </q-bar>
      <q-card-section class="q-mb-md">
        <q-input
          v-model="password"
          class="q-pa-md"
          outlined
          :label="$t('label.password')"
          dense
          :type="isPassword ? 'password' : 'text'"
          :rules="[val => val.length > 7 || 'Password must be 8 characters long.']"
        >
          <template #append>
            <q-icon
              :name="isPassword ? 'visibility_off' : 'visibility'"
              class="cursor-pointer"
              @click="isPassword = !isPassword"
            />
          </template>
        </q-input>
        <q-input
          v-model="confirm_password"
          class="q-pa-md"
          outlined
          :label="$t('label.passwordRepeat')"
          dense
          :type="isConfirmPassword ? 'password' : 'text'"
          :rules="[val => val == password || 'Password and confirm password should be same']"
        >
          <template #append>
            <q-icon
              :name="isConfirmPassword ? 'visibility_off' : 'visibility'"
              class="cursor-pointer"
              @click="isConfirmPassword = !isConfirmPassword"
            />
          </template>
        </q-input>
      </q-card-section>
      <q-card-section>
        <q-space></q-space>
      </q-card-section>
      <q-card-actions class="justify-end absolute-bottom">
        <q-btn color="primary" no-caps :label="$t('label.resetPassword')" @click="onClickResetPassword" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { useAuthStore } from 'src/stores';
import { notificationService } from 'src/services/_singletons';

const props = defineProps<{ code?: string }>();
const authStore = useAuthStore();
const password = ref();
const confirm_password = ref();
const isPassword = ref(true);
const isConfirmPassword = ref(true);

const onClickResetPassword = () => {
  if (!props.code) return notificationService.showError('Invalid password reset code');

  authStore.resetPassword(password.value, confirm_password.value, props.code).catch(() => {
    notificationService.showError('Error while resetting your password');
  });
};
</script>
