<template>
  <q-table
    ref="tableRef"
    v-model:pagination="pagination"
    wrap-cells
    :title="$t('admin_menu.applicants')"
    :rows="data"
    :rows-per-page-options="rowsPerPage"
    :columns="columns"
    :loading="isLoading"
    :filter="filter"
    binary-state-sort
    row-key="id"
    title-class="text-capitalize"
    @request="onRequest"
  >
    <template #body="props">
      <q-tr>
        <q-td name="id">
          {{props.row.id}}
        </q-td>
        <q-td name="createdAt">
          {{
          new Date(props.row.createdAt).toLocaleDateString(
          $root?.$i18n?.locale
          )
          }}
          <q-tooltip :delay="1000">
            <template #default>
              <div>
                {{ $t('createdAt') }}: {{ props.row.createdAt }}
              </div>
              <div>
                {{ $t('updatedAt') }}: {{ props.row.updatedAt }}
              </div>
            </template>
          </q-tooltip>
        </q-td>
        <q-td name="username">
          {{props.row.username}}
        </q-td>
        <q-td name="email">
          {{props.row.email}}
        </q-td>
        <q-td name="confirmed">
          {{props.row.confirmed}}
        </q-td>

      </q-tr>
    </template>
  </q-table>
</template>

<script lang="ts" setup>

  import useTable from 'src/composables/table';
  import { useI18n } from 'vue-i18n';

  const { t } = useI18n(),
    { filter, onRequest, pagination, isLoading, rowsPerPage, data } =
      useTable('adminApplicants');
  const columns = [

    {
      name: 'id',
      align: 'left',
      label: 'ID',
      sortable: true,
      headerClasses: 'text-capitalize'
    },
    {
      name: 'updatedAt',
      align: 'left',
      label: t('label.dateReceived'),
      sortable: true,
      headerClasses: 'text-capitalize'
    },
    {
      name: 'username',
      align: 'left',
      label: t('label.name'),
      sortable: true,
      headerClasses: 'text-capitalize'
    },
    {
      name: 'email',
      align: 'left',
      label: t('email'),
      sortable: true,
      headerClasses: 'text-capitalize'
    },
    {
      name: 'confirmed',
      align: 'left',
      label: t('label.emailConfirmed'),
      sortable: false,
      headerClasses: 'text-capitalize'
    }
  ];

</script>

<style scoped>

</style>
