<template>
  <div class="q-pa-md row flex justify-center q-gutter-md q-ml-lg q-mr-lg">
    <div class="col-8">
      <q-card class="my-card full-width q-pa-lg">
        <div class="text-h5 text-bold">{{ $t('label.edit_message_template') }}</div>
        <div class="row q-mt-md">
          <div class="col-md-6 q-pa-md">
            <q-select
              v-model="form.company"
              dense
              emit-value
              map-options
              outlined
              clearable
              :options="companies"
              :label="$t('label.company')"
            />
          </div>
          <div class="col-md-6 q-pa-md">
            <q-select
              v-model="form.mailTemplate"
              dense
              emit-value
              map-options
              outlined
              clearable
              :options="templates"
              :label="$t('label.mailTemplate')"
            />
          </div>
        </div>

        <div class="row q-mt-xs">
          <div class="col-md-6 q-pa-md">
            <q-input
              v-model="form.subject"
              :rules="[val => !!val || 'This field is required']"
              dense
              outlined
              :label="$t('label.subject')"
              size="md"
            />
          </div>
          <div class="col-md-6 q-pa-md">
            <q-input v-model="form.text" dense outlined type="textarea" :label="$t('label.text')" size="md" />
          </div>
        </div>
        <div class="row q-mt-xs">
          <div class="col-md-6 q-pa-md">
            <q-input
              v-model="form.description"
              dense
              outlined
              type="textarea"
              :label="$t('label.description')"
              size="md"
            />
          </div>
          <div class="col-md-6 q-pa-md">
            <div class="text-grey-7">{{ $t('label.enabled') }}</div>
            <q-btn-toggle
              v-model="form.enabled"
              class="my-custom-toggle q-mt-sm"
              no-caps
              rounded
              unelevated
              toggle-color="primary"
              color="white"
              text-color="primary"
              :options="[
                { label: 'True', value: true },
                { label: 'False', value: false }
              ]"
            />
          </div>
        </div>
        <div class="row flex justify-center">
          <div class="col-4">
            <q-btn
              :disable="!form.subject"
              :loading="adminStore.isLoading"
              color="primary"
              class="full-width"
              :label="$t('btn.save')"
              @click="save"
            />
          </div>
        </div>
      </q-card>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { useRoute, useRouter } from 'vue-router';
import { onBeforeMount, reactive, ref } from 'vue';
import { useAdminStore } from 'stores/admin';
import { notificationService } from 'src/services/_singletons';
import { useI18n } from 'vue-i18n';

interface MessageTemplate {
  id: null | number;
  subject: string | null;
  text: string | null;
  description: string | null;
  enabled: boolean;
  company: null | number | string;
  mailTemplate: null | number | string;
}

interface IOptions {
  label: string | null;
  value: string | number | null;
}

const route = useRoute();
const router = useRouter();
const adminStore = useAdminStore();
const id = route.params.id;
const { t } = useI18n();

let form = reactive<MessageTemplate>({
  id: null,
  subject: null,
  text: null,
  description: null,
  enabled: true,
  company: null,
  mailTemplate: null
});
const companies = ref<IOptions[]>([]);
const templates = ref<IOptions[]>([]);

const getMessageTemplate = () => {
  adminStore.fetchMessageTemplate(id).then(response => {
    form.id = response.data.id;
    form.subject = response.data.subject;
    form.text = response.data.text;
    form.description = response.data.description;
    form.enabled = response.data.enabled;
  });
};

/** associated company **/
const fetchMessageTemplateCompany = async () => {
  await adminStore.fetchMessageTemplateCompany(id).then(response => {
    form.company = response.data?.data?.id;
  });
};

/** All companies **/
const fetchRelationsCompanies = async () => {
  await adminStore.fetchRelationsCompanies().then(response => {
    companies.value = prepareOptionsResponse(response.data.results);
  });
};

/** associated mail template **/
const fetchMessageTemplateMail = async () => {
  await adminStore.fetchMessageTemplateMail(id).then(response => {
    form.mailTemplate = response.data?.data?.id;
  });
};

/** All mail templates **/
const fetchRelationsMailTemplates = async () => {
  await adminStore.fetchRelationsMailTemplates().then(response => {
    templates.value = prepareOptionsResponse(response.data.results);
  });
};

const save = () => {
  adminStore.updateMessageTemplate(form).then(response => {
    if (response.status == 200) {
      notificationService.showSuccess(t('notify.messageTemplateUpdatedSuccess'));
      router.back();
    }
  });
};

/** prepare response in label,value format for q-select options **/
const prepareOptionsResponse = results => {
  return results.map(item => {
    return {
      label: item.name,
      value: item.id
    };
  });
};

onBeforeMount(async () => {
  await getMessageTemplate();

  await fetchRelationsMailTemplates();
  await fetchMessageTemplateMail();

  await fetchMessageTemplateCompany();
  await fetchRelationsCompanies();
});
</script>

<style scoped>
.my-custom-toggle {
  border: 1px solid #027be3;
}

.my-card {
  width: 400px;
}
</style>
