<template>
  <div>
    <q-table
      ref="tableRef"
      v-model:pagination="pagination"
      wrap-cells
      :title="$t('admin_menu.messages')"
      :rows="data"
      :rows-per-page-options="rowsPerPage"
      :columns="columns"
      :loading="isLoading"
      :filter="filter"
      binary-state-sort
      row-key="id"
      title-class="text-capitalize"
      @request="onRequest"
    >
      <template #body="props">
        <q-tr>
          <q-td name="name">
            {{ $t('message.' + props.row.name) }}
          </q-td>
          <q-td name="subject">
            {{ props.row.subject }}
          </q-td>

          <q-td name="description">
            {{ props.row.description }}
          </q-td>

          <q-td name="actions" align="right">
            <q-btn size="sm" flat dense icon="edit" @click="edit(props.row)">
              <q-tooltip :delay="1000">edit job</q-tooltip>
            </q-btn>
          </q-td>
        </q-tr>
      </template>
    </q-table>

    <q-dialog v-model="prompt">
      <q-card style="min-width: 800px">
        <dialog-bar></dialog-bar>
        <q-card-section>
          <div class="text-h6">Update Message</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <q-input v-model="form.subject" outlined dense autofocus :label="$t('label.subject')" />
        </q-card-section>
        <q-card-section class="q-pt-none">
          <editor-field
            :model-value="form.text"
            height="30vh"
            :placeholders="placeholders"
            :toolbar="[['left', 'justify', 'unordered'],['token']]">
          </editor-field>
        </q-card-section>

        <q-card-actions align="right" class="text-primary">
          <q-btn v-close-popup flat label="Cancel" />
          <q-btn flat :label="$t('btn.save')" :loading="store.isLoading" @click="save" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script lang="ts" setup>
import useTable from 'src/composables/table';
import { editorField, dialogBar } from 'src/components';
import { useI18n } from 'vue-i18n';
import { ref, reactive } from 'vue';
import { useAdminStore } from 'stores/admin';
import { notificationService } from 'src/services/_singletons';

const store = useAdminStore();
const { t } = useI18n(),
  { filter, onRequest, pagination, isLoading, rowsPerPage, data } = useTable('adminMessageTemplates');

const placeholders = [
  { placeholder: 'firstname', label: t('label.firstname'), icon: 'title' },
  { placeholder: 'lastname', label: t('label.lastname'), icon: 'title' },
  { placeholder: 'link', label: t('label.link'), icon: 'link' },
];

const prompt = ref<boolean>(false);
const tableRef = ref(null);
const form = reactive({
  id: null,
  subject: null,
  text: null
});

const edit = message => {
  form.id = message.id;
  form.subject = message.subject;
  form.text = message.text;
  prompt.value = true;
};
const columns = [
  {
    name: 'mailTemplate.name',
    align: 'left',
    label: t('label.mailTemplate'),
    sortable: true,
    headerClasses: 'text-capitalize'
  },
  {
    name: 'subject',
    align: 'left',
    label: t('label.subject'),
    sortable: true,
    headerClasses: 'text-capitalize'
  },
  {
    name: 'description',
    align: 'left',
    label: t('label.description'),
    sortable: true,
    headerClasses: 'text-capitalize'
  },
  {
    name: 'actions',
    align: 'right',
    label: t('label.actions'),
    sortable: false,
    headerClasses: 'text-capitalize'
  }
];

const save = () => {
  store.updateMessageTemplate(form).then(response => {
    if (response.status == 200) {
      notificationService.showSuccess(t('notify.messageTemplateUpdatedSuccess'));
      prompt.value = false;
      tableRef.value.requestServerInteraction();
    }
  });
};
</script>
