<template>
  <q-list class="rounded-borders">
    <q-item-label header>{{ $t('menu.settings') }}</q-item-label>
    <q-item>
      <q-item-section avatar style="min-width: 130px;">
        {{ $t('dialog.workflow') }}
      </q-item-section>

      <q-item-section>
        {{ $t('dialog.workflowCaption') }}
      </q-item-section>
      <q-item-section side>
        <BmsSelect
            v-model="workflowId"
            map-options
            emit-value
            dense
            :label="$t('dialog.workflow')"
            style="width: 200px;"
            :options="workflowOptions"
        ></BmsSelect>
      </q-item-section>
    </q-item>

    <q-item>
      <q-item-section avatar style="min-width: 130px;">
        {{ $t(`settings.recruiterMembersLabel`) }}
      </q-item-section>

      <q-item-section>
        {{ $t(`settings.recruiterMembersDescription`) }}
      </q-item-section>

      <q-item-section side>
        <select-employee v-model:entities="workflow_recruiter_users" dense/>
      </q-item-section>
    </q-item>
    <q-item>
      <q-item-section avatar style="min-width: 130px;">
        {{ $t(`settings.departmentMembersLabel`) }}
      </q-item-section>

      <q-item-section>
        {{ $t(`settings.departmentMembersDescription`) }}
      </q-item-section>
      <q-item-section side>
        <select-employee v-model:entities="workflow_department_users" dense/>
      </q-item-section>
    </q-item>
    <q-item>
      <q-item-section avatar style="min-width: 130px;">
        {{ $t('dialog.staffCouncil') }}
      </q-item-section>

      <q-item-section>
        {{ $t('dialog.staffCouncilCaption') }}
      </q-item-section>
      <q-item-section side>
        <select-employee
            v-model:entities="workflow_council_users"
            :enabled="selectedWorkflow?.staff_council_enabled ?? false" dense/>
      </q-item-section>
    </q-item>
  </q-list>
</template>

<script setup lang="ts">
import { onMounted, PropType, ref, watch, computed } from 'vue';
import { JobType } from 'src/types';
import { selectEmployee } from 'src/components';
import { useJobStore, useWorkflowStore } from 'src/stores';
import BmsSelect from 'components/commons/BmsSelect.vue';

defineEmits(['setting']);

const props = defineProps({
  job: {
    type: Object as PropType<JobType>,
    default: null
  }
});

const jobStore = useJobStore();
const workflowStore = useWorkflowStore();
const workflow_council_users = ref([]);
const workflow_recruiter_users = ref([]);
const departments = ref([]);
const workflow_department_users = ref([]);
const workflowOptions = ref([]);
const workflowId = ref(null); // Use a separate variable to store the selected value
const selectedWorkflow = computed(() => {
  return workflowOptions.value.find(workflow => workflow.value === workflowId.value);
});
watch(
    () => workflow_council_users.value,
    currentValue => {
      jobStore.job.workflow_council_users = currentValue;
    }
);
watch(
    () => workflow_recruiter_users.value,
    currentValue => {
      jobStore.job.workflow_recruiter_users = currentValue;
    }
);
watch(
    () => departments.value,
    currentValue => {
      jobStore.job.departments = currentValue;
    }
);
watch(
    () => workflow_department_users.value,
    currentValue => {
      jobStore.job.workflow_department_users = currentValue;
    }
);
watch(
    () => workflowId.value,
    currentValue => {
      jobStore.job.workflow = currentValue;
    }
);
const getWorkflows = async () => {
  await workflowStore.fetchWorkflows().then((response) => {
    workflowOptions.value = response.data.data.map((item) => {
      const staffCouncilSettings = item.attributes.settings.applied.find((row) => row.person == 'dialog.staffCouncil')
      return {
        label: item.attributes.name,
        value: item.id,
        staff_council_enabled: staffCouncilSettings?.enabled ?? false
      }
    })
  })
  console.log(JSON.stringify(workflowOptions.value))
}
const hydrateFields = () => {
  departments.value = props.job.departments;
  workflow_recruiter_users.value = props.job.workflow_recruiter_users;
  workflow_department_users.value = props.job?.workflow_department_users;
  workflow_council_users.value = props.job?.workflow_council_users;
  workflowId.value = props.job?.workflow;
};
onMounted(() => {
  getWorkflows();
  hydrateFields();
});
</script>
