<template>
  <q-banner v-if="show_banner" dense inline-actions class="bg-blue-2">
    <div class="text-body1">{{ $t('mail.help') }}</div>
    <div>{{ $t('mail.help_caption') }}</div>
    <template #action>
      <q-btn flat label="OK" @click="hideBanner" />
    </template>
  </q-banner>

  <q-table
    ref="tableRef"
    v-model:pagination="pagination"
    wrap-cells
    :title="$t('menu.settings')"
    title-class="text-uppercase font-anton"
    :rows="rows"
    :columns="columns"
    :loading="isLoading"
    :filter="filter"
    class="full-width"
    :rows-per-page-options="rowsPerPage"
    binary-state-sort
    row-key="id"
    @request="onRequest"
  >
    <template #body="props">
      <q-tr>
        <q-td key="subject" align="left">
          {{ $t(`settings.${props.row}Label`) }}
        </q-td>
        <q-td key="description" align="left">
          {{ $t(`settings.${props.row}Description`) }}
        </q-td>

        <q-td key="actions" align="right">
          <div v-if="props.row == 'darkmode'">
            <display-select
              :value="darkmode"
              @display="(v:String) => save({ name: props.row, value: v })"
            ></display-select>
          </div>

          <div v-else-if="props.row == 'languageDefault'">
            <language-switch
              :selected-locale="languageDefault"
              @change-lang="(v:String) => save({ name: props.row, value: v })"
            ></language-switch>
          </div>

          <div v-else-if="props.row == 'redirectAfterLogin'">
            <startpage-select
              :model-value="redirectAfterLogin"
              @change-startpage="(v:String) => save({ name: props.row, value: v })"
            ></startpage-select>
          </div>

          <div v-else-if="is.number(settings[props.row].default)">
            <q-item v-if="settings[props.row].min && settings[props.row].max && settings[props.row].step">
              <q-item-section avatar>
                {{ format.humanStorageSize(store.settings[props.row] ?? settings[props.row].default) }}
              </q-item-section>
              <q-item-section>
                <q-slider
                  v-model="store.settings[props.row]"
                  :min="settings[props.row].min"
                  :max="settings[props.row].max"
                  :step="settings[props.row].step"
                  snap
                  markers
                  :debounce="500"
                  @update:model-value="(v:Number) => save({ name: props.row, value: v })"
                >
                  <q-tooltip>{{ settings[props.row].min }}</q-tooltip>
                </q-slider>
              </q-item-section>
            </q-item>

            <q-input
              v-else
              :model-value="store.settings[props.row]"
              outlined
              dense
              type="number"
              @update:model-value="(v:Number) => save({ name: props.row, value: v })"
            />
          </div>
          <div v-else-if="props.row == 'languagesAvailable'">
            <BmsSelect
              emit-value
              map-options
              multiple
              :label="$t(`settings.${props.row}Label`)"
              :model-value="store.settings[props.row]"
              :options="settings[props.row].default"
              @update:model-value="v => save({ name: props.row, value: v })"
            >
            </BmsSelect>
          </div>
          <div v-else>
            <q-toggle
              :model-value="store.settings[props.row]"
              :loading="store.isLoading"
              @click="(v:boolean) => save({ name: props.row, value: !store.settings[props.row] })"
            />
          </div>
        </q-td>
      </q-tr>
    </template>
  </q-table>
</template>

<script setup lang="ts">
import { ref, onMounted, computed } from 'vue';
import { settings } from 'components/settings/defaultSettings.ts';
import { is, format, debounce } from 'quasar';
import { useI18n } from 'vue-i18n';
import useTable from 'src/composables/table';
import DisplaySelect from 'components/fields/DisplaySelect.vue';
import LanguageSwitch from 'components/generic/LanguageSwitch.vue';
import StartpageSelect from 'components/generic/StartpageSelect.vue';
import { useCompanyStore } from 'src/stores';
import { Setting } from 'src/types';
import BmsSelect from 'components/commons/BmsSelect.vue';

defineEmits(['setting']);

const store = useCompanyStore();

const show_banner = ref<boolean>(false);

const rows = Object.keys(settings);

const redirectAfterLogin = computed(() => {
  return store.settings.redirectAfterLogin ?? settings.redirectAfterLogin.default;
});
const languageDefault = computed(() => {
  return store.settings.languageDefault ?? settings.languageDefault.default;
});
const darkmode = computed(() => {
  return store.settings.darkmode ?? settings.darkmode.default;
});
const { t } = useI18n(),
  columns = [
    {
      name: 'mailTemplate.name',
      label: t('label.name'),
      align: 'left',
      sortable: false,
      headerClasses: 'text-capitalize'
    },
    {
      name: 'description',
      label: t('label.description'),
      align: 'left',
      sortable: false,
      headerClasses: 'text-capitalize'
    },
    {
      label: t('label.value'),
      align: 'right'
    }
  ],
  { filter, onRequest, pagination, isLoading, rowsPerPage } = useTable('settings');

onMounted(() => {
  show_banner.value = localStorage.getItem('banner') == 'hide' ? false : true;
});

function hideBanner() {
  localStorage.setItem('banner', 'hide');
  show_banner.value = false;
}

function save(e: Setting) {
  debounce(store.updateSetting(e), 5000);
}
</script>
