<template>
    <q-list class="rounded-borders">
    <q-item-label header>{{ $t('menu.applications') }}</q-item-label>

    <q-item>
      <q-item-section avatar style="min-width: 130px;">
        {{ $t('settings.applicationEmailLabel') }}
      </q-item-section>

      <q-item-section>
        {{ $t('settings.applicationEmailDescription') }}
      </q-item-section>

      <q-item-section side>
        <div>
          <input-application-email
v-model:enabled="applicationSettings.emailEnabled"
                                   :email="applicationEmail"
                                   :switchable="true" />
        </div>
      </q-item-section>
    </q-item>
    <q-item>
      <q-item-section avatar style="min-width: 130px;">
        {{ $t('settings.applicationFormLabel') }}
      </q-item-section>

      <q-item-section>
        {{ $t('settings.applicationFormDescription') }}
      </q-item-section>
      <q-item-section side>
        <div>
          <select-application-form
v-model:form="applicationForm"
                                   v-model:enabled="applicationSettings.formEnabled"
                                   :switchable="true"/>
        </div>
      </q-item-section>
    </q-item>


    <q-item class="full-height">
      <q-item-section class="full-height" avatar style="min-width: 130px;">
          Application Start
      </q-item-section>
      <q-item-section class="full-height">
        Application Start
      </q-item-section>
      <q-item-section side>
        <div class="full-height">
          <ApplicationStartDate
            v-model="applicationStart"
            v-model:enabled="applicationSettings.applicationStartEnabled"
            :label="$t('job.deadline')"
          />
        </div>
      </q-item-section>
    </q-item>

    <q-item class="full-height">
      <q-item-section class="full-height" avatar style="min-width: 130px;">
        {{ $t('job.deadline') }}
      </q-item-section>
      <q-item-section class="full-height">
        {{ $t('job.deadline') }}
      </q-item-section>
      <q-item-section side>
        <div class="full-height">
          <DeadlineInput
            v-model="applicationDeadline"
            v-model:required="applicationSettings.deadlineEnabled"
            :label="$t('job.deadline')"
          />
        </div>
      </q-item-section>
    </q-item>
  </q-list>
</template>

<script setup lang="ts">
import { onMounted, PropType, ref, watch, computed } from 'vue';
import { JobType } from 'src/types';
import { selectApplicationForm, inputApplicationEmail } from 'src/components';
import { useCompanyStore, useJobStore } from 'src/stores';
import DeadlineInput from 'components/fields/DeadlineInput.vue';
import ApplicationStartDate from 'components/fields/ApplicationStartDate.vue';

defineEmits(['setting']);
const defaultApplicationSettings = {
  emailEnabled: true,
  formEnabled: true,
  deadlineEnabled: false,
  applicationStartEnabled: false
}
const emailDomain = import.meta.env.VITE_EMAIL_DOMAIN;
const emailBox = import.meta.env.VITE_EMAIL_BOX;
const props = defineProps({
  job: {
    type: Object as PropType<JobType>,
    default: null
  }
});

const store = useCompanyStore();

const jobStore = useJobStore();
const applicationForm = ref(null);
const recruiters = ref([]);
const departments = ref([]);
const applicationDeadline = ref<Date | null>(null)
const applicationStart = ref<Date | null>(null)
const applicationSettings = ref(jobStore.job.applicationSettings ?? defaultApplicationSettings)
watch(
  () => applicationSettings.value,
  currentValue => {
    jobStore.job.applicationSettings = currentValue;
  }, {
    deep: true
  }
);

watch(
  () => applicationStart.value,
  currentValue => {
    jobStore.job.applicationStart = currentValue;
  }
);
watch(
  () => applicationForm.value,
  currentValue => {
    jobStore.job.applicationForm = currentValue;
  }
);
watch(
  () => recruiters.value,
  currentValue => {
    jobStore.job.recruiters = currentValue;
  }
);
watch(
  () => departments.value,
  currentValue => {
    jobStore.job.departments = currentValue;
  }
);
watch(
  () => applicationDeadline.value,
  currentValue => {
    jobStore.job.applicationDeadline = currentValue;
  }
);
const applicationEmail = computed(() => {
  return `${emailBox}+B${props.job?.jobId}@${emailDomain}`
})
const hydrateFields = () => {
  applicationForm.value = props.job.applicationForm;
  departments.value = props.job.departments;
  recruiters.value = props.job.recruiters;
  applicationDeadline.value = props.job.applicationDeadline
  applicationStart.value = props.job.applicationStart
  applicationSettings.value = props.job.applicationSettings ?? defaultApplicationSettings;
};
onMounted(() => {
  hydrateFields();
  store.fetchSettings({});
});
</script>
