<template>
  <q-dialog v-model="openDialog" persistent>
    <q-card style="width: 400px; max-width: 60vw">
      <DialogBar>
        <q-icon name="login"/>
        <div>{{ $t('welcome') }}</div>
      </DialogBar>
      <q-tabs
        v-model="tab"
        dense
        class="text-grey bms-tabs-ui"
        align="justify"
        narrow-indicator
      >
        <q-tab name="signin" :label="$t('btn.login')"/>
        <q-tab name="signup" :label="$t('btn.register')" :disable="admin"/>
      </q-tabs>

      <q-separator/>
      <q-tab-panels v-model="tab">
        <LoginTabPanel name="signin" @success="onSuccessLoggedIn"/>
        <RegisterTabPanel name="signup" @success="openDialog = false" @register-companies="RedirectRegisterCompany"/>
      </q-tab-panels>
    </q-card>
  </q-dialog>
</template>

<script setup lang="ts">
import { ref, watch, onMounted } from 'vue';
import { useAuthStore } from 'stores/auth';
import RegisterTabPanel from 'components/auth/RegisterTabPanel.vue';
import LoginTabPanel from 'components/auth/LoginTabPanel.vue';
import { useRouter } from 'vue-router';
import DialogBar from 'components/commons/DialogBar.vue';

const props = defineProps({
  open: {
    type: [Boolean],
    default: false
  },
  admin: {
    type: [Boolean],
    default: false
  }
});

const openDialog = ref(false),
  store = useAuthStore(),
  router = useRouter(),
  tab = ref('signin');

onMounted(() => {
  checkUserLogged();
});

watch(
  () => props.open,
  value => {
    if (value) {
      openDialog.value = true;
    }
  }
);

function checkUserLogged() {
  const token = store.token;
  if (token != null) {
    store.isLoggedIn = true;
    openDialog.value = false;
  }
}

function onSuccessLoggedIn() {
  checkUserLogged();
}

function RedirectRegisterCompany() {
  openDialog.value = false;
  router.push({ path: '/public/for-companies' }).then(() => router.go(0));
}
</script>
<style lang="scss">
@mixin bms-tab-styles($active-color,$normal-color) {
  .bms-tabs-ui {
    .q-tab {
      .q-tab__label {
        color: $normal-color !important;
        font-weight: 400 !important;
      }

      .q-tab__indicator {
        color: $active-color !important;
      }
    }

    .q-tab--active {
      background: rgba(125, 131, 152, 0.10);

      .q-tab__label {
        color: $active-color !important;
        font-weight: 700 !important;
      }
    }
  }
}

.body--light {
  @include bms-tab-styles($primary, #7D8398);
}

.body--dark {
  @include bms-tab-styles($yellow-7, #FFF);
}
</style>
