<template>
  <q-dialog v-model="openForgotPasswordDialog" persistent transition-show="scale" transition-hide="scale">
    <q-card style="width: 400px; height: 325px">
      <DialogBar>
        <q-icon name="login" />
        <div>{{ $t('label.resetPassword') }}</div>
      </DialogBar>
      <q-card-section>
        <div class="text-h6">{{ $t('label.forgotPassword') }}</div>
      </q-card-section>
      <q-card-section>
        <div>{{ $t('help.forgotPassword') }}</div>
      </q-card-section>
      <q-card-section class="q-pt-none">
        <q-input v-model="email" class="q-pa-md" outlined :label="$t('btn.email')" dense />
      </q-card-section>

      <q-card-actions align="right" class="bg-grey-2 text-primary">
        <q-btn v-close-popup no-caps color="primary" :label="$t('label.resetPassword')" @click="forgotPassword" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script setup lang="ts">
import { ref, watch } from 'vue';
import { useAuthStore } from 'stores/auth';
import { notificationService } from 'src/services/_singletons';
import { useI18n } from 'vue-i18n';
import DialogBar from 'components/commons/DialogBar.vue';

const { t } = useI18n(),
  props = defineProps({
    open: {
      type: [Boolean],
      default: false
    }
  });

const email = ref(''),
  auth = useAuthStore(),
  openForgotPasswordDialog = ref(false);

watch(
  () => props.open,
  value => (openForgotPasswordDialog.value = value)
);

function forgotPassword() {
  auth
    .forgotPassword(email.value)
    .then(() => {
      notificationService.showSuccess(t('notify.forgotPasswordSuccess'));
    })
    .catch(data => {
      notificationService.showError(t('notify.forgotPasswordFail', { error: data }));
    });
}
</script>
