<template>
  <q-tab-panel name="signin">
    <div class="text-h6">{{ $t('btn.login') }}</div>
    <q-card-section class="q-mb-md">
      <BmsInput
        v-model="username"
        class="q-pa-md"
        :label="props.admin ? $t('btn.email') : $t('label.emailOrUsername')"
      />
      <BmsInput
        v-model="password"
        class="q-pa-md"
        :type="isPwd ? 'password' : 'text'"
        :label="$t('label.password')"
      >
        <template #append>
          <q-icon :name="isPwd ? 'visibility_off' : 'visibility'" class="cursor-pointer" @click="isPwd = !isPwd" />
        </template>
      </BmsInput>
    </q-card-section>

    <q-card-actions align="between" class="relative-position absolute-bottom dialog-footer">
      <q-btn no-caps flat :label="$t('label.forgotPassword')" @click="openForgetPasswordDialog = true" />
      <ForgotPasswordDialog :open="openForgetPasswordDialog" @hide="openForgetPasswordDialog = false" />
      <q-btn no-caps color="primary" :label="$t('btn.login')" @click="onClickLogin" />
    </q-card-actions>
  </q-tab-panel>
</template>

<script setup lang="ts">
import { ref, watch } from 'vue';
import { useAuthStore } from 'stores/auth';
import { useCompanyStore } from 'src/stores';
import { notificationService } from 'src/services/_singletons';
import { useI18n } from 'vue-i18n';
import ForgotPasswordDialog from 'components/auth/ForgotPasswordDialog.vue';
import { useQuasar } from 'quasar';
import { EDisplay } from 'src/enums/EDisplay';
import BmsInput from 'components/commons/BmsInput.vue';

const { t } = useI18n(),
  props = defineProps({
    admin: {
      type: [Boolean],
      default: false
    }
  });

const emit = defineEmits(['success']),
  openForgetPasswordDialog = ref(false),
  auth = useAuthStore(),
  username = ref(''),
  password = ref(''),
  isPwd = ref(true),
  $q = useQuasar(),
  companyStore = useCompanyStore();
watch(
  () => auth.isLoggedIn,
  (newVal) => {
    console.log('Logged in ', newVal);
    newVal ? loginSuccess() : undefined;
  }
);

function onClickLogin() {
  try {
    auth.loginUser(username.value, password.value).catch(e => {
      loginFail(e);
    });
  } catch (e) {
    loginFail(e);
  }
}

function loginSuccess() {
  notificationService.showSuccess(t('notify.loggedIn', { name: `${auth.user.firstname} ${auth.user.lastname}` }), {
    icon: 'done',
    position: 'top'
  });
  const companySettings = companyStore.getSettings;
  if (companySettings) {
    $q.dark.set(EDisplay[companySettings.darkmode]);
  }
  emit('success', 1);
}

function loginFail(data) {
  notificationService.showError(t('notify.loginFailed', { error: data }));
}
</script>
