<template>
  <div>
    <q-btn-dropdown v-if="auth.isLoggedIn" flat no-caps>
      <template #label>
        <div class="row items-center no-wrap">
          <thumbnail :photo="auth.user?.photo?.url" :rounded="false" />
        </div>
      </template>
      <q-list>
        <q-item v-close-popup>
          <q-item-section>
            <q-item-label>
              {{ auth.user.firstname }}
              {{ auth.user.lastname }}
            </q-item-label>
            <q-item-label caption>{{ auth.user.company?.name }}</q-item-label>
            <q-item-label caption>{{ auth.user.role?.name }}</q-item-label>
          </q-item-section>
        </q-item>

        <company-menu v-if="auth.user.company" />

        <candidate-menu v-if="auth.user.role?.type == 'candidate'" />

        <q-item v-close-popup clickable>
          <q-item-section>
            <q-btn class="bg-primary text-white" @click="logout">
              {{ $t('btn.logout') }}
            </q-btn>
          </q-item-section>
        </q-item>
      </q-list>
    </q-btn-dropdown>
    <div v-else class="row items-center no-wrap">
      <q-btn flat no-caps to="/public/for-companies">{{ $t('btn.forCompanies') }}</q-btn>
      <q-separator vertical color="grey" />
      <q-btn flat no-caps to="/public/magazine">{{ $t('btn.magazin') }}</q-btn>
      <q-btn flat no-caps to="/my/applications">{{ $t('btn.myCareer') }}</q-btn>
      <q-btn flat no-caps to="/my/jobs">{{ $t('btn.myJobs') }}</q-btn>
      <q-btn outline :label="$t('btn.login')" class="q-ml-md" @click="showAuthDialog = true" />
    </div>
    <AuthDialog :open="showAuthDialog" @hide="showAuthDialog = false" />
  </div>
</template>

<script setup lang="ts">
import CompanyMenu from 'components/CompanyMenu.vue';
import CandidateMenu from 'components/CandidateMenu.vue';
import AuthDialog from 'components/auth/AuthDialog.vue';
import { thumbnail } from 'src/components';
import { ref } from 'vue';
import { useAuthStore } from 'stores/auth';

defineProps({
  open: {
    type: [Boolean],
    default: false
  },
  admin: {
    type: [Boolean],
    default: false
  }
});

const auth = useAuthStore();
const showAuthDialog = ref(false);

function logout() {
  auth.logout();
}
</script>
