<template>
  <q-tab-panel name="signup">
    <div class="text-h6 row">
      {{ $t('dialog.registerCandidate') }}
      <q-space />
      <q-btn size="sm" dense flat @click="$emit('register-companies')">{{ $t('label.company') }}?</q-btn>
    </div>
    <q-card-section class="q-mb-md">
      <q-input v-model="username" class="q-pa-md" outlined :label="$t('label.username')" dense />
      <q-input v-model="email" class="q-pa-md" outlined :label="$t('btn.email')" dense />
      <q-input
        v-model="password"
        class="q-pa-md"
        :type="isPwd ? 'password' : 'text'"
        outlined
        :label="$t('label.password')"
        dense
      >
        <template #append>
          <q-icon :name="isPwd ? 'visibility_off' : 'visibility'" class="cursor-pointer" @click="isPwd = !isPwd" />
        </template>
      </q-input>
      <q-input
        v-model="password_repeat"
        class="q-pa-md"
        :type="isPwd ? 'password' : 'text'"
        outlined
        :label="$t('label.passwordRepeat')"
        dense
      >
        <template #append>
          <q-icon :name="isPwd ? 'visibility_off' : 'visibility'" class="cursor-pointer" @click="isPwd = !isPwd" />
        </template>
      </q-input>
    </q-card-section>
    <q-card-actions align="right" class="relative-position absolute-bottom">
      <q-btn no-caps color="primary" :label="$t('btn.register')" :loading="isLoading" @click="register" />
    </q-card-actions>
  </q-tab-panel>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { useAuthStore } from 'stores/auth';
import { notificationService } from 'src/services/_singletons';
import { useI18n } from 'vue-i18n';

defineProps({
  admin: {
    type: [Boolean],
    default: false
  }
});
const { t } = useI18n();
const emit = defineEmits(['success', 'register-companies']),
  auth = useAuthStore(),
  isLoading = ref(false),
  username = ref(''),
  email = ref(''),
  password = ref(''),
  password_repeat = ref(''),
  isPwd = ref(true);

function register() {
  isLoading.value = true;
  auth
    .registerUser({
      username: username.value,
      email: email.value,
      password: password.value
    })
    .then(() => {
      notificationService.showSuccess(t('notify.registrationSuccess'));
      emit('success', 1);
    })
    .catch(error => {
      notificationService.showError(t('notify.registerFail', { error: error }));
    })
    .finally(() => {
      isLoading.value = false;
    });
}
</script>
