<template>
  <div class="flex">
    <q-btn
      v-for="(option, index) in linkOptions"
      :key="`links_anonymous${index}`"
      no-caps
      :color="$route.path == option.value ? 'secondary' : 'primary'"
      :to="option.value"
      replace
      flat
      class="bms-btn-nav"
    >
      {{ option.label }}
    </q-btn>
  </div>
</template>

<script setup lang="ts">
defineProps({
  linkOptions: {
    type: Object,
    default: null
  }
});
</script>
<style lang="scss">
.body--dark {
  .bms-btn-nav {
    color: $yellow-7 !important;
  }
}
.body--light {
  .bms-btn-nav {
    color: $primary !important;
  }
}
</style>
