<template>
  <q-card-actions align="between">
    <q-btn v-close-popup :no-caps="noCaps" class="q-ml-sm" :label="$t(cancelLabel)" @click="() => $emit('cancel')" />
    <q-btn
      :no-caps="noCaps"
      :loading="loading"
      :label="$t(saveLabel)"
      color="secondary"
      text-color="primary"
      class="q-mr-sm"
      @click="() => $emit('save')"
    />
  </q-card-actions>
</template>

<script setup lang="ts">
defineProps({
  loading: {
    type: Boolean,
    default: false
  },
  saveLabel: {
    type: String,
    default: 'btn.save'
  },
  cancelLabel: {
    type: String,
    default: 'btn.cancel'
  },
  noCaps: {
    type: Boolean,
    default: false
  }
});
defineEmits(['save', 'cancel']);
</script>
