<template>
  <q-icon :name="icon(name)" :size="size" />
</template>

<script setup lang="ts">
import { toRefs } from 'vue';

const props = defineProps({
  name: {
    required: true,
    type: String
  },
  size: {
    required: false,
    type: String,
    default: 'xs'
  }
});

const { name, size } = toRefs(props);
const icon = (locale: string) => {
  return 'img:flags/' + locale.substring(0, 2) + '.svg';
};
</script>
