<template>
  <q-card>
    <q-card-section>
      <div class="text-h6">{{ $t('dialog.cropImage') }}</div>
    </q-card-section>
    <q-card-section align="center" class="q-pt-none q-pb-none">
      <q-btn-group rounded>
        <q-btn icon="rotate_left" @click="rotateLeft()" />
        <q-btn icon="rotate_right" @click="rotateRight()" />
        <q-btn icon="settings_backup_restore" @click="resetCropper()" />
        <q-btn v-close-popup icon="done" color="positive" @click="finish()" />
        <q-btn v-close-popup icon="cancel" color="negative" @click="destroyCropper()" />
      </q-btn-group>
    </q-card-section>
    <q-card-section class="q-pt-none">
      <div class="wrapper column items-center no-scroll">
        <div class="column items-center no-wrap">
          <div class="row justify-between no-wrap"></div>
          <div class="container">
            <img id="image" :src="imageSrc" />
          </div>
          <p class="q-mt-md text-weight-bold">{{ $t('btn.preview') }}</p>
          <div v-if="preview" class="preview-container column items-center">
            <img class="preview" :src="destination" />
          </div>
          <div v-else class="preview column items-center">
            {{ $t('dialog.loadingCropper') }}
            <q-spinner size="3em" color="primary" />
          </div>
        </div>
      </div>
    </q-card-section>
  </q-card>
</template>

<script setup type="ts">
import { onMounted, ref, watch } from 'vue';
import Cropper from 'cropperjs';
import 'cropperjs/dist/cropper.css';

const emit = defineEmits(['finish'])

const props = defineProps({
  imageSrc: {
    type: [String, Object],
    required: true,
  },
  type: {
    type: String,
    default: ''
  }
})


const cropper = ref({}),
  destination = ref({}),
  preview = ref(false);

const ratio = (props.type == 'header') ? ( 5 / 2 ) : 1

watch(() => props.imageSrc, () => {
  startCropper()
})

onMounted(() => {
  //console.log('START CROPPER', props.imageSrc)
  startCropper();
});


function startCropper() {

  const image = document.getElementById('image');


  cropper.value = new Cropper(image, {
    viewMode: 1,
    minCanvasWidth: 150,
    minCanvasHeight: 150,
    aspectRatio: ratio.value,
    crop: () => {
      // console.log(event.detail)
      // console.log(event.detail.y)
      // console.log(event.detail.width)
      // console.log(event.detail.height)
      // console.log(event.detail.rotate)
      // console.log(event.detail.scaleX)
      // console.log(event.detail.scaleY)
      destination.value = cropper.value
        .getCroppedCanvas()
        ?.toDataURL('image/jpeg');
      preview.value = true;
    }
  });
}

function destroyCropper() {
  cropper.value.destroy();
}

function resetCropper() {
  cropper.value.reset();
}

function rotateLeft() {
  cropper.value.rotate(-90);
}

function rotateRight() {
  cropper.value.rotate(90);
}

function finish() {
  emit('finish', destination.value);
}
</script>

<style lang="scss" scoped>
.wrapper {
  max-width: 80vw;
  padding: 10px;
  background-color: #e6e6e6;
}

@media screen and (min-width: 500px) {
  .wrapper {
    max-width: 50vw;
  }
}

@media screen and (min-width: 500px) and (min-width: 800px) {
  .wrapper {
    max-width: 80vw;
  }
}

.container {
  width: 93%;
  margin: 3px;
}

.container img {
  display: block;
  max-width: 100%;
  max-height: 400px;
}

.preview-container {
  width: 93%;
  padding: 2px;
  background-color: #fff;
  border-radius: 3px;
}

.preview {
  max-height: 200px;
}
</style>
