<template>
  <q-form
    class="drop_area text-center q-pa-md"
    :class="{ draghover: dragOver }"
    @dragover.prevent="dragOver = true"
    @dragenter.prevent="dragOver = true"
    @dragleave.prevent="dragOver = false"
    @dragend.prevent="dragOver = false"
    @drop.prevent="chooseFile"
  >
    <span>
      Drag & drop or
      <label ref="file_btn" tabindex="0" @keypress="selectFile">
        {{ props.icon == 'person' ? 'Select Photo' : 'Select Logo' }}
        <input
          ref="file_ctrl"
          type="file"
          :accept="accept"
          :multiple="multiple"
          @change="chooseFile"
          @focus="resetFocus"
        />
      </label>
      (max size is {{maxSize/1024}}KB)
    </span>
    <q-dialog v-model="showCropper" style="min-width: 80vh">
      <CropperDialog
        :image-src="image"
        :type="icon"
        :style="icon == 'header' ? 'width: 800px; max-width: 80vw' : 'width: 500px; max-width: 80vw'"
        @finish="croppedFinish"
      />
    </q-dialog>

    <user-photo
      :image="image"
      :width="icon == 'header' ? 200 : 100"
      :height="icon == 'header' ? 80 : 100"
      :photo="props.photo"
      :icon="props.icon"
      :square="props.square"
      :rounded="props.rounded"
      class="q-mx-auto q-mt-md bg-transparent"
      @remove="removeFile"
    />
  </q-form>
</template>

<script setup type="ts">
import { ref } from 'vue'
import UserPhoto from 'components/generic/UserPhoto.vue';
import CropperDialog from 'components/generic/CropperDialog.vue'
import { notificationService } from 'src/services/_singletons';

const props = defineProps({
  multiple: {
    type: Boolean,
    default: false
  },
  accept: {
    type: String,
    default: 'image/*'
  },
  photo: {
    type: [Object, String],
    default: null
  },
  icon: {
    type: String,
    default: 'person'
  },
  rounded: {
    type: Boolean,
    default: true
  },
  square: {
    type: Boolean,
    default: false
  },
  maxSize: {
    type: Number,
    default: 10240000
  }
})

const emit = defineEmits(['change', 'remove'])

const file_ctrl = ref(null)
const file_btn = ref(null)
const thumbnail = ref(null)
const files = ref(null)
const dragOver = ref(false);
const image = ref(null)
const showCropper = ref(false);

function selectFile() {
  file_btn.value.focus();
  file_btn.value.click();
}

function resetFocus() {
  setTimeout(() => {
    file_btn.value.focus();
  }, 150);
}

const toBase64 = file => new Promise((resolve, reject) => {
  const reader = new FileReader();
  reader.readAsDataURL(file);
  reader.onload = () => resolve(reader.result);
  reader.onerror = error => reject(error);
});

async function chooseFile(event) {
  const list = (event.dataTransfer || event.target).files;
  const fileSize=list[0].size
  console.log('Size ', fileSize);
  console.log('Max Size ', props.maxSize);
  if(fileSize>props.maxSize){
    notificationService.showError('Image size exceeds');
    return;
  }
  dragOver.value = false;
  image.value = await toBase64(list[0]);
  thumbnail.value = list[0];
  files.value = (event.dataTransfer || event.target).files
  emit('change', {
    binary:thumbnail.value,
    base64:image.value,
    size: fileSize
  });
  showCropper.value = true;
  clearFileInput();
}

const removeFile = () => {
  image.value = null;
  clearFileInput()
}
const croppedFinish=async (value)=>{
    image.value=value;
    const binaryPhoto=await dataURLtoFile(image.value, 'image.png');
    emit('change', {
      binary:binaryPhoto,
      base64:image.value,
      size: binaryPhoto.size
    })
}
  const dataURLtoFile=async (dataUrl, filename)=> {
  let arr = dataUrl.split(','),
    mime = arr[0].match(/:(.*?);/)[1],
    bstr = atob(arr[arr.length - 1]),
    n = bstr.length,
    u8arr = new Uint8Array(n);
  while(n--){
    u8arr[n] = bstr.charCodeAt(n);
  }
  return new File([u8arr], filename, { type:mime });
}

// we have to clear the INPUTs of type FILE after each selection - otherwise if we try to select the same file twice, the CHANGE event will not fire on the 2nd time
function clearFileInput() {
  try {
    file_ctrl.value.value = null;
  } catch (e) {
    console.log('Error ', e);
  }
  //if (file_ctrl.value) file_ctrl.value.parentNode.replaceChild(file_ctrl.value.cloneNode(true), file_ctrl.value);
}
</script>

<style lang="scss">
.drop_area {
  border-radius: 6px;
  border: 1px dashed $secondary;
  background-color: rgba($secondary, 0.2);
  // width: 250px;
  // min-height: 180px;

  label {
    text-decoration: underline;
    color: $primary;
    font-weight: bold;
    cursor: pointer;
  }

  input[type='file'] {
    opacity: 0;
    position: absolute;
    z-index: -1;
    width: 1px;
    height: 1px;
  }
}

.draghover {
  border-color: darken($primary, 35%);
  background-color: rgba($secondary, 0.5);
  color: #f2f1ef;
}
</style>
