<template>
  <q-select
    v-model="lang"
    :options="localeOptions"
    :label="iconOnly ? null : $t('label.language')"
    outlined
    :dense="dense"
    emit-value
    flat="iconOnly"
    map-options
    options-dense
    :display-value="iconOnly ? '' : lang"
    class="text-capitalize bms-language-switch"
    :style="iconOnly ? null : 'min-width: 150px;'"
    v-bind="$attrs"
    @update:model-value="onChangeLang"
  >
    <template #selected-item="scope">
      <country-icon
        class="q-pl-sm"
        :class="{
        'bms-language-switch--icon ':iconOnly,
        'q-pr-sm' : !iconOnly
        }"
        :name="scope.opt.value" size="sm"/>
      <span v-if="!props?.iconOnly">{{ $t(scope.opt.label) }}</span>
    </template>
    <template #option="scope">
      <q-item v-bind="scope.itemProps">
        <q-item-section avatar>
          <country-icon :name="scope.opt.value" size="sm"/>
        </q-item-section>
        <q-item-section v-if="!props.iconOnly">
          <q-item-label>{{ $t(scope.opt.label) }}</q-item-label>
          <q-item-label caption>{{ scope.opt.value }}</q-item-label>
        </q-item-section>
      </q-item>
    </template>
  </q-select>
</template>

<script setup lang="ts">
import { useI18n } from 'vue-i18n';
import { ref } from 'vue';
import countryIcon from 'components/generic/CountryIcon.vue';
interface Props {
  selectedLocale?: string,
  iconOnly?: boolean,
  dense?: boolean
}

const props = withDefaults(defineProps<Props>(), {
    selectedLocale: 'de-DE',
    iconOnly: false,
    dense: true
});
const emit = defineEmits(['changeLang']);
const { locale } = useI18n({ useScope: 'global' });
//const authStore = useAuthStore();
const lang = ref(props.selectedLocale ?? locale);
const localeOptions = [
  { value: 'en-US', label: 'english' },
  { value: 'de-DE', label: 'german' },
  { value: 'fr-FR', label: 'french' }
];
/*const lang = computed({
  get() {
    return authStore.lang ?? locale
  },
  set(value) {
    authStore.lang = value
  }
})*/
const onChangeLang = (value) => {
  emit('changeLang', value)
}
</script>
<style lang="scss">
.bms-language-switch {
  &--icon {
    margin-top: -10px !important;
  }
}
</style>
