<template>
  <div v-if="data" class="q-pa-md q-gutter-sm text-no-wrap">
    <q-btn
      v-for="(e, n) in data"
      :key="n"
      round
      size="sm"
      class="overlapping"
      :style="`left: -${n * 20}px`"
    >
      <q-avatar size="30px">
        <q-icon
          size="md"
          round
          color="grey"
          :name="image(e.attributes.photo)"
        />
      </q-avatar>
      <q-tooltip :delay="400">
        <template #default>
          {{ e.attributes.firstname ? e.attributes.firstname : e.attributes.email }}
          {{ e.attributes.lastname ? e.attributes.lastname : e.attributes.email }}
        </template>
      </q-tooltip>
    </q-btn>
  </div>
</template>

<script setup lang="ts">
const props = defineProps({
  people: {
    type: Array,
    default: null
  },
});

const data = props.people

const strapi = import.meta.env.VITE_AUTH_URL;

function image(data) {
 return data.data?.attributes?.formats?.thumbnail?.url ? 'img:' + strapi + data.data.attributes.formats.thumbnail.url : 'person'
}

</script>
