<template>
  <div>
    <q-tooltip :delay="1000">{{
      new Date(date).toLocaleString($q.lang.isoName)
    }}</q-tooltip>
    {{ since(date) }}
  </div>
</template>

<script>
import { date } from 'quasar';
// destructuring to keep only what is needed
const { getDateDiff } = date;
const today = new Date();

export default {
  name: 'SinceDate',
  props: {
    date: {
      type: [Number, String, Object],
      required: true,
      default: ''
    }
  },
  methods: {
    since(time) {
      const s = getDateDiff(today, time, 'seconds');
      const minute = 60;
      const hour = 3600;
      const day = 86400;
      const week = 7 * day;
      const month = 4 * week;
      let text = '';

      if (s <= minute) {
        text = this.$t('date.minute1');
      } else if (s >= 2 * minute && s < hour) {
        text = this.$t('date.minutesN', [Math.round(s / minute)]);
      } else if (s >= 60 * minute && s < 2 * hour) {
        text = this.$t('date.hour1', [Math.round(s / hour)]);
      } else if (s >= 2 * hour && s < day) {
        text = this.$t('date.hoursN', [Math.round(s / hour)]);
      } else if (s >= day && s < 2 * day) {
        text = this.$t('date.yesterday');
      } else if (s >= 2 * day && s < 7 * day) {
        text = this.$t('date.daysN', [Math.round(s / day)]);
      } else if (s >= 7 * day && s < 14 * day) {
        text = this.$t('date.week1');
      } else if (s >= 14 * day && s < 30 * day) {
        text = this.$t('date.weeksN', [Math.round(s / week)]);
      } else if (s >= 30 * day && s < 60 * day) {
        text = this.$t('date.month1');
      } else if (s >= 60 * day && s < 365 * day) {
        text = this.$t('date.monthsN', [Math.round(s / month)]);
      } else if (s >= 365 * day && s < 750 * day) {
        text = this.$t('date.year1');
      } else if (s >= 750 * day) {
        text = this.$t('date.yearsN', [Math.round(s / (12 * month))]);
      }
      return text;
    }
  }
};
</script>
