<template>
  <q-select
    v-model="value"
    :options="redirectOptions"
    :label="$t('label.startpage')"
    outlined
    dense
    emit-value
    map-options
    options-dense
    style="min-width: 150px"
    @update:model-value="value => $emit('changeStartpage', value)"
  >
    <template #option="scope">
      <q-item v-bind="scope.itemProps">
        <q-item-section>
          <q-item-label>{{ $t(`menu.${scope.opt.label}`) }}</q-item-label>
          <q-item-label caption> {{ scope.opt.value }} </q-item-label>
        </q-item-section>
      </q-item>
    </template>
  </q-select>
</template>

<script setup lang="ts">
import { toRefs } from 'vue';
const props = defineProps({
  value: {
    required: false,
    default: 'dashboard',
    type: String
  }
});

defineEmits(['changeStartpage']);

const { value } = toRefs(props);

const redirectOptions = [
  { label: 'dashboard', value: 'dashboard' },
  { label: 'jobs', value: 'jobs' },
  { label: 'candidates', value: 'candidates' }
];
</script>
