<template>
  <q-card flat align="center">
    <q-card-section v-if="image" align="center">
      <q-avatar v-if="icon != 'header'" size="150px">
        <div>
          <q-img :src="image" fit="cover" :style="stylePhoto" height="150px" width="150px"></q-img>
        </div>
      </q-avatar>
      <q-img v-else :src="image" fit="cover" class="full-width"></q-img>
    </q-card-section>
    <q-card-section v-else align="center" class="row">
      <q-avatar v-if="icon != 'header'" size="150px" :rounded="rounded" :square="square">
        <thumbnail :photo="photo" size="150px" :icon="props.icon" :rounded="rounded" :square="true" />
      </q-avatar>
      <thumbnail v-else :photo="photo" size="150px" :icon="props.icon" :rounded="rounded" :square="true" />
    </q-card-section>
  </q-card>
</template>

<script setup lang="ts">
import { computed } from 'vue';
import { thumbnail } from 'src/components';

const props = defineProps({
  image: {
    type: String,
    default: ''
  },
  width: {
    type: Number,
    default: 300
  },
  height: {
    type: Number,
    default: 300
  },
  photo: {
    type: [Object, String],
    default: null
  },
  icon: {
    type: String,
    default: 'person'
  },
  rounded: {
    type: Boolean,
    default: true
  },
  square: {
    type: Boolean,
    default: false
  }
});

defineEmits(['remove']);

const stylePhoto = computed(() => {
  return {
    maxWidth: props.width + 'px',
    maxHeight: props.height + 'px',
    objectFit: 'contain'
  };
});
</script>
