<template>
  <q-table
      ref="tableRef"
      v-model:pagination="pagination"
      wrap-cells
      :title="$t('menu.applicationForms')"
      title-class="font-anton text-uppercase"
      :rows="data"
      :rows-per-page-options="rowsPerPage"
      :columns="columns"
      :visible-columns="
      companySettings?.multilingualEnabled
        ? ['name', 'questions', 'locale', 'actions']
        : ['name', 'questions', 'actions']
    "
      :loading="isLoading"
      :filter="filter"
      binary-state-sort
      row-key="id"
      class="full-width"
      @request="onRequest"
  >
    <template #body="props">
      <q-tr>
        <q-td name="name"> {{ props.row.attributes.name }}</q-td>
        <q-td name="questions">
          {{ props.row.attributes.questions.data?.length }}
          <q-tooltip :delay="600">
            <template #default>

                <div v-for="(row,i) in props.row.attributes.questions.data" :key="i">* {{ row.attributes.question }}</div>

            </template>
          </q-tooltip>
        </q-td>
        <q-td v-if="companySettings?.multilingualEnabled" name="locale">
          <country-icon :name="props.row.attributes?.locale" />
          <country-icon
              v-for="(e, i) in props.row.attributes?.localizations?.data"
              :key="i"
              class="q-ml-xs"
              :name="e.attributes.locale"
              size="xs"
          />
        </q-td>

        <q-td name="actions" align="right">
          <q-btn size="sm" flat dense icon="edit" @click="onClickEdit(props.row)" />
          <q-btn
              size="sm"
              flat
              dense
              icon="visibility"
              :to="{ name: 'applicationFormPreview', params: { id: props.row.id } }"
          />
          <q-btn size="sm" color="red" flat dense icon="delete" @click="onClickDelete(props.row)">
          </q-btn>
        </q-td>
      </q-tr>
    </template>
    <template #top-right>
      <language-switch
          v-if="companySettings?.multilingualEnabled && filter && filter.locale"
          :selected-locale="filter.locale"
          :icon-only="false"
          class="q-pr-sm"
          @change-lang="localeChanged"
      />
      <q-btn round icon="add">
        <popup-edit
            v-model="btnAdd"
            :title="$t('dialog.createApplicationForm')"
            :placeholder="$t('dialog.placeholderNameForm')"
            :label="$t('label.name')"
            @save="createForm"/>
      </q-btn>
    </template>
  </q-table>
  <confirm-delete
      v-if="selected_form!= null && dialogDelete"
      :id="selected_form.id"
      v-model="dialogDelete"
      :item-label="$t('dialog.deleteApplicationFormCaption',{ name: selected_form.attributes.name })"
      type="applicationForm"
      icon="delete"
      @deleted="onApplicationFormDeleted"
  >
  </confirm-delete>
  <apply-form-dialog
      v-model="show_application_form_dialog"
      persistent
      :form="selected_form"
      @hide="onHideAppFormDialog"
  ></apply-form-dialog>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { languageSwitch, applyFormDialog, countryIcon } from 'src/components';
//import { useQuasar } from 'quasar';
import { useI18n } from 'vue-i18n';

import { useCompanyStore, useFormStore } from 'src/stores';
import useTable from 'src/composables/table';
import { confirmDelete, popupEdit } from 'src/components';

const companyStore = useCompanyStore(),
    formStore = useFormStore();

const companySettings = ref(companyStore.settings);
const btnAdd = ref(null);
const dialogDelete = ref(false);
const tableRef = ref(null);
const selected_form = ref(null);
const show_application_form_dialog = ref(false)

//const $q = useQuasar(),
const { t } = useI18n(),
    { filter, onRequest, pagination, isLoading, rowsPerPage, data } = useTable('forms');

let columns = [
  {
    name: 'name',
    align: 'left',
    label: t('label.name'),
    sortable: true
  },
  {
    name: 'questions',
    align: 'left',
    label: t('label.questions'),
    sortable: false
  },
  {
    name: 'locale',
    align: 'left',
    label: t('label.language'),
    sortable: true
  },
  {
    name: 'actions',
    align: 'right',
    label: t('label.actions'),
    sortable: false
  }
];
const onApplicationFormDeleted=()=>{
  tableRef.value.requestServerInteraction();
}
const onClickEdit=(row)=>{
  selected_form.value=row
  show_application_form_dialog.value=true;
}
const onClickDelete=(row)=>{
  selected_form.value=row;
  dialogDelete.value=true;
}

function createForm(name: string) {
  formStore.save({ name: name, locale: filter.value.locale.substring(0, 2) }).then(result => {
    console.log(result);
    selected_form.value=formStore.form;
    show_application_form_dialog.value=true
  });
}

function localeChanged(value: string) {
  console.log('locale changed');
  filter.value.locale = value.substring(0, 2);
}
const onHideAppFormDialog=()=>{
  tableRef.value.requestServerInteraction()
}
</script>
