<template>
  <q-list>
    <div v-for="(e, i) in questions" :key="i" tag="label">
      <SingleChoice
          v-if="e.attributes.type=='singleOption'"
          v-model:answer="answers[i]"
          :question="e">
      </SingleChoice>
      <MultiSelection
          v-else-if="e.attributes.type=='multipleOptions'"
          v-model:answer="answers[i]"
          :question="e"/>
      <DateQuestion
          v-else-if="e.attributes.type=='date'"
          v-model:answer="answers[i]"
          :question="e"/>
      <BooleanQuestion
          v-else-if="e.attributes.type=='boolean'"
          v-model:answer="answers[i]"
          :question="e"/>
      <TextQuestion
          v-else-if="e.attributes.type=='text'"
          v-model:answer="answers[i]"
          :question="e">
      </TextQuestion>
      <NumberQuestion
          v-else-if="e.attributes.type=='number'"
          v-model:answer="answers[i]"
          :question="e"/>
      <FileQuestion
          v-else-if="e.attributes.type=='file'"
          v-model:answer="answers[i]"
          :question="e"/>
    </div>
  </q-list>
</template>

<script setup lang="ts">
import { onMounted, ref, watch } from 'vue';
import SingleChoice from 'components/forms/questions/SingleChoice.vue';
import MultiSelection from 'components/forms/questions/MultiSelection.vue';
import DateQuestion from 'components/forms/questions/DateQuestion.vue';
import BooleanQuestion from 'components/forms/questions/BooleanQuestion.vue';
import TextQuestion from 'components/forms/questions/TextQuestion.vue';
import NumberQuestion from 'components/forms/questions/NumberQuestion.vue';
import FileQuestion from 'components/forms/questions/FileQuestion.vue';


const props = defineProps({
  questions: {
    type: Array,
    default: null
  }
});
const answers = ref([]);
watch(()=>props.questions, currentVal=>{
  prepareAnswers(currentVal ?? [])
})
const prepareAnswers = (questions) => {
  questions.map(question => {
    answers.value.push({ question: question.attributes?.question, answer: null, type: question.attributes?.type })
  })
}
onMounted(() => {
  prepareAnswers(props.questions ?? [])
})
defineExpose({ answers: answers.value })
</script>
