<template>
  <q-item
    :clickable="isPreview ? false : true"
    :to="isPreview ? undefined : { name: jobRoute, params: { id: job.id } }"
  >
    <q-item-section v-if="!isPreview && !(fontClass === 'font-anton')" avatar>
      <q-img
        width="70px"
        fit="contain"
        :src="`${strapi}${job.attributes?.company?.data?.attributes?.logo?.data?.attributes?.url}`"
      />
    </q-item-section>
    <q-item-section>
      <div :class="`${fontClass} text-h4`">
        {{ job.attributes?.title ?? $t('label.unsolicitedApplication') }}
      </div>
      <div v-if="!(fontClass === 'font-anton')" class="text-h6">
        {{ job.attributes?.company?.data?.attributes?.name }}
      </div>
    </q-item-section>
  </q-item>
</template>

<script setup lang="ts">
import { routeName } from 'src/router/names'
import { computed } from 'vue';
import { useRoute } from 'vue-router'

const props = defineProps({
  job: {
    type: Object,
    default: () => ({})
  }
});

const strapi = import.meta.env.VITE_AUTH_URL;
const isPreview = computed(() => !(props.job.id > 0));

const jobRoute = computed(() => {
  let target;
  const route = useRoute();
  switch (route.name) {
    case routeName.applyHeadless:
      target = routeName.jobHeadless
      break;
    case routeName.applyPremium:
      target = routeName.jobPremium
      break;
    default:
      target = routeName.job
  }
  return target
})

const fontClass = computed(() => {
  let font;
  const route = useRoute();
  switch (route.name) {
    case routeName.applyPremium:
      font = 'font-anton'
      break;
    default:
      font = route.name
  }
  return font
})
</script>
