<template>
  <div>
    <div v-if="submitted">
      <h3>Your application has been sent. Thank you very much!</h3>
    </div>
    <div v-else>
      <q-form>
        <q-card>
          <q-card-section>
            <ApplicationFormHeadCard :job="job"/>
          </q-card-section>
          <q-card-section v-if="isApplicationFormDataAvailable">
            <contact-card
              :candidate="candidate"
              :fields-enabled="contactFieldsEnabled"
              @update:model-value="onChangeContactInfo"
            />
          </q-card-section>

          <q-card-section
            style="gap: 20px;padding:0 30px;"
            class="flex">
            <q-file
              v-if="applicationFormAttributes?.enablePhoto"
              v-model="photo"
              outlined
              dense
              :max-file-size="applicationFormAttributes?.maxUploadSizePhoto ?? 2097152"
              max-files="1"
              hide-bottom-space
              :hint="$t('help.maxFilesize', { size: humanStorageSize(applicationFormAttributes?.maxUploadSizePhoto ?? 2097152) })"
              style="flex: 1"
              accept="image/png, image/gif, image/jpeg"
              clearable
              :label="$t('help.addPhoto')"
              @clear="onRemovePhoto"
              @update:model-value="onChangePhoto"
            >
              <template #prepend>
                <q-icon name="attach_file"/>
              </template>
            </q-file>
            <q-file
              v-if="applicationFormAttributes?.enableAttachments"
              v-model="attachments"
              outlined
              dense
              :max-files="applicationFormAttributes?.maxUploadFiles ?? 1"
              :max-file-size="applicationFormAttributes?.maxUploadSizeAttachments ?? 10485760"
              hide-bottom-space
              :hint="`${t('help.maxFilesize', { size: humanStorageSize(applicationFormAttributes?.maxUploadSizeAttachments ?? 10485760) })} ${t('help.maxFiles', { amount: applicationFormAttributes?.maxUploadAttachments ?? 1 })}`"
              style="flex: 1"
              clearable
              :label="$t('help.addAttachments')"
              :multiple="(applicationFormAttributes?.maxUploadFiles ?? 1)>1"
              @clear="onAttachmentRemoved"
              @update:model-value="onAttachmentAdded">
              <template #prepend>
                <q-icon name="attach_file"/>
              </template>
            </q-file>
          </q-card-section>
          <q-card-section>
            <ApplicationFormQuestionList
              ref="questionRef"
              :questions="questions"
            />
          </q-card-section>
          <q-card-section class="q-ma-md">
            <PrivacyPolicy v-model:confirm-privacy-policy="confirmPrivacyPolicy"></PrivacyPolicy>
          </q-card-section>
          <q-card-actions align="center">
            <q-btn
              color="secondary"
              text-color="primary"
              glossy
              size="xl"
              no-caps
              :label="applyButtonText"
              :disable="preview || !confirmPrivacyPolicy || candidateStore.isLoading"
              :loading="candidateStore.isLoading"
              @click="onSubmit"
            />
          </q-card-actions>
        </q-card>
      </q-form>
    </div>
  </div>
</template>

<script setup lang="ts">
import { contactCard } from 'src/components';
import ApplicationFormHeadCard from 'components/forms/ApplicationFormHeadCard.vue';
import ApplicationFormQuestionList from 'components/forms/ApplicationFormQuestionList.vue';
import { useCandidateStore } from 'src/stores';
import { format } from 'quasar'
import { notificationService } from 'src/services/_singletons';
import { useI18n } from 'vue-i18n';
import { computed, ref } from 'vue';
import PrivacyPolicy from 'components/commons/PrivacyPolicy.vue';

const { t } = useI18n();
const { humanStorageSize } = format
const props = defineProps({
  form: {
    type: Object,
    default: () => ({})
  },
  job: {
    type: Object,
    default: () => ({})
  },
  candidate: {
    type: Object,
    default: () => ({})
  },
  preview: {
    type: Boolean,
    default: false
  }
});
const candidateStore = useCandidateStore();
const photo = ref(null);
const attachments = ref(null);
const confirmPrivacyPolicy = ref(false);
const submitted = ref(false);
const questionRef = ref(null);
const answers = ref([]);
const onChangeContactInfo = (value) => {
  candidateStore.candidate = value;
  if (attachments.value) {
    candidateStore.candidate = {
      ...candidateStore.candidate,
      attachments: attachments.value
    }
  }
  if (photo.value) {
    candidateStore.candidate = {
      ...candidateStore.candidate,
      photo: photo.value
    }
  }
};

const onSubmit = async () => {
  if (candidateStore.candidate) {
    if(questionRef.value) {
      answers.value = questionRef.value.answers;
    }
    const { id, ...data } = candidateStore.candidate;
    if (!data['firstname']) {
      notificationService.showError('First name fields is required.')
      return;
    }
    if (!data['lastname']) {
      notificationService.showError('Last name fields is required.')
      return;
    }
    if (applicationFormAttributes.value.cv == 'required' &&
      (!data['attachments'] ||
        data['attachments']?.length == 0)) {
      notificationService.showError('Please select at-least one file.')
      return;
    }
    const formData = new FormData();
    const fieldData = {};
    let i = 0;
    fieldData['answered_questions'] = answers.value.filter(answer => answer.answer != null && answer.type!='file');
    fieldData['job'] = props.job.id;
    fieldData['received_by'] = 'application_form';
    for (let key of Object.keys(data)) {
      if (key != 'attachments' && key != 'photo') {
        fieldData[key] = data[key];
      } else if (key == 'photo') {
        const file = data['photo'];
        formData.append('files.photo', file);
      } else if (key == 'attachments' && data[key]) {
        if(Array.isArray(data[key])){
          data[key].forEach((attachment, index) => {
            i = index;
            formData.append('files.attachments', attachment, index);
          })
        } else {
          i=0;
          formData.append('files.attachments', data[key], i);
        }
      }
    }
    const filesAnswers = answers.value.filter(item => item.type == 'file' && item.answer != null);
    if (filesAnswers && filesAnswers.length) {
      filesAnswers.forEach((answer) => {
        formData.append('files.attachments', answer.answer, String(i + i));
      })
    }
    formData.append('data', JSON.stringify(fieldData));
    await candidateStore.saveCandidateInFormData(formData, id).then(async response => {
      if (response.status == 200) {
        answers.value = [];
        submitted.value = true;
      }
    }).catch(error => {
      if (error.response.data?.error) {
        notificationService.showError(error.response.data.error.message)
      }
    });

  } else {
    notificationService.showError(t('notify.candidateSaveError'));
  }
};
const applicationFormAttributes = computed(() => {
  return props.job.attributes?.applicationForm?.data?.attributes;
})
const isApplicationFormDataAvailable = computed(() => {
  return applicationFormAttributes.value !== undefined;
});
const contactFieldsEnabled = computed(() => {
  const formAttributes = applicationFormAttributes.value;
  return {
    enableFirstname: formAttributes?.enableFirstname,
    enableLastname: formAttributes?.enableLastname,
    enablePhone: formAttributes?.enablePhone,
    enableEmail: formAttributes?.enableEmail,
    enableGender: formAttributes?.enableGender,
    enableStreet: formAttributes?.enableStreet,
    enablePostalcode: formAttributes?.enablePostalcode,
    enableCity: formAttributes?.enableCity,

  };
});

const applyButtonText = computed(() => {
  return applicationFormAttributes.value?.textApply ?? t('btn.applyText');
});

const questions = computed(() => {
  return applicationFormAttributes.value?.questions?.data ?? props.form?.attributes?.questions?.data
})

const onRemovePhoto = async () => {
  delete candidateStore.candidates?.photo;
};

const onChangePhoto = async (file) => {
  candidateStore.candidate = {
    ...candidateStore.candidate,
    photo: file,
  };
};

const onAttachmentRemoved = () => {
  candidateStore.candidate = {
    ...candidateStore.candidate,
    attachments: null
  };
}

const onAttachmentAdded = async (files) => {
  candidateStore.candidate = {
    ...candidateStore.candidate,
    attachments: files
  };
}
</script>
<style lang="scss">
.bms-q-uploader {
  .q-uploader__subtitle {
    display: none !important;
  }
}
</style>
