<template>
  <q-card dense flat>
    <q-card-section class="example-row-column-width">
      <div class="row flex label-stacked-above">
        <q-option-group
          v-if="fieldsEnabled.enableGender"
          v-model="data.gender"
          dense
          map-options
          emit-value
          :options="[
            { value: 'male', label: $t('label.salutationMale') },
            { value: 'female', label: $t('label.salutationFemale') },
            { value: 'diverse', label: $t('label.salutationDiverse') },
          ]"
          inline
          size="sm"
          :readonly="readonly"
          :label="$t('label.salutation')"
          class="col-12 q-mb-lg"
        />
        <BmsInput
          v-if="fieldsEnabled.enableFirstname"
          v-model="data.firstname"
          :label="$t('label.firstname') + '*'"
          placeholder=" "
          class="col-12 q-mb-lg"
          lazy-rules
          :readonly="readonly"
          stack-label
          :rules="[val => !!val || $t('rules.required')]"
        />
        <BmsInput
          v-if="fieldsEnabled.enableLastname"
          v-model="data.lastname"
          :label="$t('label.lastname') + '*'"
          placeholder=" "
          class="col-12  q-mb-lg"
          lazy-rules
          :readonly="readonly"
          stack-label
          :rules="[val => !!val ||  $t('rules.required')]"
        />
        <BmsInput
          v-if="fieldsEnabled.enableStreet"
          v-model="data.street"
          :label="$t('label.street') + '*'"
          placeholder=" "
          class="col-12  q-mb-lg"
          lazy-rules
          :readonly="readonly"
          stack-label
          :rules="[val => !!val ||  $t('rules.required')]"
        />
        <BmsInput
          v-if="fieldsEnabled.enablePostalcode"
          v-model="data.postalcode"
          :label="$t('label.postalcode') + '*'"
          placeholder=" "
          :class="classPostalcode()"
          lazy-rules
          :readonly="readonly"
          stack-label
          :rules="[val => !!val ||  $t('rules.required')]"
        />
        <BmsInput
          v-if="fieldsEnabled.enableCity"
          v-model="data.city"
          :label="$t('label.city') + '*'"
          placeholder=" "
          :class="classCity()"
          lazy-rules
          :readonly="readonly"
          stack-label
          :rules="[val => !!val ||  $t('rules.required')]"
        />
        <BmsInput
          v-if="fieldsEnabled.enableEmail"
          v-model="data.email"
          :class="classEmail()"
          :label="$t('btn.email') + '*'"
          placeholder=" "
          :rules="[(val, rules) => rules.email(val) || $t('rules.invalidEmail')]"
          lazy-rules
          :readonly="readonly"
          stack-label
        />
        <BmsInput
          v-if="fieldsEnabled.enablePhone"
          v-model="data.phone"
          :class="classPhone()"
          :label="$t('label.phone')"
          :readonly="readonly"
          placeholder=" "
          stack-label
        />
      </div>
    </q-card-section>
  </q-card>
</template>

<script setup lang="ts">
import { toRef, watch } from 'vue';
import BmsInput from 'components/commons/BmsInput.vue';

const props = defineProps({
  candidate: {
    type: Object,
    default: () => ({})
  },
  fieldsEnabled: {
    type: Object,
    default: null
  },
  readonly: {
    type: Boolean,
    default: false
  }
});
const emits = defineEmits(['update:modelValue']);

const data = toRef(props, 'candidate');
watch(
  () => data.value,
  newVal => {
    emits('update:modelValue', newVal);
  },
  { deep: true }
);

function classEmail() {
  return props.fieldsEnabled.enablePhone ? 'col-6 q-pr-sm ' : 'col-12';
}

function classPhone() {
  return props.fieldsEnabled.enableEmail ? 'col-6 q-pl-sm' : 'col-12';
}

function classCity() {
  return props.fieldsEnabled.enablePostalcode ? 'col-10 q-pl-sm  q-mb-lg' : 'col-12  q-mb-lg';
}

function classPostalcode() {
  return props.fieldsEnabled.enableCity ? 'col-2 q-pr-sm  q-mb-lg' : 'col-12  q-mb-lg';
}

</script>

<style lang="sass">

.label-stacked-above
  .q-field--dense.q-field--float .q-field__label
    top: -10px
    left: -10px

  .q-field--labeled.q-field--dense .q-field__native
    padding-top: 2px

</style>


