<template>
  <div class="subcontent">
    <navigation-bar @today="onToday" @prev="onPrev" @next="onNext" />
    <div class="row justify-center">
      <q-calendar-day
        ref="calendar"
        v-model="selectedDate"
        :weekday-class="onWeekdayClass"
        :interval-class="onIntervalClass"
        view="day"
        :max-days="10"
        :locale="locale"
        hour24-format="hour24"
        :drag-enter-func="onDragEnter"
        :drag-over-func="onDragOver"
        :drag-leave-func="onDragLeave"
        :drop-func="onDrop"
        :weekdays="weekdays"
        time-clicks-clamped
        :interval-start="16"
        :interval-minutes="30"
        :interval-count="24"
        use-navigation
        hoverable
        focusable
        droppable
        bordered
        :disabled-before="disabledBefore"
        :focus-type="['weekday', 'interval']"
        @change="onChange"
        @moved="onMoved"
        @click-date="onClickDate"
        @click-time="onClickTime"
        @click-interval="onClickInterval"
        @click-head-intervals="onClickHeadIntervals"
        @click-head-day="onClickHeadDay"
      >
        <template #day-body="{ scope: { timestamp, timeStartPos, timeDurationHeight } }">
          <template v-for="event in getEvents(timestamp.date)" :key="event.id">
            <div
              v-if="event.time !== undefined"
              draggable="true"
              class="my-event"
              :class="badgeClasses(event, 'body')"
              :style="badgeStyles(event, 'body', timeStartPos, timeDurationHeight)"
              @dragstart="v => onDragStart(v, event)"
              @click="event.clicked = event.subject"
            >
              <span class="title q-calendar__ellipsis">
                {{ event.subject }}<br v-if="event.subject" />
                {{ event.details }}
                <q-tooltip></q-tooltip>
              </span>
              <q-popup-edit
                v-slot="scope"
                :model-value="{
                  date: event.date,
                  time: event.time,
                  subject: event.subject,
                  details: event.details,
                  type: event.type,
                  id: event.id
                }"
                auto-save
                style="max-width: 200px"
                @save="onClickUpdate"
              >
                <q-input
                  v-model="scope.value.subject"
                  :label="$t('event.title')"
                  dense
                  autofocus
                  counter
                  @keyup.enter="scope.set"
                />
                <q-select
                  v-model="scope.value.type"
                  :label="$t('event.type')"
                  map-options
                  emit-value
                  :options="eventTypeOptions"
                  dense
                />
                <q-btn v-close-popup no-caps class="full-width q-mt-sm" :label="$t('btn.save')" />
              </q-popup-edit>
            </div>
          </template>
        </template>
      </q-calendar-day>
    </div>
  </div>
</template>

<script setup lang="ts">
import { QCalendarDay, addToDate, parseTimestamp, today } from '@quasar/quasar-ui-qcalendar/src/index.js';
import '@quasar/quasar-ui-qcalendar/src/QCalendarVariables.sass';
import '@quasar/quasar-ui-qcalendar/src/QCalendarTransitions.sass';
import '@quasar/quasar-ui-qcalendar/src/QCalendarDay.sass';

import { ref, computed, onMounted } from 'vue';
import NavigationBar from './NavigationBar.vue';
import { useEventStore, useAuthStore } from 'src/stores';
import { useI18n } from 'vue-i18n';
import { notificationService } from 'src/services/_singletons';

const props = defineProps({
  attendees: {
    type: Number,
    default: null
  },
  title: {
    type: String,
    default: ''
  },
  type: {
    type: String,
    default: 'multiple'
  }
});
const emit = defineEmits(['update']);

const appointment = ref(null);

const calendar = ref(null);
const { t } = useI18n();
const authStore = useAuthStore(),
  locale = ref(null);
const selectedDate = ref(today());
const weekdays = [1, 2, 3, 4, 5];
const eventStore = useEventStore();

const disabledBefore = computed(() => {
  let ts = parseTimestamp(today());
  ts = addToDate(ts, { day: 0 });
  return ts.date;
});

const eventTypeOptions = [
  { label: t('event.videocall'), value: 'videocall' },
  { label: t('event.onSite'), value: 'onSite' },
  { label: t('event.phone'), value: 'phone' }
];

const events = ref([]);
const draggedEvent = ref(null),
  droppedEvent = ref(null);

onMounted(() => {
  locale.value = authStore.user?.ui_language;
  fetchEvents();
});

const fetchEvents = async () => {
  await eventStore.fetchEvents();

  events.value = await eventStore.events.result.map(item => {
    const dateTime = new Date(item.attributes.date);

    const date = `${dateTime.getFullYear()}-${String(dateTime.getMonth() + 1).padStart(2, '0')}-${String(
      dateTime.getDate()
    ).padStart(2, '0')}`;

    const time = `${String(dateTime.getHours()).padStart(2, '0')}:${String(dateTime.getMinutes()).padStart(2, '0')}`;

    return {
      id: item.id,
      date: date,
      time: time,
      duration: item.attributes.duration,
      subject: item.attributes.subject,
      type: item.attributes.type,
      bgcolor: 'blue-6',
      details: time
    };
  });
  calendar.value.updateCurrent();
};

function getEvents(date) {
  return events.value.filter(i => i.date == date);
}

function onToday() {
  calendar.value.moveToToday();
}
function onPrev() {
  calendar.value.prev();
}
function onNext() {
  calendar.value.next();
}
function onMoved(data) {
  console.log('onMoved', data);
}
function onChange(data) {
  console.log('onChange', data);
}
function onClickDate(data) {
  console.log('onClickDate', data);
}

async function onClickTime(data) {
  const date = data.scope.timestamp.date;
  const time = data.scope.timestamp.time;
  let event = {
    date: `${date}`,
    time: time,
    subject: props.title,
    type: 'phone',
    duration: 30,
    description: `${time}`,
    recruiters: authStore.user?.id,
    candidates: props.attendees,
    bgcolor: 'blue-6'
  };
  let backendEvent = { ...event, date: `${date} ${time}` };
  /** when type is once then only one appointment can be created, and will be offline**/
  if (props.type == 'once') {
    if (appointment.value != null) {
      notificationService.showError('Only one appointment can be created.');
    } else {
      event = { id: -1, ...event };
      appointment.value = event;
      events.value.push(event);
      delete backendEvent.time;
      emit('update', backendEvent);
    }
    return;
  }

  appointment.value = event;
  await eventStore.save(backendEvent);
  events.value.push(event);
  emit('update', backendEvent);
  await fetchEvents();
}
function onClickInterval(data) {
  console.log('onClickInterval', data);
}
function onClickHeadIntervals(data) {
  console.log('onClickHeadIntervals', data);
}
function onClickHeadDay(data) {
  console.log('onClickHeadDay', data);
}
function onDragStart(event, item) {
  // eventStore.delete(item.id);
  event.dataTransfer.dropEffect = 'copy';
  event.dataTransfer.effectAllowed = 'move';
  event.dataTransfer.setData('id', item.id);
  console.log('onDragStart called', event, item);
  draggedEvent.value = item;
}
function onDragEnter(e, type, scope) {
  console.log('onDragEnter', e, type, scope);
  e.preventDefault();
  return true;
}

function onDragOver(e /*, type, scope*/) {
  // console.log('onDragOver', type, scope);
  e.preventDefault();
  return true;
}

function onDragLeave(e, type, scope) {
  console.log('onDragLeave', type, scope);
  return false;
}

async function onDrop(e, type, scope) {
  const id = e.dataTransfer.getData('id');
  droppedEvent.value = scope;
  const droppedDate = droppedEvent.value?.timestamp.date;
  const droppedTime = droppedEvent.value?.timestamp.time;
  const newDate = `${droppedDate} ${droppedTime}`;
  if (props.type == 'once' && id == -1) {
    console.log('Event ', newDate);
    /** update the selected/offline event time **/
    events.value = events.value.map(event => ({
      ...event,
      date: id == event.id ? droppedDate : event.date,
      time: id == event.id ? droppedTime : event.time,
      details: id == event.id ? droppedTime : event.time
    }));
    let event = events.value.find(item => item.id == id);
    if (event) {
      event = { ...event, date: `${event.date} ${event.time}` };
      delete event.time;
      emit('update', event);
    }
    return;
  }
  const item = {
    id: id,
    date: newDate
  };
  await updateEvent(item);
  emit('update', item);
  await fetchEvents();
  return false;
}

function badgeClasses(event, type) {
  const isHeader = type === 'header';
  return {
    [`text-white bg-${eventColor(event.type)}`]: true,
    'full-width': !isHeader && (!event.side || event.side === 'full'),
    'left-side': !isHeader && event.side === 'left',
    'right-side': !isHeader && event.side === 'right',
    'rounded-border': true
  };
}

function badgeStyles(event, type, timeStartPos = undefined, timeDurationHeight = undefined) {
  const s = {};
  if (timeStartPos && timeDurationHeight) {
    s.top = timeStartPos(event.time) + 'px';
    s.height = timeDurationHeight(event.duration) + 'px';
  }
  s['align-items'] = 'flex-start';
  return s;
}

async function updateEvent(item) {
  const id = item.id;
  delete item.id;
  await eventStore.update(item, id);
}

function onIntervalClass({ scope }) {
  return {
    droppable: scope.droppable === true
  };
}

const onClickUpdate = async item => {
  if (props.type == 'once' && item.id == -1) {
    item = { ...item, date: `${item.date} ${item.time}` };
    delete item.time;
    emit('update', item);
    return;
  }
  await updateEvent({ id: item.id, subject: item.subject, details: item.details, type: item.type });
  emit('update', item);
  await fetchEvents();
};
function onWeekdayClass({ scope }) {
  return {
    droppable: scope.droppable === true
  };
}

// function hasEvents(timestamp) {
//   return getEvents(timestamp).length > 0;
// }

function eventColor(type) {
  if (type == 'phone') return 'blue-6';
  if (type == 'videocall') return 'green-6';
  if (type == 'onSite') return 'grey-6';
  return 'orange';
}
</script>
<style lang="css">
.droppable {
  box-shadow: inset 0 0 0 1px rgba(0, 140, 200, 0.8);
}
</style>
<style lang="sass" scoped>
.inner-row
  height: 20px
  position: absolute
  top: 0
  right: 0
  left: 0
  display: flex
  flex-direction: row
  align-items: center
  vertical-align: middle
.my-event
  position: absolute
  font-size: 12px
  justify-content: center
  text-overflow: ellipsis
  overflow: hidden
  cursor: pointer
.title
  position: relative
  display: flex
  justify-content: center
  align-items: center
  height: 100%
.text-white
  color: white
.bg-green
  background: green
.bg-orange
  background: orange
.rounded-border
  border-radius: 2px
</style>
