<template>
  <q-dialog v-model="show_preview">
    <q-card style="width: 1200px; max-width: 70vw">
      <DialogBar>
        {{ $t('dialog.applicationFormPreview') }}
      </DialogBar>
      <q-card class="q-px-md q-py-sm">
        <q-card-section class="scroll dialog-card-content">
          <q-item>
            <q-item-section avatar>
              <q-avatar routed>
                <q-img
                    fit="contain"
                    :src="`${strapi}${company?.logo?.data?.attributes?.url}`"
                />
              </q-avatar>
            </q-item-section>
            <q-item-section>
              <div class="text-h4">
                {{ form.name }}
              </div>
              <div class="text-h6">
                {{ company?.name }}
              </div>
            </q-item-section>
          </q-item>
        </q-card-section>
        <q-card-section v-if="form.description">
          <p>{{ form.description }}</p>
        </q-card-section>
        <q-card-section>
          <contact-card
              :fields-enabled="contactFieldsEnabled"
              :candidate="{}">
          </contact-card>
        </q-card-section>
        <q-card-section style="padding: 0 30px 15px 30px">
          <q-separator/>
        </q-card-section>
        <q-card-section style="padding: 0 30px;">
          <div style="border: 1px solid #ccc;border-radius: 3px;padding: 10px">
            <strong>Application documents</strong>
            <div class="flex bms-files-picker q-mt-sm" style="gap: 10px">
              <q-file
                  v-if="form.coverletter!='hidden' && form.coverletter!=null"
                  v-model="coverLetter"
                  label="Select cover letter"
                  outlined
                  hide-bottom-space
                  dense
                  :hint="form.coverletter"
                  append
                  style="max-width: 350px">
                <template #prepend>
                  <q-icon name="attach_file"/>
                </template>
              </q-file>
              <q-file
                  v-if="form.cv!='hidden' && form.cv!=null"
                  v-model="cv"
                  label="Select cv"
                  outlined
                  hide-bottom-space
                  dense
                  :hint="form.cv"
                  append
                  style="max-width: 350px">
                <template #prepend>
                  <q-icon name="attach_file"/>
                </template>
              </q-file>
              <q-file
                  v-if="form.workCertificate!='hidden' && form.workCertificate!=null"
                  v-model="workCertificate"
                  label="Select work certificate"
                  outlined
                  hide-bottom-space
                  dense
                  :hint="form.workCertificate"
                  append
                  style="max-width: 350px">
                <template #prepend>
                  <q-icon name="attach_file"/>
                </template>
              </q-file>
              <q-file
                  v-if="form.certificate!='hidden' && form.certificate!=null"
                  v-model="certificate"
                  label="Select certificate"
                  outlined
                  hide-bottom-space
                  dense
                  :hint="form.certificate"
                  append
                  style="max-width: 350px">
                <template #prepend>
                  <q-icon name="attach_file"/>
                </template>
              </q-file>
              <q-file
                  v-if="form.diploma!='hidden' && form.diploma!=null"
                  v-model="diploma"
                  label="Select diploma"
                  outlined
                  hide-bottom-space
                  dense
                  :hint="form.diploma"
                  append
                  style="max-width: 350px">
                <template #prepend>
                  <q-icon name="attach_file"/>
                </template>
              </q-file>
              <q-file
                  v-if="form.portfolio!='hidden' && form.portfolio!=null"
                  v-model="portfolio"
                  label="Select diploma"
                  outlined
                  hide-bottom-space
                  dense
                  :hint="form.portfolio"
                  append
                  style="max-width: 350px">
                <template #prepend>
                  <q-icon name="attach_file"/>
                </template>
              </q-file>
            </div>
            <q-separator class="q-my-sm"/>
            <div class="flex" style="gap:10px">
              <q-file
                  v-if="form.enableAttachments"
                  v-model="attachments"
                  label="Add attachments"
                  outlined
                  hide-bottom-space
                  dense
                  multiple
                  append
                  style="max-width: 350px">
                <template #prepend>
                  <q-icon name="attach_file"/>
                </template>
              </q-file>
              <q-file
                  v-if="form.enablePhoto"
                  v-model="photo"
                  label="Add photo"
                  outlined
                  hide-bottom-space
                  dense
                  multiple
                  append
                  style="max-width: 350px">
                <template #prepend>
                  <q-icon name="attach_file"/>
                </template>
              </q-file>
            </div>
          </div>
        </q-card-section>
        <q-card-section>
          <ApplicationFormQuestionList :questions="form?.questions?.data ?? []"/>
        </q-card-section>
        <q-card-section style="padding: 15px 30px">
          <PrivacyPolicy v-model:confirm-privacy-policy="confirmPrivacyPolicy"></PrivacyPolicy>
        </q-card-section>
        <q-card-actions align="center">
          <div>
            <q-btn
                style="min-width: 160px;"
                color="secondary"
                text-color="primary"
                glossy
                size="lg"
                no-caps
                :label="form.textApply ?? $t('btn.applyText')"
                :disable="!confirmPrivacyPolicy"
            />
            <br/>
          </div>
        </q-card-actions>
      </q-card>
    </q-card>
  </q-dialog>
</template>
<script setup lang="ts">
import { ref, computed } from 'vue';
import DialogBar from 'components/commons/DialogBar.vue';
import ContactCard from 'components/forms/ContactCard.vue';
import PrivacyPolicy from 'components/commons/PrivacyPolicy.vue';
import ApplicationFormQuestionList from 'components/forms/ApplicationFormQuestionList.vue';

const show_preview = ref(false);

interface Props {
  form: object
}

const props = defineProps<Props>()
const strapi = import.meta.env.VITE_AUTH_URL;
const coverLetter = ref(null)
const cv = ref(null)
const workCertificate = ref(null)
const certificate = ref(null)
const diploma = ref(null)
const portfolio = ref(null)
const attachments = ref(null)
const photo = ref(null)
const confirmPrivacyPolicy = ref(false)
const company = computed(() => {
  return props.form?.company?.data?.attributes;
})
const contactFieldsEnabled = computed(() => {
  const form = props.form;
  return {
    enableFirstname: form?.enableFirstname,
    enableLastname: form?.enableLastname,
    enablePhone: form?.enablePhone,
    enableEmail: form?.enableEmail,
    enableGender: form?.enableGender
  };
});
console.log(JSON.stringify(props.form))
</script>

<style lang="scss">
.bms-files-picker {
  .q-field__bottom {
    padding: 2px 2px 0;
  }
}
</style>
