<template>
  <div class="row justify-center">
    <div class="q-pa-md q-gutter-sm row">
      <q-btn no-caps class="button" size="sm" outline text-color="blue-6" style="margin: 2px" @click="$emit('prev')">
        &lt; {{ $t('btn.previous') }}
      </q-btn>
      <q-btn no-caps class="button" size="sm" outline text-color="blue-6" style="margin: 2px" @click="$emit('today')">
        {{ $t('btn.today') }}
      </q-btn>
      <q-btn no-caps class="button" size="sm" outline text-color="blue-6" style="margin: 2px" @click="$emit('next')">
        {{ $t('btn.next') }} &gt;
      </q-btn>
    </div>
  </div>
</template>
