<template>
  <div class="row items-stretch">
    <div class="col-md-6 options-steps-container">
      <q-card class="q-mt-sm inactive-steps">
        <q-bar>{{ $t('dialog.inactive') }}</q-bar>
        <q-card-section class="full-width" align="center">
          <div
            v-for="(state, i) in disabledStates" :key="i" class="full-width q-py-sm"
            style="max-width: 200px;">
            <div v-if="state.teleport" :id="state.teleport"></div>
          </div>
        </q-card-section>
      </q-card>
      <q-card class="full-height active-steps">
        <q-bar>{{ $t('dialog.workflow') }}</q-bar>
        <q-card-section class="full-width" align="center">
          <draggable
            v-model="states"
            draggable=".item"
            item-key="id"
            :options="dragOptions"
            @start="drag=true" @end="drag=false">
            <template #item="{element,index}">
              <div class="full-width" :class="element.draggable && 'item' " style="max-width: 200px;">
                <Teleport
                  v-if="isLoaded"
                  :disabled="!element.teleport" :to="`#${element.teleport}`">
                  <q-item
                    :draggable="element.draggable"
                    clickable
                    :active="selectedStatesValue === element.value"
                    active-class="text-orange"
                    class="workflow-step"
                    @click="onClickStatesElement(element,index)"
                  >
                    <q-item-section avatar>
                      <q-icon :color="element.color" :name="element.icon"/>
                    </q-item-section>
                    <q-item-section>
                      {{ $t(element.label) }}
                    </q-item-section>
                    <q-icon
                      v-if="element.value!='applied' && !element.teleport"
                      style="right: 0;top: 0;margin-right: -10px;"
                      name="close"
                      class="cursor-pointer" @click.stop="onClickInactive(element,index)"></q-icon>
                  </q-item>
                </Teleport>
                <div
                  v-if="!element.teleport"
                  class="full-width justify-center"
                  style="line-height: 9px;"
                  align="center">
                  <svg class="item2" width="2" height="20">
                    <path
                      class="path"
                      d="M 0 0 L 0 40"
                      stroke-miterlimit="20"
                      fill="none"
                      stroke="orange"
                      stroke-width="20"
                    />
                  </svg>
                </div>
              </div>
            </template>
          </draggable>
        </q-card-section>
      </q-card>
    </div>
    <div class="col-md-6 q-pl-sm q-pr-sm">
      <q-card class="full-height">
        <q-bar>{{ $t('dialog.personsInvolved') }}:
          <q-space/>
          <strong>{{ $t(`status.${selectedStatesValue}`) }}</strong></q-bar>
        <template v-if="selectedStatesValue && settings && settings[selectedStatesValue]">
          <q-card-section
            v-for="(state,index) in settings[selectedStatesValue]"
            :key="index">
            <q-list>
              <q-item clickable>
                <q-item-section>
                  <q-item-label>
                    {{ $t(`${state.person}`) }}
                  </q-item-label>
                  <q-item-label caption>{{ $t(`${state.caption}`) }}</q-item-label>
                </q-item-section>
                <q-item-section side>
                  <q-toggle v-model="state.enabled"></q-toggle>
                </q-item-section>
              </q-item>
            </q-list>
            <q-markup-table v-if="state.rights && state.enabled" dense>
              <thead>
              <tr>
                <th class="text-left">{{ $t('label.read') }}</th>
                <th class="text-center">{{ $t('label.write') }}</th>
                <th class="text-center">{{ $t('label.delete') }}</th>
                <th class="text-right">{{ $t('label.execute') }}</th>
              </tr>
              <tr>
                <td>
                  <q-checkbox v-model="state.rights.read" dense outline/>
                </td>
                <td class="text-center">
                  <q-checkbox v-model="state.rights.write" dense outline/>
                </td>
                <td class="text-center">
                  <q-checkbox v-model="state.rights.delete" dense outline/>
                </td>
                <td align="right">
                  <BmsSelect
                    v-model="state.rights.execute"
                    :options="executeOptions"
                    multiple use-chips
                    emit-value
                    map-options
                    style="max-width: 200px;"
                  >
                  </BmsSelect>
                </td>
              </tr>
              </thead>
            </q-markup-table>
          </q-card-section>
        </template>
        <q-card-section v-else>
          <div class="row">
            <div :class="$q.dark.isActive ? 'bg-grey-9 q-pa-md wrap col-12' : 'bg-grey-3 q-pa-md wrap col-12'">
              {{ $t('dialog.pleaseSelectStep') }}
            </div>
          </div>
        </q-card-section>
      </q-card>
    </div>
    <div>
      <q-page-sticky position="bottom-right" :offset="[25, 20]">
        <div class="flex" style="gap: 10px">
          <q-btn label="Delete" color="red" @click="confirmDeleteDialog=!confirmDeleteDialog"/>
          <q-btn label="Save" color="primary" @click="onClickSave"/>
        </div>
      </q-page-sticky>
    </div>
    <confirm-delete
        v-if="workflow"
        :id="workflow.value"
        v-model="confirmDeleteDialog"
        type="companyWorkflow"
        icon="delete"
        :item-label="$t('dialog.confirmDeleteWorkflow')"
        @deleted="onWorkflowDeleted"
    />
  </div>
</template>

<script setup lang="ts">
import { ref, watch, onMounted, computed } from 'vue';
import { Workflow, WorkflowStates } from 'src/types';
import { candidateStatusOptions } from 'src/settings';
import BmsSelect from 'components/commons/BmsSelect.vue';
import draggable from 'vuedraggable';
import { useI18n } from 'vue-i18n';

import { useWorkflowStore } from 'src/stores';
import { notificationService } from 'src/services/_singletons';
import ConfirmDelete from 'components/fields/ConfirmDelete.vue';

// TODO: refactor

interface Props {
  workflow: Workflow
}


const emit = defineEmits(['updated']);

const props = defineProps<Props>();
const workflowStore = useWorkflowStore();
const dragOptions = { animation: 200 };
const drag = ref(false);
const confirmDeleteDialog = ref(false);
const states = ref(props.workflow.states);
const settings = ref(props.workflow.settings);
const selectedStatesValue = ref<string | null>('applied');
const isLoaded = ref<boolean>(false);
const { t } = useI18n();
const executeOptions = candidateStatusOptions.filter(option => ['underExamination', 'screening', 'interviews', 'testing', 'hired', 'canceled'].includes(option.value)).map(option => {
  return {
    label: t(option.label),
    value: option.value
  }
})
const disabledStates = computed(() => {
  return states.value?.filter(state => !state.enabled)
})

const onWorkflowDeleted = () => {
  emit('updated')
}
watch(() => props.workflow, (currentValue) => {
  states.value = currentValue.states;
  settings.value = currentValue.settings;
  hydrateWorkflow();
})

function onClickStatesElement(element: WorkflowStates, index: number) {
  states.value[index].teleport = null;
  selectedStatesValue.value = element.value;
}

const onClickInactive = (item, index: number) => {
  item.teleport = item.value;
  item.enabled = false;
  states.value[index] = item;
}

const onClickSave = async () => {
  const data = {
    states: states.value,
    settings: settings.value
  }

  await workflowStore.updateWorkflow(props.workflow.value, data).then((response) => {
    if (response.status == 200) {
      notificationService.showSuccess('Company workflow saved successfully.')
      emit('updated')
    }
  });
}

const hydrateStates = () => {
  if (states.value && states.value.length) {
    for (const option of candidateStatusOptions) {
     // const existsInStates = states.value.some(state => state.value === option.value);
      const index = states.value.findIndex(state=>state.value===option.value);
      if (index<0) {
        states.value.push({
          label: option.label,
          value: option.value,
          enabled: !option.disabled,
          icon: option.icon,
          color: option.color,
          teleport: null,
          draggable: option.draggable
        });
      }else{
          const state=states.value[index];
          states.value[index]={
            ...state,
            icon: state.icon ?? option.icon,
            color: state.color ?? option.color,
            draggable: option.draggable
          }
      }
    }
  } else {
    states.value = candidateStatusOptions.map((item) => {
      return {
        label: item.label,
        value: item.value,
        enabled: !item.disabled,
        teleport: null,
        icon: item.icon,
        color: item.color,
        draggable: item.draggable
      }
    })
  }
/*
  const hired = states.value.find((item) => item.value == 'hired');
  const canceled = states.value.find((item) => item.value == 'canceled');
  states.value = states.value.filter((item) => (item.value != 'hired' && item.value != 'canceled'));
  if (hired) {
    states.value.push(hired)
  }
  if (canceled) {
    states.value.push(canceled)
  }
*/
}
const hydrateSettings = () => {
  if (!settings.value) {
    settings.value = {};
    states.value.forEach((state) => {
      settings.value[state.value] = [
        {
          person: 'dialog.personnelDepartment',
          caption: 'dialog.personnelDepartmentCaption',
          enabled: true,
          rights: {
            read: true,
            write: false,
            execute: ['underExamination', 'screening'],
            delete: false
          }
        },
        {
          person: 'dialog.department',
          caption: 'dialog.departmentCaption',
          enabled: true,
          rights: {
            read: true,
            write: false,
            execute: ['underExamination', 'test'],
            delete: false
          }
        },
        {
          person: 'dialog.staffCouncil',
          caption: 'dialog.staffCouncilCaption',
          enabled: true,
          rights: null
        }
      ]
    })
  }
}
const hydrateWorkflow = async () => {
  await hydrateStates();
  await hydrateSettings();
}

onMounted(async () => {
  await hydrateWorkflow();
  isLoaded.value = true;
})
</script>

<style scoped>
.workflow-step {
  border: 1px solid lightgrey;
  border-radius: 4px;
}

.workflow-step:active {
  background-color: lightgoldenrodyellow;
}

.item1 .path {
  animation: draw 1.5s alternate linear forwards;
}

@keyframes draw {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 100;
  }
}

.item2 .path {
  stroke-dasharray: 4;
  stroke-dashoffset: 100;
  animation: flow 5s linear infinite;
}

@keyframes flow {
  100% {
    stroke-dashoffset: 0;
  }
}

.options-steps-container {
  display: flex;
  flex-direction: column;
}

.inactive-steps {
  order: 2;
  padding: 10px;
}

.active-steps {
  order: 1;
}
</style>
